/ .footer
/   .footer-content
/     This project is being tested privately among friends and family -- please share any feedback you have with us via 
/     %a{ href: "mailto:planit@longhou.se" } planit@longhou.se

.yml-creator{ ng_controller: 'ItinerariesCtrl.new' }

  %input{ type: "text", name: "baselocation", id: "baselocation", placeholder: "Enter a locale", ng_model: 'locale' }
  %input{ type: "text", name: "query", id: "query", placeholder: "Enter a destination", ng_model: 'destination'}
  %button{ id: "search", ng_click: 'search()', ng_on_enter_key: 'search()' } Search
  %textarea{ id: "result", style: "height: 500px", ng_bind: 'output'}