---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=-122.613144&lng=45.512043&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"message":"invalid lat/lng","value":12}}'
  recorded_at: Fri, 06 Feb 2015 01:40:41 GMT
- request:
    method: get
    uri: https://www.google.com/maps?output=json&q=Apizza%20Scholls,%204741%20SE%20Hawthorne%20Blvd,%20%20Portland,%20OR%2097215
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: 'while(1);{title:"Apizza Scholls, 4741 SE Hawthorne Blvd,  Portland,
        OR 97215 - Google Maps",url:"/maps?q=Apizza+Scholls,+4741+SE+Hawthorne+Blvd,++Portland,+OR+97215\x26ie=UTF8\x26hq=\x26hnear=",urlViewport:false,ei:"mhvUVLuKJMOLiwL96YCQDQ",form:{selected:"q",q:{q:"Apizza
        Scholls, 4741 SE Hawthorne Blvd,  Portland, OR 97215",what:"",near:""},d:{saddr:"",daddr:"",dfaddr:""},geocode:""},query:{type:"dq"},viewpor[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?ll=45.51215,-122.613068&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Apizza%20Scholls&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '158'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"warning":{"text":"There
        aren''t a lot of results for \"Apizza Scholls.\" Try something more general,
        reset your filters, or expand the search area."},"suggestedRadius":7140,"headerLocation":"Sunnyside","headerFullLocation":"Sunnyside,
        Portland","headerLocationGranularity":"neighborhood","query":"apizza scholls","totalResults":2,"suggestedBounds":{"ne":{"lat":45.51802977632225,"lng":-122.60983380040282},"sw":{"lat":45.51175791541323,"lng":-122.68265819154051}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4293c000f964a52038241fe3","name":"Apizza
        Scholls","contact":{"phone":"5032331286","formattedPhone":"(503) 233-1286","twitter":"apizzascholls"},"location":{"address":"4741
        SE Hawthorne Blvd","crossStreet":"at SE 47th Ave.","lat":45.512043,"lng":-122.613144,"distance":13,"postalCode":"97215","cc":"US","city":"Portland","state":"OR","country":"United
        States","formattedAddress":["4741 SE Hawthorne Blvd (at SE 47th Ave.)","Portland,
        OR 97215"]},"categories":[{"id":"4bf58dd8d48988d1ca941735","name":"Pizza Place","pluralName":"Pizza
        Places","shortName":"Pizza","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/food\/pizza_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":3133,"usersCount":1938,"tipCount":58},"url":"http:\/\/www.apizzascholls.com","price":{"tier":3,"message":"Expensive","currency":"$"},"hasMenu":true,"like":false,"rating":9.0,"ratingSignals":131,"menu":{"type":"Menu","label":"Menu","anchor":"View
        Menu","url":"https:\/\/foursquare.com\/v\/apizza-scholls\/4293c000f964a52038241fe3\/menu","mobileUrl":"https:\/\/foursquare.com\/v\/4293c000f964a52038241fe3\/device_menu"},"hours":{"status":"Open
        until 9:30 PM","isOpen":true},"specials":{"count":0,"items":[]},"photos":{"count":141,"groups":[{"type":"venue","name":"Venue
        photos","count":141,"items":[{"id":"4e642c12d164ddd5e685ccef","createdAt":1315187730,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/2RG3GFVAMQKCKDJITXHAVSD034RBNS0JD1KRAT43IQ3ZRQ5T.jpg","width":720,"height":537,"user":{"id":"12332736","firstName":"Tejandrea","gender":"female","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/ICEY35VPLNJRQSZH.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"featuredPhotos":{"count":1,"items":[{"id":"4e642c12d164ddd5e685ccef","createdAt":1315187730,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/2RG3GFVAMQKCKDJITXHAVSD034RBNS0JD1KRAT43IQ3ZRQ5T.jpg","width":720,"height":537,"user":{"id":"12332736","firstName":"Tejandrea","gender":"female","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/ICEY35VPLNJRQSZH.jpg"}},"visibility":"public"}]}},"flags":{"exactMatch":true},"tips":[{"id":"4d2be469ec272d43dd89394c","createdAt":1294722153,"text":"Thin-crust
        East Coast\/New Haven-style pizza, this southeast joint closes when they out
        of dough, which they stick in a 650-900-degree oven and char the daylights
        out of.  [Eater 38 Member]","type":"user","url":"http:\/\/pdx.eater.com\/places\/apizza-scholls","canonicalUrl":"https:\/\/foursquare.com\/item\/4d2be469ec272d43dd89394c","likes":{"count":73,"groups":[],"summary":"73
        likes"},"logView":true,"todo":{"count":64},"user":{"id":"3343327","firstName":"Eater","gender":"none","photo":{"prefix":"https:\/\/irs1.4sqi.net\/img\/user\/","suffix":"\/4HBAAMCL4WUF3IEU.png"},"type":"page"}}],"referralId":"e-0-4293c000f964a52038241fe3-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"snippets":{"count":1,"items":[{"detail":{"type":"tip","object":{"id":"5035a3ffe4b0573430c16746","createdAt":1345692671,"text":"Check
        out apizza scholls.  Best pizza I''ve ever had.","entities":[{"indices":[10,16],"type":"search_match"},{"indices":[17,24],"type":"search_match"}],"type":"user","canonicalUrl":"https:\/\/foursquare.com\/item\/5035a3ffe4b0573430c16746","logView":true,"todo":{"count":0},"user":{"id":"67904","firstName":"doak","lastName":"williford","gender":"male","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/NIRKUI5LUHVOQJ1C.jpg"}}}}}]},"venue":{"id":"4a3ab616f964a52024a01fe3","name":"Hilton
        Portland & Executive Tower","contact":{"phone":"5032261611","formattedPhone":"(503)
        226-1611","twitter":"hiltonhotels","facebook":"137619719644857","facebookUsername":"HiltonBonn","facebookName":"Hilton
        Bonn"},"location":{"address":"921 SW 6th Ave","crossStreet":"at SW Taylor
        St","lat":45.51774469173548,"lng":-122.67934799194335,"distance":5207,"postalCode":"97204","cc":"US","city":"Portland","state":"OR","country":"United
        States","formattedAddress":["921 SW 6th Ave (at SW Taylor St)","Portland,
        OR 97204"]},"categories":[{"id":"4bf58dd8d48988d1fa931735","name":"Hotel","pluralName":"Hotels","shortName":"Hotel","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/travel\/hotel_","suffix":".png"},"primary":true}],"verified":true,"stats":{"checkinsCount":10708,"usersCount":4583,"tipCount":44},"url":"http:\/\/www.hilton.com","like":false,"rating":7.6,"ratingSignals":42,"specials":{"count":0,"items":[]},"photos":{"count":290,"groups":[{"type":"venue","name":"Venue
        photos","count":290,"items":[{"id":"4f6181aee4b0fcf230018f3b","createdAt":1331790254,"prefix":"https:\/\/irs3.4sqi.net\/img\/general\/","suffix":"\/fiN9zYibdcWIKbHtFekmvK8n-NpOPVrDHEUdEu2V_tg.jpg","width":612,"height":612,"user":{"id":"297829","firstName":"Benton
        Kealii","lastName":"Pang, Ph.D.","gender":"male","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/PF2TNH43JZDSPX5P.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":1,"summary":"One
        person is checked in here","groups":[{"type":"others","name":"Other people
        here","count":1,"items":[]}]},"storeId":"PDXPHHH","featuredPhotos":{"count":1,"items":[{"id":"4f6181aee4b0fcf230018f3b","createdAt":1331790254,"prefix":"https:\/\/irs3.4sqi.net\/img\/general\/","suffix":"\/fiN9zYibdcWIKbHtFekmvK8n-NpOPVrDHEUdEu2V_tg.jpg","width":612,"height":612,"user":{"id":"297829","firstName":"Benton
        Kealii","lastName":"Pang, Ph.D.","gender":"male","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/PF2TNH43JZDSPX5P.jpg"}},"visibility":"public"}]}},"tips":[{"id":"5035a3ffe4b0573430c16746","createdAt":1345692671,"text":"Check
        out apizza scholls.  Best pizza I''ve ever had.","entities":[{"indices":[10,16],"type":"search_match"},{"indices":[17,24],"type":"search_match"}],"type":"user","canonicalUrl":"https:\/\/foursquare.com\/item\/5035a3ffe4b0573430c16746","logView":true,"todo":{"count":0},"user":{"id":"67904","firstName":"doak","lastName":"williford","gender":"male","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/NIRKUI5LUHVOQJ1C.jpg"}}}],"referralId":"e-0-4a3ab616f964a52024a01fe3-1"}]}]}}'
  recorded_at: Fri, 06 Feb 2015 01:40:43 GMT
recorded_with: VCR 2.9.3
