- title('Review Pending Save')
- set_page_type('review')

#show-marks-page

  - if current_user_owns(@mark)

    .band.spaced
      .container
        .sixteen.columns
          %strong.large.see-options= "See the Place you Wanted to Save?"
        .sixteen.columns.original-reminder= render 'marks/place_option_header', { mark: @mark, inbox: false, index: 0 }
      = render 'marks/place_option', { :mark => @mark }
