- title('Review Pending Save')
- page_type('review')

#show-marks-page

  .band.spaced-extra
    = render 'marks/place_options_context', { mark: @mark, inbox: false, index: 0 }
    = render 'marks/choose_place', { :mark => @mark }
