- title('Review Pending Save')
- page_type('review')

#show-marks-page

  .band.spaced
    .container
      .sixteen.columns
        .see-options.section-header= "See the Place you Wanted to Save?"
      .sixteen.columns.original-reminder= render 'marks/place_option_header', { mark: @mark, inbox: false, index: 0 }
    = render 'marks/place_option', { :mark => @mark }
