---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=47.6243785&lng=-122.3456918&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2015-02-12 07:20","lng":-122.3456918,"countryCode":"US","gmtOffset":-8,"rawOffset":-8,"sunset":"2015-02-12
        17:27","timezoneId":"America/Los_Angeles","dstOffset":-7,"countryName":"United
        States","time":"2015-02-11 16:46","lat":47.6243785}'
  recorded_at: Thu, 12 Feb 2015 00:46:38 GMT
recorded_with: VCR 2.9.3
