---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=San%20Francisco&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=ThisPlaceDoesntExist&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '294'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '496'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"geocode":{"what":"","where":"san
        francisco","center":{"lat":37.77493,"lng":-122.41942},"displayString":"San
        Francisco, CA, United States","cc":"US","geometry":{"bounds":{"ne":{"lat":37.833687,"lng":-122.34905},"sw":{"lat":37.708085,"lng":-122.536232}}},"slug":"san-francisco-california","longId":"72057594043319895"},"warning":{"text":"There
        aren''t a lot of results for \"ThisPlaceDoesntExist.\" Try something more
        general, reset your filters, or expand the search area."},"headerLocation":"San
        Francisco","headerFullLocation":"San Francisco","headerLocationGranularity":"city","query":"thisplacedoesntexist","totalResults":0,"groups":[{"type":"Recommended
        Places","name":"recommended","items":[]}]}}'
  recorded_at: Tue, 10 Feb 2015 17:51:23 GMT
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&near=San%20Francisco&query=ThisPlaceDoesntExist&v=20150226&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '[...]
[...]
