---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=37.78639&lng=-122.414982&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"2015-02-05 17:40","countryName":"United States","sunset":"2015-02-06
        17:38","rawOffset":-8,"dstOffset":-7,"countryCode":"US","gmtOffset":-8,"lng":-122.414982,"sunrise":"2015-02-06
        07:09","timezoneId":"America/Los_Angeles","lat":37.78639}'
  recorded_at: Fri, 06 Feb 2015 01:40:46 GMT
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?ll=37.78639,-122.414982&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Trocadero%20Club&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '298'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '497'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"warning":{"text":"There
        aren''t a lot of results for \"Trocadero Club.\" Try something more general,
        reset your filters, or expand the search area."},"suggestedRadius":2079,"headerLocation":"Tenderloin","headerFullLocation":"Tenderloin,
        San Francisco","headerLocationGranularity":"neighborhood","query":"trocadero
        club","totalResults":3,"suggestedBounds":{"ne":{"lat":37.78909870962785,"lng":-122.4009172421218},"sw":{"lat":37.73347741562165,"lng":-122.48175198363612}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":1,"items":[{"summary":"June
        L. (FB friend) liked this place","type":"social","reasonName":"facebookLikeReason","message":"June
        L. liked this place","count":1}]},"venue":{"id":"46596e96f964a52019471fe3","name":"Equinox
        Sports Club","contact":{"phone":"4156333900","formattedPhone":"(415) 633-3900","twitter":"equinox","facebook":"45802399400","facebookUsername":"Equinox","facebookName":"Equinox"},"location":{"address":"747
        Market St","crossStreet":"at Grant","lat":37.78657046899121,"lng":-122.40459154855427,"distance":914,"postalCode":"94103","cc":"US","city":"San
        Francisco","state":"CA","country":"United States","formattedAddress":["747
        Market St (at Grant)","San Francisco, CA 94103"]},"categories":[{"id":"4bf58dd8d48988d175941735","name":"Gym
        \/ Fitness Center","pluralName":"Gyms or Fitness Centers","shortName":"Gym
        \/ Fitness","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/building\/gym_","suffix":".png"},"primary":true}],"verified":true,"stats":{"checkinsCount":45710,"usersCount":2658,"tipCount":65},"url":"http:\/\/www.facebook.com\/equinox","like":false,"rating":9.3,"ratingSignals":286,"hours":{"status":"Open
        until 11:00 PM","isOpen":true},"specials":{"count":0,"items":[]},"photos":{"count":424,"groups":[]},"hereNow":{"count":3,"summary":"3
        people are checked in here","groups":[{"type":"others","name":"Other people
        here","count":3,"items":[]}]}},"tips":[{"id":"4d262fedc0772c0f1ff29e88","createdAt":1294348269,"text":"Grab
        a drink after your workout at Blu Restaurant & Bar. After all, you deserve
        it.","type":"user","canonicalUrl":"https:\/\/foursquare.com\/item\/4d262fedc0772c0f1ff29e88","likes":{"count":24,"groups":[],"summary":"24
        likes"},"logView":true,"todo":{"count":7},"user":{"id":"2371486","firstName":"Gilt
        City","gender":"none","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/J15FVNBKSX1MTWNT.jpg"},"type":"page"}}],"referralId":"e-0-46596e96f964a52019471fe3-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"51dc511e498e55380951d3de","name":"Trocadero
        Club","contact":{},"location":{"address":"701 Geary St","crossStreet":"Geary
        St. & Leavenworth St.","lat":37.82859509621589,"lng":-122.26729123685624,"distance":13812,"postalCode":"94109","cc":"US","city":"San
        Francisco","state":"CA","country":"United States","formattedAddress":["701
        Geary St (Geary St. & Leavenworth St.)","San Francisco, CA 94109"]},"categories":[{"id":"4bf58dd8d48988d11e941735","name":"Cocktail
        Bar","pluralName":"Cocktail Bars","shortName":"Cocktail","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/nightlife\/cocktails_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":73,"usersCount":23,"tipCount":2},"price":{"tier":3,"message":"Expensive","currency":"$"},"like":false,"specials":{"count":0,"items":[]},"photos":{"count":1,"groups":[{"type":"venue","name":"Venue
        photos","count":1,"items":[{"id":"526df39511d2f424800d9494","createdAt":1382937493,"prefix":"https:\/\/irs0.4sqi.net\/img\/general\/","suffix":"\/516329_f1UDRyk8GIi7paohrwEDxssFy9IuDW5Gxkm6cQ5AtBk.jpg","width":960,"height":720,"user":{"id":"516329","firstName":"Ricardo","lastName":"A.","gender":"male","photo":{"prefix":"https:\/\/irs0.4sqi.net\/img\/user\/","suffix":"\/516329-YKRFOC4H44ER0J3N.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"featuredPhotos":{"count":1,"items":[{"id":"526df39511d2f424800d9494","createdAt":1382937493,"prefix":"https:\/\/irs0.4sqi.net\/img\/general\/","suffix":"\/516329_f1UDRyk8GIi7paohrwEDxssFy9IuDW5Gxkm6cQ5AtBk.jpg","width":960,"height":720,"user":{"id":"516329","firstName":"Ricardo","lastName":"A.","gender":"male","photo":{"prefix":"https:\/\/irs0.4sqi.net\/img\/user\/","suffix":"\/516329-YKRFOC4H44ER0J3N.jpg"}},"visibility":"public"}]}},"flags":{"outsideRadius":true,"exactMatch":true},"tips":[{"id":"526d3b9c498e87a6e82c5a2d","createdAt":1382890396,"text":"a
        gorgeous new addition to the neighborhood.","type":"user","canonicalUrl":"https:\/\/foursquare.com\/item\/526d3b9c498e87a6e82c5a2d","logView":true,"todo":{"count":0},"user":{"id":"46471068","firstName":"Ben","lastName":"Larson","gender":"male","photo":{"prefix":"https:\/\/irs0.4sqi.net\/img\/user\/","suffix":"\/-ECLD4HQZ13DP4HBY.jpg"}}}],"referralId":"e-0-51dc511e498e55380951d3de-1"},{"reasons":{"count":0,"it[...]
- request:
    method: get
    uri: https://www.google.com/maps?output=json&q=Trocadero%20Club,%20San%20Francisco,%20California,%20United%20States
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: 'while(1);{title:"Trocadero Club, San Francisco, California, United
        States - Google Maps",url:"/maps?q=Trocadero+Club,+San+Francisco,+California,+United+States\x26ie=UTF8\x26hq=\x26hnear=",urlViewport:false,ei:"oBvUVMbwAsyDiQK0zoGgDQ",form:{selected:"q",q:{q:"Trocadero
        Club, San Francisco, California, United States",what:"",near:""},d:{saddr:"",daddr:"",dfaddr:""},geocode:""},query:{type:"dq"},viewport:{center[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=37.78639,-122.414982&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "701",
                       "short_name" : "701",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Geary Street",
                       "short_name" : "Geary St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Tenderloin",
                       "short_name" : "Tenderloin",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long[...]
