---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Amelia%20Island,%20Fla.&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Amelia Island",
                       "short_name" : "Amelia Island",
                       "types" : [ "natural_feature", "establishment" ]
                    },
                    {
                       "long_name" : "Nassau County",
                       "short_name" : "Nassau County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "32034",
                       "short_name" : "32034",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Amelia Island, Florida 32034, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 30.705708,
                          "lng" : -81.4267175
                       },
                       "southwest" : {
                          "lat" : 30.515759,
                          "lng" : -81.488119
                       }
                    },
                    "location" : {
                       "lat" : 30.6265697,
                       "lng" : -81.46085599999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.705708,
                          "lng" : -81.4267175
                       },
                       "southwest" : {
                          "lat" : 30.515759,
                          "lng" : -81.488119
                       }
                    }
                 },
                 "place_id" : "ChIJ1cmKF4lV5IgRG0ZcW9coKuU",
                 "types" : [ "natural_feature", "establishment" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 26 Mar 2015 17:12:28 GMT
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&near=Nassau%20County,%20Florida,%20United%20States&query=St.%20Peter%27s%20Episcopal%20Church%20Cemetery&v=20150326&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '246'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4745'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"response":{"geocode":{"what":"","where":"nassau
        county florida united states","center":{"lat":30.61058,"lng":-81.77142},"displayString":"Nassau
        County, FL, United States","cc":"US","geometry":{"bounds":{"ne":{"lat":30.829924,"lng":-81.346358},"sw":{"lat":30.273336999999998,"lng":-82.050331}}},"slug":"nassau-county-florida","longId":"72057594042093539"},"headerLocation":"Current
        map view","headerFullLocation":"Current map view","headerLocationGranularity":"unknown","query":"st
        peter''s episcopal church cemetery","totalResults":16,"suggestedBounds":{"ne":{"lat":30.690542548947047,"lng":-81.44621635669357},"sw":{"lat":30.22602196585787,"lng":-81.72646139824202}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4eee05efbe7b6d62012e0263","name":"St
        Peters Episcopal Church","contact":{},"location":{"lat":30.669427976988448,"lng":-81.45895476767303,"postalCode":"32034","cc":"US","city":"Fernandina
        Beach","state":"FL","country":"United States","formattedAddress":["Fernandina
        Beach, FL 32034","United States"]},"categories":[{"id":"4bf58dd8d48988d132941735","name":"Church","pluralName":"Churches","shortName":"Church","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/building\/religious_church_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":31,"usersCount":20,"tipCount":0},"specials":{"count":0,"items":[]},"photos":{"count":3,"groups":[{"type":"venue","name":"Venue
        photos","count":3,"items":[{"id":"532b8588498e83fb97b38637","createdAt":1395361160,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/7038172_Q9RvG7QPBvm1c_30WrPzI2mwcKjnqxsP-y0BWbJR-eI.jpg","width":960,"height":720,"user":{"id":"7038172","firstName":"Casey","lastName":"Walker","gender":"female","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/QXCS4BUBGKFBJJLL.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"featuredPhotos":{"count":1,"items":[{"id":"532b8588498e83fb97b38637","createdAt":1395361160,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/7038172_Q9RvG7QPBvm1c_30WrPzI2mwcKjnqxsP-y0BWbJR-eI.jpg","width":960,"height":720,"user":{"id":"7038172","firstName":"Casey","lastName":"Walker","gender":"female","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/QXCS4BUBGKFBJJLL.jpg"}},"visibility":"public"}]}},"flags":{"outsideRadius":true,"exactMatch":true},"referralId":"e-0-4eee05efbe7b6d62012e0263-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4ceb1478f86537046bbcc0c4","name":"St
        Peter''s Episcopal Church","contact":{},"location":{"address":"5042 Timuquana
        Rd","crossStreet":"Ortega Farms Blvd","lat":30.247136537816473,"lng":-81.71372298726254,"postalCode":"32210","cc":"US","city":"Jacksonville","state":"FL","country":"United
        States","formattedAddress":["5042 Timuquana Rd (Ortega Farms Blvd)","Jacksonville,
        FL 32210","United States"]},"categories":[{"id":"4bf58dd8d48988d132941735","name":"Church","pluralName":"Churches","shortName":"Church","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/building\/religious_church_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":169,"usersCount":28,"tipCount":0},"specials":{"count":0,"items":[]},"photos":{"count":0,"groups":[]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]}},"flags":{"outsideRadius":true,"exactMatch":true},"referralId":"e-0-4ceb1478f86537046bbcc0c4-1"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4fe74099e4b0b484a4e90f67","name":"St.
        Elizabeth''s Episcopal Church","contact":{"phone":"9047512626","formattedPhone":"(904)
        751-2626"},"location":{"address":"1735 Leonid Rd","lat":30.43028000273491,"lng":-81.6746305286127,"postalCode":"32218","cc":"US","city":"Jacksonville","state":"FL","country":"United
        States","formattedAddress":["1735 Leonid Rd","Jacksonville, FL 32218","United
        States"]},"categories":[{"id":"4bf58dd8d48988d132941735","name":"Church","pluralName":"Churches","shortName":"Church","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/building\/religious_church_",[...]
- request:
    method: get
    uri: https://www.google.com/maps?near=Amelia%20Island,%20Fla.&output=json&q=St.%20Peter%27s%20Episcopal%20Church%20Cemetery
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: 'while(1);{title:"St. Peter''s Episcopal Church Cemetery loc: Amelia
        Island, Fla. - Google Maps",url:"/maps?q=St.+Peter%27s+Episcopal+Church+Cemetery\x26near=Amelia+Island,+Fla.\x26ie=UTF8\x26hq=St.+Peter%27s+Episcopal+Church+Cemetery\x26hnear=Amelia+Island",urlViewport:false,ei:"_T0UVaXEHM3PigKX4YDwBg",form:{selected:"q",q:{q:"St.
        Peter''s Episcopa[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/4ceb1478f86537046bbcc0c4?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&v=20150326
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '20'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4744'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"response":{"venue":{"id":"4ceb1478f86537046bbcc0c4","name":"St
        Peter''s Episcopal Church","contact":{},"location":{"address":"5042 Timuquana
        Rd","crossStreet":"Ortega Farms Blvd","lat":30.247136537816473,"lng":-81.71372298726254,"postalCode":"32210","cc":"US","city":"Jacksonville","state":"FL","country":"United
        States","formattedAddress":["5042 Timuquana Rd (Ortega Farms Blvd)","Jacksonville,
        FL 32210","United States"]},"canonicalUrl":"https:\/\/foursquare.com\/v\/st-peters-episcopal-church\/4ceb1478f86537046bbcc0c4","categories":[{"id":"4bf58dd8d48988d132941735","name":"Church","pluralName":"Churches","shortName":"Church","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/building\/religious_church_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":169,"usersCount":31,"tipCount":0},"likes":{"count":0,"groups":[]},"dislike":false,"ok":false,"specials":{"count":0,"items":[]},"photos":{"count":0,"groups":[]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"reasons":{"count":0,"items":[]},"createdAt":1290474616,"tips":{"count":0,"groups":[{"type":"others","name":"All
        tips","count":0,"items":[]}]},"tags":[],"shortUrl":"http:\/\/4sq.com\/fEGqOz","timeZone":"America\/New_York","listed":{"count":0,"groups":[{"type":"others","name":"Lists
        from other people","count":0,"items":[]}]},"pageUpdates":{"count":0,"items":[]},"inbox":{"count":0,"items":[]},"venueRatingBlacklisted":true,"attributes":{"groups":[]}}}}'
  recorded_at: Thu, 26 Mar 2015 17:12:30 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=30.670939,-81.45853&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "ad[...]
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=30.670939&lng=-81.45853&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"2015-03-26 13:12","countryName":"United States","sunset":"2015-03-26
        19:41","rawOffset":-5,"dstOffset":-4,"countryCode":"US","gmtOffset":-5,"lng":-81.45853,"sunrise":"2015-03-26
        07:22","timezoneId":"America/New_York","lat":30.670939}'
  recorded_at: Thu, 26 Mar 2015 17:12:30 GMT
recorded_with: VCR 2.9.3
