.initial-tutorial{ ng_show: '!hasItems() && isLoaded && ( !hasLists() || list )' }
  #header-spacing.except-landscape
  .band.spaced
    .container.centered
      .column
        = image_tag 'tutorial_arrow.png', { ng_class: "{'pad-top-addbox': list}" }
    .container.centered
      .column{ ng_show: '!list && !hasLists()' }
        %strong.neon.large Start a List or Plan!
        .tutorial-image
          = image_tag "tutorial_plan_name.png"
        %strong.neon.large
          .tutorial-line Name your plan -- you can rename it at any time,
          .tutorial-line but this is what friends & family will see
          .tutorial-line when you share
      .column{ ng_show: 'list && !nearby' }
        %strong.neon.large Awesome!  Starting Where?
        %p Set a Location so You can Find Your Places
        = image_tag "tutorial_plan_nearby.png"
        %strong.neon.large
          .tutorial-line Where does your trip or list start?
          .tutorial-line You can change your location at any time,
          .tutorial-line we'll use it to find the places you search for
      .column{ ng_show: 'list && nearby', ng_class: "{'blur': hasOptions()}" }
        %strong.neon.large Cool! Now Add Places to your List
        %p When You've Found one, Just Press "Enter" or Click on It to Add
        = image_tag "tutorial_place_name.png"
        %strong.neon.large
          .tutorial-line Either search for specific places by name
          .tutorial-line or by category, if you like
