.plan-map-container{ ng_show: "list && items && mode == 'map'" }
  %plan_map.plan-map-canvas{ user_id: "list.user_id", web_padding: '45,45,15,400', mobile_padding: '40,15,80,15', zoom_control: 'true', show_map: "showMap", items: 'items', plan: 'list', set_nearby_from_center: 'nearbyFromMapCenter(center)' }
