.planbox-wrapper

  .start-a-new-guide{ ng_show: '!list && hasLists() && isLoaded' }
    .setplanbox-on-plan-page.start-where
      .start-a-new-plan Start a new plan:
      .input-and-results
        %input#plan-nearby{ name: "plan-nearby", type: 'text', placeholder: 'Where are you going?', ng_model: 'planNearby', ng_change: 'searchPlanNearby()', ng_on_enter_key: 'startListNearBestOption()' }
        %ul.suggested-results.blue{ ng_show: 'planNearby && planNearby.length>1' }
          %li.search-results-list{ ng_class: "{'highlighted': planNearbyOptionSelectable(option)}", ng_repeat: 'option in planNearbyOptions', ng_click: 'startListNear(option)' }
            %b {{ option.name }}
            {{ option.qualifiers }}
          %li.search-results-working{ ng_show: 'planNearbyWorking>0' } Working on it...
          %li.search-results-working{ ng_show: 'noPlanNearbyResults()' } Can't find that...
      = render 'application/rainbow_divider'

  .setplanbox-on-plan-page.set-guide{ ng_show: 'list' }

    .chosen-plan{ ng_show: 'list && !rename' }
      %span.title{ ng_click: 'renameList()' }
        {{ list.name }}
        %i.fa.fa-pencil.title{ ng_click: 'renameList()' }
      %i.fa.fa-cog.settings{ ng_show: 'items.length', ng_click: 'settingsBoxToggle()', ng_class: "{'opened': settingsBoxToggled}" }
    .chosen-plan.above-mask{ ng_show: 'list && rename' }
      %input.title#rename{ ng_model: 'rename', ng_on_enter_key: 'saveRenameList()', ng_on_esc_key: 'cancelRenameList()' }

  .settingsbox-on-plan-page{ ng_show: "list && ( settingsBoxToggled || rename )", ng_class: "{'in-rename': rename}" }
    .plan-settings-dropdown{ ng_show: '!rename && items.length' }= render 'header/dropdowns/plan_settings'
    .rename-confirmation{ ng_show: 'rename' }
      .planit-button.gray{ ng_click: 'cancelRenameList()' } Cancel          
      .planit-button.neon{ ng_click: 'saveRenameList()' } Save

  .addbox-wrapper{ ng_show: "userOwnsList && list && !rename && mode != 'trip' && !settingsBoxToggled" }

    .minimize-maximize-addbox{ ng_show: 'items.length', ng_click: "addBoxToggle()", ng_class: "{'opened': addBoxToggled}" }
      %i.fa{ ng_class: "{'fa-caret-up': addBoxToggled, 'fa-caret-down': !addBoxToggled}" }

    .addbox-on-plan-page{ ng_show: "addBoxToggled" }
      .input-and-results{ ng_show: '!nearby && list' }
        %input#place-nearby{ name: "place-nearby", type: 'text', placeholder: 'Explore what city or region?', ng_model: 'placeNearby', ng_change: 'searchPlaceNearby()', ng_on_enter_key: 'setNearBestOption()' }   
        %ul.suggested-results.blue{ ng_show: 'placeNearby && placeNearby.length>1 && ( placeNearbyWorking || placeNearbyOptions.length>0 )' }
          %li.search-results-list{ ng_class: "{'highlighted': placeNearbyOptionSelectable(option)}", ng_repeat: 'option in placeNearbyOptions', ng_click: 'setNearby(option)' }
            %b {{ option.name }}
            {{ option.qualifiers }}
          %li.search-results-working{ ng_show: 'placeNearbyWorking>0' } Working on it...
          %li.search-results-working{ ng_show: 'noPlaceNearbyResults()' } Can't find that...
        %span.set-location-reminder{ ng_show: '!placeNearby || !placeNearby.length>1' } 
          %i.fa.fa-arrow-left 
          Set Location

      .input-and-results{ ng_show: 'nearby && list' }
        %input#place-name{ name: "place-name", type: 'text', placeholder: 'What do you want to add in {{ nearby.name }}?', ng_model: 'placeName', ng_change: 'placeNameSearch()', ng_on_enter_key: "lazyAddItem()", ng_keydown: 'removeTagOnBackspace($event)', ng_on_esc_key: "placeNameOptions = []" }

        %ul.suggested-results.neon{ ng_show: 'placeName && placeName.length>1' }
          %li.search-results-list{ ng_repeat: 'option in placeNameOptions', ng_click: 'addItem(option)' }
            .bucket-list-tab
              %a{ ng_href: '{{option.href}}', target: '_self' }
                .bucket-list-no-img{ ng_show: "!option.image_url" }
                .bucket-list-img{ ng_show: "option.image_url", style: "background-image: url('{{ option.image_url }}');" }
              .bucket-list-wrap
                .bucket-list-profile
                  %a{ target: '_self' }
                    .bucket-list-title
                      {{ option.names[0] }}
                    .foursquare-and-info-wrap
                      %span.mini-foursquare-icon{ ng_show: "option.foursquare_icon", style: "background-image: url('{{ option.foursquare_icon }}');" }
                      .bucket-list-more-info
                        {{ option.categories.join(', ') }}
                      .bucket-list-more-info.locale-only
                        {{ option.localeDetails() }}
          %li.search-results-working{ ng_show: 'placeNameWorking>0' } Working on it...
          %li.search-results-reset{ ng_show: 'noPlaceNameResults()', ng_click: 'resetNearby()' }
            %b No results... 
            not looking in 
            %b {{ nearbyToReset() }}
            ?
        %span.reset-location{ ng_show: '!placeName || !placeName.length>1 || noPlaceNameResults()', ng_click: 'resetNearby()' } 
          %i.fa.fa-times 
          Change Location