---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=%7B%22val%22=%3Enil,%20%22source%22=%3E%22PlaceInProgress%22%7D,%20%7B%22val%22=%3Enil,%20%22source%22=%3E%22PlaceInProgress%22%7D,%20%7B%22val%22=%3Enil,%20%22source%22=%3E%22PlaceInProgress%22%7D&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Contigo&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '144'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":400,"errorType":"failed_geocode","errorDetail":"Couldn''t
        geocode param near: {\"val\"=>nil, \"source\"=>\"PlaceInProgress\"}, {\"val\"=>nil,
        \"source\"=>\"PlaceInProgress\"}, {\"val\"=>nil, \"source\"=>\"PlaceInProgress\"}"},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{}}'
  recorded_at: Thu, 08 Jan 2015 18:39:56 GMT
recorded_with: VCR 2.9.3
