---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Amelia%20Island,%20Fla.&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Amelia Island",
                       "short_name" : "Amelia Island",
                       "types" : [ "natural_feature", "establishment" ]
                    },
                    {
                       "long_name" : "Nassau County",
                       "short_name" : "Nassau County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "32034",
                       "short_name" : "32034",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Amelia Island, Florida 32034, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 30.705708,
                          "lng" : -81.4267175
                       },
                       "southwest" : {
                          "lat" : 30.515759,
                          "lng" : -81.488119
                       }
                    },
                    "location" : {
                       "lat" : 30.6265697,
                       "lng" : -81.46085599999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.705708,
                          "lng" : -81.4267175
                       },
                       "southwest" : {
                          "lat" : 30.515759,
                          "lng" : -81.488119
                       }
                    }
                 },
                 "types" : [ "natural_feature", "establishment" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 18 Nov 2014 20:11:50 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Alachua%20and%20Eighth%20Streets,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "resu[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Gainesville,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=St.%20Peter's%20Episcopal%20Church%20Cemetery&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '270'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '483'
      X-Ex:
      - fastly_cdn
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"geocode":{"what":"","where":"gainesville
        florida united states","center":{"lat":29.65163,"lng":-82.32483},"displayString":"Gainesville,
        FL, United States","cc":"US","geometry":{"bounds":{"ne":{"lat":29.778344999999998,"lng":-82.222335},"sw":{"lat":29.597890999999997,"lng":-82.422545}}},"slug":"gainesville-florida","longId":"72057594042084340"},"headerLocation":"Gainesville","headerFullLocation":"Gainesville","headerLocationGranularity":"city","query":"st
        peter''s episcopal church cemetery","totalResults":17,"suggestedBounds":{"ne":{"lat":30.51111808584793,"lng":-81.17166102801332},"sw":{"lat":28.73268025736149,"lng":-82.71559271295175}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4c6fe7959375a093f32e0537","name":"St.
        Andrew''s Episcopal Church","contact":{},"location":{"address":"2715 NW 39th
        Ave","lat":29.68736,"lng":-82.36281,"postalCode":"32605","cc":"US","city":"Gainesville","state":"FL","country":"United
        States","formattedAddress":["2715 NW 39th Ave","Gainesville, FL 32605"]},"categories":[],"verified":false,"stats":{"checkinsCount":47,"usersCount":12,"tipCount":0},"like":false,"specials":{"count":0,"items":[]},"photos":{"count":1,"groups":[{"type":"venue","name":"Venue
        photos","count":1,"items":[{"id":"522c7f0611d2de11f8ca60b8","createdAt":1378647814,"prefix":"https:\/\/irs1.4sqi.net\/img\/general\/","suffix":"\/50769337_5rQbbAU6IG5-sxB0vtL7H5gKO-0PCFBH7krxFLRj0Tk.jpg","width":720,"height":960,"user":{"id":"50769337","firstName":"Anna","lastName":"Raughley","gender":"female","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/MAJ20TF35I54L4MU.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"featuredPhotos":{"count":1,"items":[{"id":"522c7f0611d2de11f8ca60b8","createdAt":1378647814,"prefix":"https:\/\/irs1.4sqi.net\/img\/general\/","suffix":"\/50769337_5rQbbAU6IG5-sxB0vtL7H5gKO-0PCFBH7krxFLRj0Tk.jpg","width":720,"height":960,"user":{"id":"50769337","firstName":"Anna","lastName":"Raughley","gender":"female","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/MAJ20TF35I54L4MU.jpg"}},"visibility":"public"}]}},"referralId":"e-0-4c6fe7959375a093f32e0537-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4ceb1478f86537046bbcc0c4","name":"St
        Peter''s Episcopal Church","contact":{},"location":{"address":"5042 Timuquana
        Rd","crossStreet":"Ortega Farms Blvd","lat":30.247136537816473,"lng":-81.71372298726254,"postalCode":"32210","cc":"US","city":"Jacksonville","state":"FL","country":"United
        States","formattedAddress":["5042 Timuquana Rd (Ortega Farms Blvd)","Jacksonville,
        FL 32210"]},"categories":[{"id":"4bf58dd8d48988d132941735","name":"Church","pluralName":"Churches","shortName":"Church","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/building\/religious_church_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":172,"usersCount":29,"tipCount":0},"like":false,"specials":{"count":0,"items":[]},"photos":{"count":0,"groups":[]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]}},"flags":{"outsideRadius":true,"exactMatch":true},"referralId":"e-0-4ceb1478f86537046bbcc0c4-1"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"51a12d19498edfa823a5bb45","name":"St.
        James Episcopal Church","contact":{},"location":{"lat":30.164791,"lng":-82.645414,"cc":"US","city":"Lake
        City","state":"FL","country":"United States","formattedAddress":["Lake City,
        FL"]},"categories":[{"id":"4bf58dd8d48988d132941735","name":"Church","pluralName":"Churches","shortName":"Church","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/building\/religious_church_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":3,"usersCount":3,"tipCount":0},"like":false,"specials":{"count":0,"items":[]},"photos":{"count":0,"groups":[]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]}},"flags":{"outsideRadius":true},"referralId":"e-0-51a12d19498edfa823a5bb45-2"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4d5aab23d0332c0f506573da","name":"St
        Mark''s Episcopal Church","contact":{"phone":"3863281474","formattedPhone":"(386)
        328-1474"},"location":{"address":"200 Main St","lat":29.648573,"lng":-81.62944,"postalCode":"32177","cc":"US","city":"Palatka","state":"FL","country":"United
        States","formattedAddress":["200 Main St","Palatka, FL 32177"]},"categories":[{"id":"4bf58dd8d48988d132941735","name":"Church","pluralName":"Churches","shortName":"Church","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/building\/religious_church_","suffix":".png"},"primary":true}],"verified":false,"stat[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=4883%20Otis%20Trail,%20Fernandina%20Beach,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
       [...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=The%20Down%20Under&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '570'
      X-Ratelimit-Limit:
      - '500'
      X-[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=11th%20and%20Centre%20Streets,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Holly%20Hill,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Central%20Park&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '326'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '481'
      X-Ex:
      - fastly_cdn
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"fallbackCategory":{"target":{"type":"path","url":"\/venue\/explore","params":{"query":"Central
        Park","sw":"29.221108,-81.075466","ne":"29.267950,-81.023015"}},"refinements":[{"query":"outdoors
        & recreation"}]},"geocode":{"what":"","where":"holly hill florida united states","center":{"lat":29.24359,"lng":-81.03756},"displayString":"Holly
        Hill, FL, United States","cc":"US","geometry":{"bounds":{"ne":{"lat":29.266029999999997,"lng":-81.023754},"sw":{"lat":29.223414,"lng":-81.073713}}},"slug":"holly-hill-florida","longId":"72057594042086850"},"headerLocation":"Holly
        Hill","headerFullLocation":"Holly Hill","headerLocationGranularity":"city","quer[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=7500%20First%20Coast%20Highway,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "result[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Kelly%20Seahorse%20Ranch&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '199'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '480'
      X-Ex:
      - fastly_cdn
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"geocode":{"what":"","where":"fernandina
        beach florida united states","center":{"lat":30.66968,"lng":-81.46259},"displayString":"Fernandina
        Beach, FL, United States","cc":"US","geometry":{"bounds":{"ne":{"lat":30.705699,"lng":-81.42672999999999},"sw":{"lat":30.59947,"lng":-81.483409}}},"slug":"fernandina-beach-florida","longId":"72057594042082942"},"warning":{"text":"There
        aren''t a lot of results for \"Kelly Seahorse Ranch.\" Try something more
        general, reset your filters, or expand the search area."},"headerLocation":"Fernandina
        Beach","headerFullLocation":"Fernandina Beach","headerLocationGranularity":"city","query":"kelly
        seahorse ranch","totalResults":3,"suggestedBounds":{"ne":{"lat":30.598369090045214,"lng":-81.43662369772983},"sw":{"lat":30.51936168193924,"lng":-81.55324802145603}},"groups":[{"type":"Recommended
      [...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1408%20Lewis%20Street,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
  [...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Gourmet%20Gourmet&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '393'
      X-Ratelimit-Limit:
 [...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=2601%20Atlantic%20Avenue,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Fort%20Clinch%20State%20Park&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '255'
      X-Ratelim[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1%20South%20Front%20Street,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" :[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Brett's%20Waterway%20Caf%C3%A9&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '232'
      X-Ratel[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=801%20Beech%20Street,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
   [...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Beech%20Street%20Grill&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '305'
      X-Ratelimit-Lim[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=60%20Amelia%20Village%20Circle,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "result[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=60%20Amelia%20Village%20Circle&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '200'
      X-Ratel[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=22%20South%20Third%20Street,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" [...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Florida%20House%20Inn&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '384'
      X-Ratelimit-Limi[...]
[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Amelia%20Island%20Plantation&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '376'
      X-Ratelim[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=4750%20Amelia%20Island%20Parkway,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "resu[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=The%20Ritz-Carlton,%20Amelia%20Island&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '379'
      [...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=227%20South%20Seventh%20Street,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "result[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Fairbanks%20House&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '601'
      X-Ratelimit-Limit:
 [...]
