---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Amelia%20Island,%20Fla.&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Amelia Island",
                       "short_name" : "Amelia Island",
                       "types" : [ "natural_feature", "establishment" ]
                    },
                    {
                       "long_name" : "Nassau County",
                       "short_name" : "Nassau County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "32034",
                       "short_name" : "32034",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Amelia Island, Florida 32034, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 30.705708,
                          "lng" : -81.4267175
                       },
                       "southwest" : {
                          "lat" : 30.515759,
                          "lng" : -81.488119
                       }
                    },
                    "location" : {
                       "lat" : 30.6265697,
                       "lng" : -81.46085599999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.705708,
                          "lng" : -81.4267175
                       },
                       "southwest" : {
                          "lat" : 30.515759,
                          "lng" : -81.488119
                       }
                    }
                 },
                 "types" : [ "natural_feature", "establishment" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 24 Dec 2014 18:23:30 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Alachua%20and%20Eighth%20Streets,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "resu[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Gainesville,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=St.%20Peter's%20Episcopal%20Church%20Cemetery&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '322'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '488'
      X-Ex:
      - fastly_cdn
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"suggestedFilters":{"header":"Tap
        to show:","filters":[{"name":"Open now","key":"openNow"}]},"geocode":{"what":"","where":"gainesville
        florida united states","center":{"lat":29.65163,"lng":-82.32483},"displayString":"Gainesville,
        FL, United States","cc":"US","geometry":{"bounds":{"ne":{"lat":29.778344999999998,"lng":-82.222335},"sw":{"lat":29.597890999999997,"lng":-82.422545}}},"slug":"gainesville-florida","longId":"72057594042084340"},"headerLocation":"Gainesville","headerFullLocation":"Gainesville","headerLocationGranularity":"city","query":"st
        peter''s episcopal church cemetery","totalResults":34,"suggestedBounds":{"ne":{"lat":30.51111808584793,"lng":-81.24598135},"sw":{"lat":28.73268025736149,"lng":-82.71205365}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4b7c8953f964a5208c992fe3","name":"St.
        Augustine Catholic Church","contact":{},"location":{"address":"1738 W University
        Ave.","lat":29.652347677233344,"lng":-82.34618242767077,"postalCode":"32603","cc":"US","city":"Gainesville","state":"FL","country":"United
        States","formattedAddress":["1738 W University Ave.","Gainesville, FL 32603"]},"categories":[{"id":"4bf58dd8d48988d132941735","name":"Church","pluralName":"Churches","shortName":"Church","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/building\/religious_church_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":815,"usersCount":211,"tipCount":0},"like":false,"hours":{"isOpen":false},"specials":{"count":0,"items":[]},"photos":{"count":15,"groups":[{"type":"venue","name":"Venue
        photos","count":15,"items":[{"id":"507ddebee4b071c6755f9760","createdAt":1350426302,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/32786046_8JxVt40DHU2-w_VNrZv24Tu3tfqxYY89dKMidicg2H0.jpg","width":720,"height":540,"user":{"id":"32786046","firstName":"Ricardo","lastName":"Brown-Salazar","gender":"male","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/Y44UUR1VZPGRNPOU.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"featuredPhotos":{"count":1,"items":[{"id":"507ddebee4b071c6755f9760","createdAt":1350426302,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/32786046_8JxVt40DHU2-w_VNrZv24Tu3tfqxYY89dKMidicg2H0.jpg","width":720,"height":540,"user":{"id":"32786046","firstName":"Ricardo","lastName":"Brown-Salazar","gender":"male","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/Y44UUR1VZPGRNPOU.jpg"}},"visibility":"public"}]}},"referralId":"e-0-4b7c8953f964a5208c992fe3-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4d013aae6923721e9800c93b","name":"Holy
        Trinity Episcopal Church","contact":{},"location":{"address":"100 NE 1st St","lat":29.652853043924015,"lng":-82.3242925054039,"postalCode":"32601","cc":"US","city":"Gainesville","state":"FL","country":"United
        States","formattedAddress":["100 NE 1st St","Gainesvill[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=4883%20Otis%20Trail,%20Fernandina%20Beach,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
       [...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=The%20Down%20Under&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '498'
      X-Ratelimit-Limit:
      - '500'
      X-[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=11th%20and%20Centre%20Streets,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Central%20Park&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '340'
      X-Ratelimit-Limit:
      - '500'
      X-Rate[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=7500%20First%20Coast%20Highway,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "result[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Kelly%20Seahorse%20Ranch&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '157'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '485'
      X-Ex:
      - fastly_cdn
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"geocode":{"what":"","where":"fernandina
        beach florida united states","center":{"lat":30.66968,"lng":-81.46259},"displayString":"Fernandina
        Beach, FL, United States","cc":"US","geometry":{"bounds":{"ne":{"lat":30.705699,"lng":-81.42672999999999},"sw":{"lat":30.59947,"lng":-81.483409}}},"slug":"fernandina-beach-florida","longId":"72057594042082942"},"warning":{"text":"There
        aren''t a lot of results for \"Kelly Seahorse Ranch.\" Try something more
        general, reset your filters, or expand the search area."},"headerLocation":"Fernandina
        Beach","headerFullLocation":"Fernandina Beach","headerLocationGranularity":"city","query":"kelly
        seahorse ranch","totalResults":1,"suggestedBounds":{"ne":{"lat":30.524302757654958,"lng":-81.43977230289995},"sw":{"lat":30.521603097869516,"lng":-81.44407730380753}},"groups":[{"type":"Recommended
     [...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1408%20Lewis%20Street,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
  [...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Gourmet%20Gourmet&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '201'
      X-Ratelimit-Limit:
 [...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=2601%20Atlantic%20Avenue,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Fort%20Clinch%20State%20Park&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '297'
      X-Ratelim[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1%20South%20Front%20Street,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" :[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Brett's%20Waterway%20Caf%C3%A9&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '204'
      X-Ratel[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=801%20Beech%20Street,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
   [...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Beech%20Street%20Grill&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '230'
      X-Ratelimit-Lim[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=60%20Amelia%20Village%20Circle,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "result[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=60%20Amelia%20Village%20Circle&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '345'
      X-Ratel[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=22%20South%20Third%20Street,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" [...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Florida%20House%20Inn&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '403'
      X-Ratelimit-Limi[...]
[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Amelia%20Island%20Plantation&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '267'
      X-Ratelim[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=4750%20Amelia%20Island%20Parkway,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "resu[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=The%20Ritz-Carlton,%20Amelia%20Island&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '239'
      [...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=227%20South%20Seventh%20Street,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "result[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Fairbanks%20House&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '187'
      X-Ratelimit-Limit:
 [...]
