.main-menu-dropdown-content

  .active-user-menu{ ng_show: "m.currentUserIsActive" }

    %li.planit-dropdown-menu
      %a{ ng_click: 'm.resetList()' }
        {{ m.currentUserFirstName }}'s Planit
        %i.planit-dropdown-menu-icon.fa.fa-home.fa-fw
    %li.divider
    %li.planit-dropdown-menu
      %a{ href: invite_path, target: '_self' }
        Invite a Friend!
        %i.planit-dropdown-menu-icon.fa.fa-group.fa-fw
    %li.divider
    %li.planit-dropdown-menu
      %a{ href: edit_user_registration_path, target: '_self' }
        Update Account
        %i.planit-dropdown-menu-icon.fa.fa-user.fa-fw
    %li.planit-dropdown-menu
      %a{ href: legal_support_path, target: '_self' }
        Legal & Support
        %i.planit-dropdown-menu-icon.fa.fa-question.fa-fw
    %li.planit-dropdown-menu
      %a{ href: '#planit-modal-feedback', data: { toggle: 'modal', target: '#planit-modal-feedback', backdrop: 'static', keyboard: 'false' } }
        Share Feedback
        %i.planit-dropdown-menu-icon.fa.fa-share-square.fa-fw
    %li.divider
    %li.planit-dropdown-menu
      %a{ "data-method" => "delete", :href => destroy_user_session_path, :target => '_self' }
        Log Out
        %i.planit-dropdown-menu-icon.fa.fa-times.fa-fw

  .inactive-user-menu{ ng_show: "m.currentUserId && !m.currentUserIsActive" }

    %li.planit-dropdown-menu
      %a{ "data-method" => "delete", :href => destroy_user_session_path, :target => '_self' }
        Log Out
        %i.planit-dropdown-menu-icon.fa.fa-times.fa-fw

  .no-user-menu{ ng_show: "!m.currentUserId && !m.currentUserIsActive" }

    %li.planit-dropdown-menu
      %a{ href: new_user_session_path, target: '_self' }
        Log In
        %i.planit-dropdown-menu-icon.fa.fa-user.fa-fw
    %li.planit-dropdown-menu
      %a{ href: new_user_registration_path, target: '_self' }
        Sign Up
        %i.planit-dropdown-menu-icon.fa.fa-user.fa-fw