
    .dashboard-wrap
      .dashboard-content
        .ratings{ style: "background-image:url(#{image_path 'money_off.png'})"}
          %img{ src: "#{image_path 'money_on.png'}"}
        %br trip "persona"
        %br trip tags
      .dashboard-content
        .ratings{ style: "background-image:url(#{image_path 'star_off.png'})"}
          %img{ src: "#{image_path 'star_on.png'}"}
        %br
        %br [*][*][*][*][ ]
        %br author ratings
        %br trip trends
      .dashboard-content
        .ratings{ style: "background-image:url(#{image_path 'fruit_off.png'})"}
          %img{ src: "#{image_path 'fruit_on.png'}"}
        %br
        %br [o][o][o][o][ ]
        %br trip "completion"
        %br trip photo count