---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/search?fuzzy=0.8&lang=en&maxRows=10&q=the%20mission&type=json&username=planit
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalResultsCount":3,"geonames":[{"countryId":"3573591","adminCode1":"SGE","countryName":"Trinidad
        and Tobago","fclName":"city, village,...","countryCode":"TT","lng":"-60.95833","fcodeName":"populated
        place","toponymName":"The Mission","fcl":"P","name":"The Mission","fcode":"PPL","geonameId":3573616,"lat":"10.83103","adminName1":"Sangre
        Grande","population":0},{"countryId":"6252001","adminCode1":"CA","countryName":"United
        States","fclName":"city, village,...","countryCode":"US","lng":"-122.41914","fcodeName":"section
        of populated place","toponymName":"Mission District","fcl":"P","name":"Mission
        District","fcode":"PPLX","geonameId":5373628,"lat":"37.75993","adminName1":"California","population":0},{"countryId":"6252001","adminCode1":"PA","countryName":"United
        States","fclName":"spot, building, farm","countryCode":"US","lng":"-75.37528","fcodeName":"building(s)","toponymName":"The
        Mansion","fcl":"S","name":"The Mansion","fcode":"BLDG","geonameId":6339421,"lat":"40.05444","adminName1":"Pennsylvania","population":0}]}'
  recorded_at: Thu, 23 Apr 2015 17:41:18 GMT
- request:
    method: get
    uri: http://api.geonames.org/search?fuzzy=0.8&lang=en&maxRows=10&q=the%20mission&style=full&type=json&username=planit
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalResultsCount":3,"geonames":[{"timezone":{"gmtOffset":-4,"timeZoneId":"America/Port_of_Spain","dstOffset":-4},"bbox":{"east":-60.949171953826884,"south":10.822040351248246,"north":10.840027648751756,"west":-60.967486046173114},"asciiName":"The
        Mission","countryId":"3573591","fcl":"P","score":45.14613723754883,"countryCode":"TT","adminId1":"7521944","lat":"10.83103","fcode":"PPL","continentCode":"NA","adminCode1":"SGE","lng":"-60.95833","geonameId":3573616,"toponymName":"The
        Mission","population":0,"adminName5":"","adminName4":"","adminName3":"","adminName2":"","name":"The
        Mission","fclName":"city, village,...","countryName":"Trinidad and Tobago","fcodeName":"populated
        place","adminName1":"Sangre Grande"},{"timezone":{"gmtOffset":-8,"timeZoneId":"America/Los_Angeles","dstOffset":-7},"bbox":{"east":-122.41458699296925,"south":37.75633254049943,"north":37.763527459500565,"west":-122.42368820703075},"asciiName":"Mission
        District","countryId":"6252001","fcl":"P","score":39.903926849365234,"adminId2":"5391997","countryCode":"US","adminId1":"5332921","lat":"37.75993","fcode":"PPLX","continentCode":"NA","elevation":14,"adminCode2":"075","adminCode1":"CA","lng":"-122.41914","geonameId":5373628,"toponymName":"Mission
        District","population":0,"adminName5":"","adminName4":"","adminName3":"","alternateNames":[{"name":"http://en.wikipedia.org/wiki/Mission_District%2C_San_Francisco","lang":"link"}],"adminName2":"San
        Francisco County","name":"Mission District","fclName":"city, village,...","countryName":"United
        States","fcodeName":"section of populated place","adminName1":"California"},{"timezone":{"gmtOffset":-5,"timeZoneId":"America/New_York","dstOffset":-4},"asciiName":"The
        Mansion","countryId":"6252001","fcl":"S","score":1.3482595682144165,"adminId2":"5186677","countryCode":"US","adminId1":"6254927","lat":"40.05444","fcode":"BLDG","continentCode":"NA","elevation":137,"adminCode2":"045","adminCode1":"PA","lng":"-75.37528","geonameId":6339421,"toponymName":"The
        Mansion","population":0,"adminName5":"","adminName4":"","adminName3":"","adminName2":"Delaware
        County","name":"The Mansion","fclName":"spot, building, farm","countryName":"United
        States","fcodeName":"building(s)","adminName1":"Pennsylvania"}]}'
  recorded_at: Mon, 27 Apr 2015 16:48:13 GMT
- request:
    method: get
    uri: http://api.geonames.org/search?fuzzy=0.8&lang=en&maxRows=10&name_startsWith=the%20mission&style=full&type=json&username=planit
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"message":"query term is missing.","value":12}}'
  recorded_at: Mon, 27 Apr 2015 16:56:58 GMT
recorded_with: VCR 2.9.3
