---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/search?fuzzy=0.8&lang=en&maxRows=10&q=the%20mission&type=json&username=planit
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalResultsCount":3,"geonames":[{"countryId":"3573591","adminCode1":"SGE","countryName":"Trinidad
        and Tobago","fclName":"city, village,...","countryCode":"TT","lng":"-60.95833","fcodeName":"populated
        place","toponymName":"The Mission","fcl":"P","name":"The Mission","fcode":"PPL","geonameId":3573616,"lat":"10.83103","adminName1":"Sangre
        Grande","population":0},{"countryId":"6252001","adminCode1":"CA","countryName":"United
        States","fclName":"city, village,...","countryCode":"US","lng":"-122.41914","fcodeName":"section
        of populated place","toponymName":"Mission District","fcl":"P","name":"Mission
        District","fcode":"PPLX","geonameId":5373628,"lat":"37.75993","adminName1":"California","population":0},{"countryId":"6252001","adminCode1":"PA","countryName":"United
        States","fclName":"spot, building, farm","countryCode":"US","lng":"-75.37528","fcodeName":"building(s)","toponymName":"The
        Mansion","fcl":"S","name":"The Mansion","fcode":"BLDG","geonameId":6339421,"lat":"40.05444","adminName1":"Pennsylvania","population":0}]}'
  recorded_at: Thu, 23 Apr 2015 17:41:18 GMT
recorded_with: VCR 2.9.3
