= """

#{@user.first_name},

Thanks for signing up for Planit's Beta!  We're wrapping up a few initial features and will be opening to the public shortly.  When we do, you'll be the first we reach out to.  


The Planit Team

"""

