---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?ll=37.75,-122.434&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Contigo&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '150'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '498'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"warning":{"text":"There
        aren''t a lot of results for \"Contigo.\" Try something more general, reset
        your filters, or expand the search area."},"suggestedRadius":5436,"headerLocation":"Noe
        Valley","headerFullLocation":"Noe Valley, San Francisco","headerLocationGranularity":"neighborhood","query":"contigo","totalResults":3,"suggestedBounds":{"ne":{"lat":37.77208739612164,"lng":-122.41405508234732},"sw":{"lat":37.74422249388305,"lng":-122.4352317663816}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":1,"items":[{"summary":"Dan
        V. has been here","type":"social","reasonName":"friendAndSelfCheckinReason","message":"Dan
        V. has been here","count":1}]},"venue":{"id":"49c6bdfef964a52077571fe3","name":"Contigo","contact":{"phone":"4152850250","formattedPhone":"(415)
        285-0250","twitter":"contigosf"},"location":{"address":"1320 Castro St","crossStreet":"at
        24th St","lat":37.750985758393895,"lng":-122.4342691898346,"distance":112,"postalCode":"94114","cc":"US","city":"San
        Francisco","state":"CA","country":"United States","formattedAddress":["1320
        Castro St (at 24th St)","San Francisco, CA 94114"]},"categories":[{"id":"4bf58dd8d48988d150941735","name":"Spanish
        Restaurant","pluralName":"Spanish Restaurants","shortName":"Spanish","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/food\/spanish_","suffix":".png"},"primary":true}],"verified":true,"stats":{"checkinsCount":2929,"usersCount":1996,"tipCount":43},"url":"http:\/\/www.contigosf.com","price":{"tier":4,"message":"Very
        Expensive","currency":"$"},"hasMenu":true,"like":false,"rating":9.4,"ratingSignals":87,"reservations":{"url":"http:\/\/www.opentable.com\/single.aspx?rid=45052&ref=9601"},"menu":{"type":"Menu","label":"Menu","anchor":"View
        Menu","url":"https:\/\/foursquare.com\/v\/contigo\/49c6bdfef964a52077571fe3\/menu","mobileUrl":"https:\/\/foursquare.com\/v\/49c6bdfef964a52077571fe3\/device_menu"},"hours":{"status":"Closed
        until 5:30 PM","isOpen":false},"specials":{"count":0,"items":[]},"photos":{"count":128,"groups":[{"type":"venue","name":"Venue
        photos","count":128,"items":[{"id":"518efa1e498e9443a3c8f848","createdAt":1368324638,"prefix":"https:\/\/irs3.4sqi.net\/img\/general\/","suffix":"\/2261_a2HV5M7fSEIO1oiL0DHbvHMGdJ3xHEozUVUY0U5w0ag.jpg","width":612,"height":612,"user":{"id":"2261","firstName":"Lee","lastName":"Sherman","gender":"male","photo":{"prefix":"https:\/\/irs1.4sqi.net\/img\/user\/","suffix":"\/-4JRTUAND5EYXYRGF.png"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"featuredPhotos":{"count":1,"items":[{"id":"518efa1e498e9443a3c8f848","createdAt":1368324638,"prefix":"https:\/\/irs3.4sqi.net\/img\/general\/","suffix":"\/2261_a2HV5M7fSEIO1oiL0DHbvHMGdJ3xHEozUVUY0U5w0ag.jpg","width":612,"height":612,"user":{"id":"2261","firstName":"Lee","lastName":"Sherman","gender":"male","photo":{"prefix":"https:\/\/irs1.4sqi.net\/img\/user\/","suffix":"\/-4JRTUAND5EYXYRGF.png"}},"visibility":"public"}]}},"flags":{"exactMatch":true},"tips":[{"id":"4cf6c91911e76a31148aac3b","createdAt":1291241753,"text":"Because
        Brett Emerson had a vision and he''s stuck to it, creating the perfect neighborhood
        Bay Area-inflected Spanish restaurant. [Eater 38 Member]","type":"user","url":"http:\/\/sf.eater.com\/places\/contigo","canonicalUrl":"https:\/\/foursquare.com\/item\/4cf6c91911e76a31148aac3b","likes":{"count":73,"groups":[],"summary":"73
        likes"},"logView":true,"todo":{"count":60},"user":{"id":"3343327","firstName":"Eater","gender":"none","photo":{"prefix":"https:\/\/irs1.4sqi.net\/img\/user\/","suffix":"\/4HBAAMCL4WUF3IEU.png"},"type":"page"}}],"referralId":"e-0-49c6bdfef964a52077571fe3-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"snippets":{"count":1,"items":[{"detail":{"type":"tip","object":{"id":"53f79c18498e85581edacc75","createdAt":1408736280,"text":"Brett
        Emerson, chef of Contigo, eats here on his nights off. He loves the Sopa de
        pollo.","entities":[{"indices":[23,30],"type":"search_match"}],"type":"user","url":"http:\/\/www.chefsfeed.com\/cities\/3\/venues\/1111","canonicalUrl":"https:\/\/foursquare.com\/item\/53f79c18498e85581edacc75","logView":true,"todo":{"count":0},"user":{"id":"78888784","firstName":"Chefs
        Feed","gender":"none","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/78888784-4L2AQHMKQ0QFCZ1X.png"},"type":"page"}}}}]},"venue":{"id":"4a6ab0a4f964a520d9cd1fe3","name":"Los
        Panchos","contact":{"phone":"41[...]
