= stylesheet_link_tag 'sections/bookmarklet'

%form{ id: 'submit-form', action: scrape_api_v1_user_marks_path(@user), method: 'post' }
  = hidden_field_tag :url, @url, id: 'planit-current-url'

#planit-wrapper
  #planit-wrapper-shadow

    #planit-wrapper-content

      #planit-loading
        Working on it ;-)

      #planit-error
        Error.  Bummer ;-(

      #planit-success
        Success.

    #planit-noteWrap
      %input#planit-note.planit-input#planit-addNote{placeholder: "Note-to-Self?"}/

.planit-current-page-content{ style: 'display: none'}