%script{ type: 'text/ng-template', id: 'bucket_map.html' }
  .ng-map-div{"ng-class" => "{'expanded': expanded()}", "ng-cloak" => "true", render_html: true}
    .map-highlight-result#in-view-item{ ng_if: "mobile"}
      .bucket-item-container
        %ul
          %li{ ng_if: "cluster", class: "bucket-list-li", id: "in-view-li" }
            <bucket-list-clusters cluster='cluster' map='map' padding='padding'></bucket-list-clusters>
          %li{ ng_if: "place", class: "bucket-list-li", id: "in-view-li" }
            <bucket-list-places place='place'></bucket-list-places>
    .map-filter-results#in-view-list{ ng_if: "!mobile"}
      .bucket-list-container
        %ul
          #top-of-list
          %li{ class: "bucket-list-li-first", id: "first-bucket-item" }
            .bucket-list-tab
              .bucket-list-img#no-items-img{ style: "background-image: url('/assets/loader.gif'); background-size: 40% 40%;" }
              .bucket-list-wrap#no-items-msg= "Loading Places..."
          %li{ ng_repeat: "cluster in clustersInView", class: "bucket-list-li {{cluster.id}}", id: "{{cluster.id}}" }
            <bucket-list-clusters cluster='cluster' map='map' padding='padding'></bucket-list-clusters>
          %li{ ng_repeat: "place in placesInView", class: "bucket-list-li {{'p' + place.id}}", id: "{{'p' + place.id}}" }
            <bucket-list-places place='place'></bucket-list-places>
    = render 'templates/bucket_list_places'
    = render 'templates/bucket_list_clusters'

