%script{ type: 'text/ng-template', id: 'bucket_list_places.html' }
  .bucket-list-tab
    .bucket-list-no-img{ ng_if: "!place.hasImage()", ng_href: "/places/{{place.id}}" }
    .bucket-list-img{ ng_if: "place.hasImage()", ng_href: "/places/{{place.id}}", style: "background-image: url('{{place.images[0].url}}');" }
    .bucket-list-wrap
      .bucket-list-profile
        %a.bucket-list-title{ ng_href: "/places/{{place.id}}", target: '_self' }
          {{ place.name }}
        .bucket-list-more-info
          %i{ class: '{{place.meta_icon}}'}
          {{ place.categories.join(', ') }}

      .bucket-list-controls
        %place_control_bar{ place: 'place' }
