%script{ type: 'text/ng-template', id: 'cluster_control_bar.html' }
  .place-control-bar

    / .place-control
    /   %span.place-control-hint= "Add All to Guide"
    /   %i.fa.fa-book

    / .place-control.disabled
    /   %i.fa.fa-pencil

    / .place-control.disabled
    /   %i.fa.fa-check-square

    / .place-control.disabled
    /   %i.fa.fa-heart          

    / %a.place-control{ ng_if: "hasNoMarks()", save_places_on_click: '{{savePlaceIds()}}', success_function: "savedPlaces()" }
    /   %span.place-control-hint= "Save All {{places.length}}"
    /   %i.fa.fa-bookmark
    / %a.place-control{ ng_if: "!hasNoMarks() && !hasAllMarks()", save_places_on_click: '{{savePlaceIds()}}', success_function: "savedPlaces()" }
    /   %span.place-control-hint= "Save {{places.length - howManyMarks}} New"
    /   %i.fa.fa-bookmark
    / %a.place-control{ ng_if: "hasAllMarks()", remove_places_on_click: '{{removePlaceIds()}}', success_function: "removedPlaces()" }
    /   %span.place-control-hint= "Remove {{howManyMarks}}"
    /   %i.fa.fa-trash
