%script{ type: 'text/ng-template', id: 'full_site_search_field.html' }
  .place-search-bar
    .search-teaser{ ng_class: "{'full-width': fullWidth() }", ng_click: 'showSearch()' }
      %span#search-teaser-field
      %i.fa.fa-search.fa-lg
    .expanded-search-and-filter
      %search_and_add
      %button.close.search-close{ ng_click: 'hideSearch()' }
        %span ×
    
  - include_template( 'search_and_add' )