%script{ type: 'text/ng-template', id: 'full_site_search_field.html' }
  .place-search-bar{ ng_class: "{'full-width': showFilter }" }
    .search-teaser{ ng_class: "{'full-width': showFilter }", ng_click: 'showSearch()' }
      %span#search-teaser-field
      %i.fa.fa-search.fa-lg
    .expanded-search-and-filter
      .search-bar-wrap
        .input-group
          %input.form-control.input-with-clear#search-input-field{ name: "input-search", placeholder: "Search Places", type: "text", ng_model: 'query', ng_change: 'search()', ng_keydown: "handleKeydown($event)" }
          %span.clear-input-button#clear-search-input{ ng_show: 'query', ng_click: 'clearSearch()' } 
            %i.fa.fa-times-circle
          %span.input-group-btn
            %button.btn.btn-default#search-input-button{ type: "button", ng_click: 'search()' }
              %i.fa.fa-search.fa-lg
        .place-search-results{ ng_if: 'places.length' }
          %ul
            .search-results-container
              %li{ ng_repeat: 'place in places', ng_mouseenter: 'selectPlace(place)', ng_mouseleave: 'deselectPlace()', ng_class: '{highlighted: currentPlaceId == place.viewId}' }
                .bucket-list-tab
                  %a{ ng_href: '{{place.href}}' }
                    .bucket-list-no-img{ ng_if: "!place.image_url" }
                    .bucket-list-img{ alt: '{{place.image_source}}', ng_if: "place.image_url", style: "background-image: url('{{ place.image_url }}');" }
                  .bucket-list-wrap
                    .bucket-list-profile
                      %a{ ng_href: '{{place.href}}' }
                        .bucket-list-title
                          {{ place.name }}
                        .bucket-list-more-info
                          %i{ class: "{{ place.meta_icon }}"}
                          {{ place.categories.join(', ') }}
                  .see-on-map
                    %i 
      %button.close.search-close{ ng_click: 'hideSearch()' }
        %span ×
