%script{ type: 'text/ng-template', id: 'modal.html' }
  .modal.planit-modal.fade#planit-modal-new{ aria_hidden: "true", role: "dialog", tabindex: "-1", ng_if: 'data' } 
    .modal-dialog

      .modal-content{ ng_show: '!data.loading && !data.error' }
        %add_mark_place{ mark: 'data.mark', initiate: 'data.initiate', ng_if: "data.type == 'addMarkPlace' && (data.mark || data.initiate)", header_title: '{{title()}}' }
        %choose_mark_place{ mark: 'data.mark', ng_if: "data.type == 'chooseMarkPlace'", header_title: '{{title()}}' }

      .modal-content{ ng_show: 'data.loading || data.error' }
        .loading{ ng_show: 'data.loading' }
          %modal_header{ header_title: '{{title()}}' }
          .modal-body
            .message-box
              %i.fa.fa-spinner.fa-spin
              %span {{ loadingText() }}
          %modal_footer

        .error{ ng_show: 'data.error' }
          %modal_header{ header_title: '{{title()}}' }
          .modal-body
            .message-box
              %i.fa.fa-exclamation-triangle
              %span= "Something's gone wrong! We've been notified."
          %modal_footer