---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/?cid=1379784100016389818&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://maps.google.com/maps?cid=1379784100016389818&output=json
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://maps.google.com/maps?cid=1379784100016389818&amp;output=json\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Wed, 28 Jan 2015 03:21:40 GMT
- request:
    method: get
    uri: https://maps.google.com/maps?cid=1379784100016389818&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: 'while(1);{title:"Google Maps",url:"/maps?cid=1379784100016389818\x26ie=UTF8\x26hq=\x26hnear=",urlViewport:false,ei:"w1XIVOW5NeP5iwKkuIGgCw",form:{selected:"q",q:{q:"",what:"",near:""},d:{saddr:"",daddr:"",dfaddr:""},geocode:""},query:{type:"ld"},viewport:{center:{lat:0,lng:0,alt:{ll:"35128531713786037227",mode:2}},span:{lat:0.0062950000000000002,lng:0.00629500000[...]
[...]
