---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/?cid=1379784100016389818&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://maps.google.com/maps?cid=1379784100016389818&output=json
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://maps.google.com/maps?cid=1379784100016389818&amp;output=json\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Thu, 19 Mar 2015 18:36:14 GMT
- request:
    method: get
    uri: https://maps.google.com/maps?cid=1379784100016389818&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: while(1);{title:"Google Maps",url:"/maps?cid=1379784100016389818\x26ie=UTF8\x26hq=\x26hnear=",urlViewport:false,ei:"HhcLVaTeNeGNjAKn2oDgAQ",form:{selected:"q",q:{q:"",what:"",near:""},d:{saddr:"",daddr:""},geocode:""},query:{type:"ld"},viewport:{center:{lat:37.0625,lng:-95.677068000000006},span:{lat:23.875,lng:57.630032999999997},mapType:"",source:1},modules:["","p[...]
[...]
- request:
    method: get
    uri: https://maps.google.com/maps?cid=1379784100016389818&hnear=&hq=&ie=UTF8&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: 'while(1);{title:"Go[...]
[...]
