---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Delhi,%20India&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.08
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "New Delhi",
                       "short_name" : "New Delhi",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "West Delhi",
                       "short_name" : "West Delhi",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Delhi",
                       "short_name" : "DL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "India",
                       "short_name" : "IN",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "New Delhi, Delhi, India",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 28.889816,
                          "lng" : 77.3418147
                       },
                       "southwest" : {
                          "lat" : 28.4010669,
                          "lng" : 76.8396999
                       }
                    },
                    "location" : {
                       "lat" : 28.6139391,
                       "lng" : 77.2090212
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 28.889816,
                          "lng" : 77.3418147
                       },
                       "southwest" : {
                          "lat" : 28.4010669,
                          "lng" : 76.8396999
                       }
                    }
                 },
                 "place_id" : "ChIJLbZ-NFv9DDkRzk0gTkm3wlI",
                 "types" : [ "locality", "political" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Delhi",
                       "short_name" : "Delhi",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Rewa",
                       "short_name" : "Rewa",
                       "ty[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=New%20Delhi,%20West%20Delhi,%20Delhi,%20India&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Fatehpur%20Sikri&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '290'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":400,"errorType":"failed_geocode","errorDetail":"Couldn''t
        geocode param near: New Delhi, West Delhi, Delhi, India"},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{}}'
  recorded_at: Thu, 26 Feb 2015 22:47:33 GMT
- request:
    method: get
    uri: https://www.google.com/maps?near=Delhi,%20India&output=json&q=Fatehpur%20Sikri
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.08
    body:
      encoding: UTF-8
      string: 'while(1);{title:"Fatehpur Sikri loc: Delhi, India - Google Maps",url:"/maps?q=Fatehpur+Sikri\x26near=Delhi,+India\x26ie=UTF8\x26hq=Fatehpur+Sikri\x26hnear=New+Delhi,+Delhi,+India",urlViewport:false,ei:"hqLvVKalGMfawQG-x4GQBg",form:{selected:"q",q:{q:"Fatehpur
        Sikri loc: Delhi, India",what:"Fatehpur Sikri",near:"Delhi, India"},d:{saddr:"",daddr:"",dfaddr:"[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=false&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.08
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_compon[...]
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat&lng&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"message":"missing parameter ","value":12}}'
  recorded_at: Thu, 26 Feb 2015 22:47:35 GMT
recorded_with: VCR 2.9.3
