---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Amelia%20Island,%20Fla.&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.08
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Amelia Island",
                       "short_name" : "Amelia Island",
                       "types" : [ "natural_feature", "establishment" ]
                    },
                    {
                       "long_name" : "Nassau County",
                       "short_name" : "Nassau County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "32034",
                       "short_name" : "32034",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Amelia Island, Florida 32034, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 30.705708,
                          "lng" : -81.4267175
                       },
                       "southwest" : {
                          "lat" : 30.515759,
                          "lng" : -81.488119
                       }
                    },
                    "location" : {
                       "lat" : 30.6265697,
                       "lng" : -81.46085599999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.705708,
                          "lng" : -81.4267175
                       },
                       "southwest" : {
                          "lat" : 30.515759,
                          "lng" : -81.488119
                       }
                    }
                 },
                 "place_id" : "ChIJ1cmKF4lV5IgRG0ZcW9coKuU",
                 "types" : [ "natural_feature", "establishment" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 26 Feb 2015 22:51:50 GMT
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Nassau%20County,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=The%20Down%20Under&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '231'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '498'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"geocode":{"what":"","where":"nassau
        county florida united states","center":{"lat":30.61058,"lng":-81.77142},"displayString":"Nassau
        County, FL, United States","cc":"US","geometry":{"bounds":{"ne":{"lat":30.829924,"lng":-81.346358},"sw":{"lat":30.273336999999998,"lng":-82.050331}}},"slug":"nassau-county-florida","longId":"72057594042093539"},"warning":{"text":"There
        aren''t a lot of results for \"The Down Under.\" Try something more general,
        reset your filters, or expand the search area."},"headerLocation":"Current
        map view","headerFullLocation":"Current map view","headerLocationGranularity":"unknown","query":"the
        down under","totalResults":2,"suggestedBounds":{"ne":{"lat":30.81002353038005,"lng":-81.55615760532966},"sw":{"lat":30.41785852189782,"lng":-81.91365752823394}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"5480c513498e400fdf734ecd","name":"Walking
        down Ford Road in the dark","contact":{},"location":{"lat":30.435684204101562,"lng":-81.89740753173828,"cc":"US","state":"Florida","country":"United
        States","formattedAddress":["Florida"]},"categories":[{"id":"4bf58dd8d48988d159941735","name":"Trail","pluralName":"Trails","shortName":"Trail","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/parks_outdoors\/hikingtrail_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":0,"usersCount":0,"tipCount":0},"like":false,"specials":{"count":0,"items":[]},"photos":{"count":0,"groups":[]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]}},"referralId":"e-0-5480c513498e400fdf734ecd-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4edbec432c5b50aba06dda84","name":"Under
        The Pines Park","contact":{},"location":{"address":"1 Lewis And Clark Rd","lat":30.79219784817631,"lng":-81.5724076018253,"postalCode":"31558","cc":"US","city":"Saint
        Marys","state":"GA","country":"United States","formattedAddress":["1 Lewis
        And Clark Rd","Saint Marys, GA 31558"]},"categories":[{"id":"4bf58dd8d48988d1e7941735","name":"Playground","pluralName":"Playgrounds","shortName":"Playground","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/parks_outdoors\/playground_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":73,"usersCount":22,"tipCount":1},"like":false,"specials":{"count":0,"items":[]},"photos":{"count":3,"groups":[{"type":"venue","name":"Venue
        photos","count":3,"items":[{"id":"4edbf1980e011b46f045c993","createdAt":1323037080,"prefix":"https:\/\/irs3.4sqi.net\/img\/general\/","suffix":"\/CKO3S4PON33TBNZS4ABQBRD1LZXLUVR2V2CTAJHSDOTKMYSA.jpg","width":540,"height":720,"user":{"id":"15772660","firstName":"Ashley","lastName":"Maddox","gender":"female","photo":{"prefix":"https:\/\/irs1.4sqi.net\/img\/user\/","suffix":"\/5UQXHJFS5KS0FJ54.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"featuredPhotos":{"count":1,"items":[{"id":"4edbf1980e011b46f045c993","createdAt":1323037080,"prefix":"https:\/\/irs3.4sqi.net\/img\/general\/","suffix":"\/CKO3S4PON33TBNZS4ABQBRD1LZXLUVR2V2CTAJHSDOTKMYSA.jpg","width":540,"height":720,"user":{"id":"15772660","firstName":"Ashley","lastName":"Maddox","gender":"female","photo":{"prefix":"https:\/\/irs1.4sqi.net\/img\/user\/","suffix":"\/5UQXHJFS5KS0FJ54.jpg"}},"visibility":"public"}]}},"tips":[{"id":"4fbcfbbee4b083d188f413ba","createdAt":1337785278,"text":"MWR-Sponsored
        concert.","type":"user","canonicalUrl":"https:\/\/foursquare.com\/item\/4fbcfbbee4b083d188f413ba","logView":true,"todo":{"count":0},"user":{"id":"16533371","firstName":"Stephanie","lastName":"Davito","gender":"female","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/JB0OTVE5N0MS1W5A.jpg"}}}],"referralId":"e-0-4edbec432c5b50aba06dda84-1"}]}]}}'
  recorded_at: Thu, 26 Feb 2015 22:51:51 GMT
- request:
    method: get
    uri: https://www.google.com/maps?near=Amelia%20Island,%20Fla.&output=json&q=The%20Down%20Under
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.08
    body:
      encoding: UTF-8
      string: 'while(1);{title:"The Down Under loc: Amelia Island, Fla. - Google Maps",url:"/maps?q=The+Down+Under\x26near=Amelia+Island,+Fla.\x26ie=UTF8\x26hq=The+Down+Under\x26hnear=Amelia+Island",urlViewport:false,ei:"iKPvVLDoCsOAiwK6hIGwAw",form:{selected:"q",q:{q:"The
        Down Under loc: Amelia Island, Fla.",what:"The Down Under",near:"Amelia Island,
        Fla."},d:{[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?ll=30.679383,-81.591136&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=The%20Down%20Under&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '187'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '497'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"suggestedFilters":{"header":"Tap
        to show:","filters":[{"name":"Open now","key":"openNow"}]},"suggestedRadius":30000,"headerLocation":"Yulee","headerFullLocation":"Yulee","headerLocationGranularity":"city","query":"the
        down under","totalResults":12,"suggestedBounds":{"ne":{"lat":30.796331872808494,"lng":-81.18401041365208},"sw":{"lat":29.65198689502376,"lng":-82.15225087358859}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4b805c07f964a5202c6b30e3","name":"Florida
        \/ Georgia State Line","contact":{},"location":{"address":"Interstate 95","crossStreet":"btwn
        US 17 & St. Marys Rd.","lat":30.7443161920001,"lng":-81.65421545505524,"distance":9417,"postalCode":"32097","cc":"US","city":"Yulee","state":"FL","country":"United
        States","formattedAddress":["Interstate 95 (btwn US 17 & St. Marys Rd.)","Yulee,
        FL 32097"]},"categories":[{"id":"52f2ab2ebcbc57f1066b8b4b","name":"Border
        Crossing","pluralName":"Border Crossings","shortName":"Border Crossing","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/travel\/default_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":34144,"usersCount":18706,"tipCount":85},"like":false,"rating":7.9,"ratingSignals":291,"hours":{"status":"Likely
        open","isOpen":true},"specials":{"count":0,"items":[]},"photos":{"count":364,"groups":[{"type":"venue","name":"Venue
        photos","count":364,"items":[{"id":"5230c6fa11d2efdcdeb4e3dc","createdAt":1378928378,"prefix":"https:\/\/irs3.4sqi.net\/img\/general\/","suffix":"\/20087628_4U6zZrde3Q_a2weknQIg7ShQwDxFI_Jx5L1m7zl0VKM.jpg","width":960,"height":720,"user":{"id":"20087628","firstName":"Alison","lastName":"Christopher","gender":"female","photo":{"prefix":"https:\/\/irs1.4sqi.net\/img\/user\/","suffix":"\/20087628-3A3S3UDH3NFGJW23.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":1,"summary":"One
        person is checked in here","groups":[{"type":"others","name":"Other people
        here","count":1,"items":[]}]},"featuredPhotos":{"count":1,"items":[{"id":"5230c6fa11d2efdcdeb4e3dc","createdAt":1378928378,"prefix":"https:\/\/irs3.4sqi.net\/img\/general\/","suffix":"\/20087628_4U6zZrde3Q_a2weknQIg7ShQwDxFI_Jx5L1m7zl0VKM.jpg","width":960,"height":720,"user":{"id":"20087628","firstName":"Alison","lastName":"Christopher","gender":"female","photo":{"prefix":"https:\/\/irs1.4sqi.net\/img\/user\/","suffix":"\/20087628-3A3S3UDH3NFGJW23.jpg"}},"visibility":"public"}]}},"tips":[{"id":"4c6ae86c0cb99c74fa26621f","createdAt":1282074732,"text":"Its
        where FL and GA meet.","type":"user","canonicalUrl":"https:\/\/foursquare.com\/item\/4c6ae86c0cb99c74fa26621f","likes":{"count":24,"groups":[],"summary":"24
        likes"},"logView":true,"todo":{"count":2},"user":{"id":"2220892","firstName":"Ashley","lastName":"Muttillo","gender":"female","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/2220892-43PSHRKFX5SKTNGZ.jpg"}}}],"referralId":"e-0-4b805c07f964a5202c6b30e3-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4d84fa948de9721e87fd3c51","name":"Down
        Under","contact":{},"location":{"address":"2589 Woolery Dr","lat":30.348497836111115,"lng":-81.56286957968635,"distance":36933,"postalCode":"32277","cc":"US","city":"Jacksonville","state":"FL","country":"United
        States","formattedAddress":["2589 Woolery Dr","Jacksonville, FL 32277"]},"categories":[{"id":"4bf58dd8d48988d1d4941735","name":"Speakeasy","pluralName":"Speakeasies","shortName":"Speakeasy","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/nightlife\/secretbar_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":3,"usersCount":1,"tipCount":0},"price":{"tier":3,"message":"Expensive","currency":"$"},"like":false,"specials":{"count":0,"items":[]},"photos":{"count":0,"groups":[]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]}},"flags":{"outsideRadius":true,"exactMatch":true},"referralId":"e-0-4d84fa948de9721e87fd3c51-1"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4dfc011152b18923030add6b","name":"The
        Downtown Grill","contact":{"phone":"9049649253","formattedPhone":"(904) 964-9253"},"location":{"address":"301
        E Call St","lat":29.94384557620368,"lng":-82.10823994359147,"distance":95779,"postalCode":"32091","cc":"US","city":"Starke","state":"FL","country":"United
        States","formattedAddress":["301 E Call St","Starke, FL 32091"]},"categories":[{"id":"4bf58dd8d48988d1c4941735","name":"Restaurant","pluralName":"Restaurants","shortName":"Restaurant","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/food\/default_","suffix":".png"},"prim[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=30.679383,-81.591136&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.08
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "[...]
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=30.679383&lng=-81.591136&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"2015-02-26 17:51","countryName":"United States","sunset":"2015-02-26
        18:22","rawOffset":-5,"dstOffset":-4,"countryCode":"US","gmtOffset":-5,"lng":-81.591136,"sunrise":"2015-02-26
        06:56","timezoneId":"America/New_York","lat":30.679383}'
  recorded_at: Thu, 26 Feb 2015 22:51:54 GMT
recorded_with: VCR 2.9.3
