---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Amelia%20Island,%20Fla.&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Amelia Island",
                       "short_name" : "Amelia Island",
                       "types" : [ "natural_feature", "establishment" ]
                    },
                    {
                       "long_name" : "Nassau County",
                       "short_name" : "Nassau County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "32034",
                       "short_name" : "32034",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Amelia Island, Florida 32034, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 30.705708,
                          "lng" : -81.4267175
                       },
                       "southwest" : {
                          "lat" : 30.515759,
                          "lng" : -81.488119
                       }
                    },
                    "location" : {
                       "lat" : 30.6265697,
                       "lng" : -81.46085599999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.705708,
                          "lng" : -81.4267175
                       },
                       "southwest" : {
                          "lat" : 30.515759,
                          "lng" : -81.488119
                       }
                    }
                 },
                 "types" : [ "natural_feature", "establishment" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 15 Nov 2014 00:11:48 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=22%20S%203rd%20St,%20Florida,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
      [...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Fernandina%20Beach,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Florida%20House%20Inn&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '267'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '465'
      X-Ex:
      - fastly_cdn
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"geocode":{"what":"","where":"fernandina
        beach florida united states","center":{"lat":30.66968,"lng":-81.46259},"displayString":"Fernandina
        Beach, FL, United States","cc":"US","geometry":{"bounds":{"ne":{"lat":30.705699,"lng":-81.42672999999999},"sw":{"lat":30.59947,"lng":-81.483409}}},"slug":"fernandina-beach-florida","longId":"72057594042082942"},"headerLocation":"Fernandina
        Beach","headerFullLocation":"Fernandina Beach","headerLocationGranularity":"city","query":"florida
        house inn","totalResults":4,"suggestedBounds":{"ne":{"lat":30.671711360075687,"lng":-81.46110225315537},"sw":{"lat":30.669011700290245,"lng":-81.46477673582275}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4bc44ea1dce4eee17915729d","name":"1857
        Florida House Inn","contact":{},"location":{"address":"20 S 3rd St","lat":30.670361530182966,"lng":-81.46293949448905,"postalCode":"32034","cc":"US","city":"Amelia
        Island","state":"FL","country":"United States","formattedAddress":["20 S 3rd
        St","Amelia Island, FL 32034"]},"categories":[{"id":"4bf58dd8d48988d1fa931735","name":"Hotel","pluralName":"Hotels","shortName":"Hotel","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/travel\/hotel_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":196,"usersCount":143,"tipCount":4},"like":false,"specials":{"count":0,"items":[]},"photos":{"count":21,"groups":[{"type":"venue","name":"Venue
        photos","count":21,"items":[{"id":"521bad4311d2e9bb620f51d8","createdAt":1377545539,"prefix":"https:\/\/irs3.4sqi.net\/img\/general\/","suffix":"\/123432_fWKieH6SjNryGnZ9Pv3WhGOl5j1LWoU6NVpDtKKJOiI.jpg","width":959,"height":717,"user":{"id":"123432","firstName":"Kim","lastName":"Geralds","gender":"female","photo":{"prefix":"https:\/\/irs0.4sqi.net\/img\/user\/","suffix":"\/QGFR2ENSY45IKPYP.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"featuredPhotos":{"count":1,"items":[{"id":"521bad4311d2e9bb620f51d8","createdAt":1377545539,"prefix":"https:\/\/irs3.4sqi.net\/img\/general\/","suffix":"\/123432_fWKieH6SjNryGnZ9Pv3WhGOl5j1LWoU6NVpDtKKJOiI.jpg","width":959,"height":717,"user":{"id":"123432","firstName":"Kim","lastName":"Geralds","gender":"female","photo":{"prefix":"https:\/\/irs0.4sqi.net\/img\/user\/","suffix":"\/QGFR2ENSY45IKPYP.jpg"}},"visibility":"public"}]}},"flags":{"exactMatch":true},"tips":[{"id":"4e9105a1f5b9f8967cef655b","createdAt":1318127009,"text":"This
        place is amazing.....be sure to check out the courtyard, it is beautiful and
        then sit awhile on the large front porch....so peaceful","type":"user","canonicalUrl":"https:\/\/foursquare.com\/item\/4e9105a1f5b9f8967cef655b","likes":{"count":3,"groups":[],"summary":"3
        likes"},"logView":true,"todo":{"count":1},"user":{"id":"10102494","firstName":"Becky","lastName":"Sandefur-Newport","gender":"female","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/2NXUKSGYSS3UV455.jpg"}}}],"referralId":"e-0-4bc44ea1dce4eee17915729d-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4bc4535bdce4eee13418729d","name":"Hilton
        Garden Inn","contact":{},"location":{"address":"13503 Ranch Rd","crossStreet":"near
        Jax Int''l Airport","lat":30.481686537885047,"lng":-81.65077572035837,"postalCode":"32218","cc":"US","city":"Jacksonville","state":"FL","country":"United
        States","formattedAddress":["13503 Ranch Rd (near Jax Int''l Airport)","Jacksonville,
        FL 32218"]},"categories":[{"id":"4bf58dd8d48988d1fa931735","name":"Hotel","pluralName":"Hotels","shortName":"Hotel","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/travel\/hotel_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":851,"usersCount":453,"tipCount":5},"like":false,"rating":7.7,"ratingSignals":8,"specials":{"count":0,"items":[]},"photos":{"count":10,"groups":[{"type":"venue","name":"Venue
        photos","count":10,"items":[{"id":"517528cee4b043edd33a276a","createdAt":1366632654,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/7406846_M8cy30YgxbHiaMi4CrLNkhfL7ctEOl5aAvNjM43EqUA.jpg","width":720,"height":960,"user":{"id":"7406846","firstName":"Chris","lastName":"Krystalowich","gender":"male","photo":{"prefix":"https:\/\/irs0.4sqi.net\/img\/user\/","suffix":"\/7406846-43LPKRYMNMLCAL3C.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"featuredPhotos":{"count":1,"items":[{"id":"517528cee4b043edd33a276a","createdAt":1366632654,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/7406846_M8cy30YgxbHiaMi4CrLNkhfL7ctEOl5aAvNjM43EqUA.jpg","width":720,"height":960,"user":{"id":"7406846","firstName":"Chris","lastName":"Krystalowich","gender":"male","photo":{"prefix":"https:\/\/irs0.4sqi.net\/img\/user\/","suffix":"\/7406846-43LPKRYMNMLCAL3C.jpg"}},"visibility":"public"}]}},"flags":{"outsideRadius":true},"tips":[{"id":"4fe91769e4b009a8115eb359","createdAt":1340675945,"text":"Try
        the Grilled Salmon With Bacon And Brie Mashed Potatoes - Super delish!","type":"user","canonicalUrl":"https:\/\/foursquare.com\/item\/4fe91769e4b009a8115eb359","likes":{"count":1,"groups":[],"summary":"1
        like"},"logView":true,"todo":{"count":0},"user":{"id":"14710050","firstName":"Pinky","lastName":"Lee","gender":"female","photo":{"prefix":"https:\/\/irs0.4sqi.net\/img\/user\/","suffix":"\/XGJNZAIFM[...]
