---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=48.851946&lng=2.338757&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2015-01-03 08:44","lng":2.338757,"countryCode":"FR","gmtOffset":1,"rawOffset":1,"sunset":"2015-01-03
        17:06","timezoneId":"Europe/Paris","dstOffset":2,"countryName":"France","time":"2015-01-03
        18:42","lat":48.851946}'
  recorded_at: Sun, 01 Mar 2015 15:30:00 GMT
recorded_with: VCR 2.9.3
