---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Jl.%20Petitenget%20no.%2040X,%20Kerobokan,%20Bali%2080361,%20Indonesia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Jalan Petitenget",
                       "short_name" : "Jl. Petitenget",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "North Kuta",
                       "short_name" : "North Kuta",
                       "types" : [ "administrative_area_level_3", "political" ]
                    },
                    {
                       "long_name" : "Badung",
                       "short_name" : "Badung",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Indonesia",
                       "short_name" : "ID",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Jalan Petitenget, North Kuta, Badung, Indonesia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : -8.6715514,
                          "lng" : 115.1649165
                       },
                       "southwest" : {
                          "lat" : -8.6785701,
                          "lng" : 115.1515469
                       }
                    },
                    "location" : {
                       "lat" : -8.673923,
                       "lng" : 115.1574528
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : -8.6715514,
                          "lng" : 115.1649165
                       },
                       "southwest" : {
                          "lat" : -8.6785701,
                          "lng" : 115.1515469
                       }
                    }
                 },
                 "partial_match" : true,
                 "types" : [ "route" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 12 Nov 2014 06:15:12 GMT
recorded_with: VCR 2.9.3
