---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=2009%20R%20St%20NW%20Washington,%20DC%2020009%20b/t%20N%20Connecticut%20Ave%20%26%20N%2021st%20St%20in%20Dupont%20Circle&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "R Street Northwest",
                       "short_name" : "R St NW",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Northwest Washington",
                       "short_name" : "Northwest Washington",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Washington",
                       "short_name" : "Washington",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "District of Columbia",
                       "short_name" : "DC",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "20008",
                       "short_name" : "20008",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "R Street Northwest & 21st Street Northwest, Washington, DC 20008, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 38.9125975,
                       "lng" : -77.0466364
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.91394648029151,
                          "lng" : -77.0452874197085
                       },
                       "southwest" : {
                          "lat" : 38.91124851970851,
                          "lng" : -77.04798538029151
                       }
                    }
                 },
                 "partial_match" : true,
                 "types" : [ "intersection" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 12 Nov 2014 06:00:48 GMT
recorded_with: VCR 2.9.3
