---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=2295%20Harrison%20Street%20San%20Francisco,%20CA%2094110&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "2295",
                       "short_name" : "2295",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Harrison Street",
                       "short_name" : "Harrison St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Mission District",
                       "short_name" : "Mission District",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
          [...]
