.choose-mark-place.clean-modal
  %h3 See what you're looking for?
  .clean-modal-body.long-with-scroll
    %ul
      %li{ ng_repeat: 'option in mark.place_options' }
        .bucket-list-tab
          .bucket-list-img.centering-box{ style: "background-image: url('{{ option.image_url }}')" }
          .bucket-list-wrap.like-container
            .bucket-list-profile
              .bucket-list-title {{ option.name }}
              .bucket-list-more-info
                %span.categories 
                  %span {{ categories(option) }}
              .bucket-list-more-info.bucket-list-address {{ option.localeDetails() }}
        %button.btn.pink.mini{ ng_click: 'confirm( option.id )' }
          %span.this-one This One
          %i.fa.fa-bookmark.pad-left
        .clean-modal-separator.thin
  
  .clean-modal-submit
    %h4 Nothing Looks Right?
    %button.btn.faint-blue{ ng_click: "cancel()" } Reject Bookmark