.edit-booking-info.clean-modal
  %h3 {{ item.mark.place.name }}
  .clean-modal-body
    
    .clean-modal-input-group
      %input.confirmation{ ng_model: "item.confirmation", placeholder: "Confirmation Code", type: "text" }
    
    .clean-modal-separator
    
    .clean-modal-input-group
      %input.start-date{ ng_model: "item.start_date", placeholder: "Date", type: "text" }
      %input.start-time{ ng_model: "item.start_time", ng_show: "item.start_date", placeholder: "Time", type: "text" }
    
    %h5{ ng_show: "item.start_date" } - through -
    
    .clean-modal-input-group{ ng_show: "item.start_date" }
      %input.end-date{ ng_model: "item.end_date", placeholder: "Date", type: "text" }
      %input.end-time{ ng_model: "item.end_time", placeholder: "Time", type: "text" }

  %div.clean-modal-submit
    %button.btn.faint-blue{ ng_click: "saveBookingInfo()" } Save Booking Info