.modal.planit-modal.fade#planit-modal-new{ aria_hidden: "true", role: "dialog", tabindex: "-1", ng_show: 'data' } 
  .modal-dialog

    .modal-content{ ng_show: '!data.loading && !data.error' }
      %choose_mark_place{ data: 'data', ng_if: "data.type == 'choose-mark-place'" }
      %edit_booking_info{ item: 'data.item', ng_if: "data.type == 'edit-booking-info'" }

    .modal-content{ ng_show: 'data.loading || data.error' }
      .clean-modal{ ng_show: 'data.loading', ng_class: '{loading: data.loading, error: data.error}' }
        .message-box
          %i.fa{ ng_class: "{ 'fa-spinner fa-spin': data.loading, 'fa-exclamation-mark': data.error }" }
          %span {{ text() }}