#user-bucket-page

  = render 'show/header', { :background => 'white', :color => 'black', :start => '', :page_type => 'bucket' }

  / #user-bucket-map

  /   %map.bucket-map-canvas{ coordinates: @user.marks.coordinates, names: @user.marks.all_names.join('/+/'), ids: @user.marks.all_ids.join('+'), path: place_path(@user.marks.first), minzoom: 2 }

  / #user-bucket-list

  /   .band.gray.spaced
  /     .container.tab-section-header
  /       %span.bubble-span.medium.primary= "Category"
  /       = ":"
  /       %span.bubble-span.medium.secondary= "Subcategory"
  /       = "("
  /       %strong= "##"
  /       = ")"

  /     .container
  /       .sixteen.columns

  /         - @user.marks.each_with_index do |m, index|
  /           - if index < 50
  /             = render partial: 'items/item_tab', locals: { item: m, item_index: index }

  /   .band.gray.spaced
  /     .container

  /       .sixteen.columns

  /         .tab-load-more
  /           Load More (
  /           %strong= "##"
  /           )

  = render 'show/footer', { :page_type => 'bucket' }