#user-bucket-page

  = render 'show/header', { :background => 'white', :color => 'black', :start => '', :page_type => 'bucket' }

  #user-bucket-map

    %bucket_map.bucket-map-canvas{ user_id: @user.id, current_user_id: current_user_id, padding_to_use: '45,45,15,400', scroll_wheel_zoom: true }

  / #user-bucket-list

  /   .band.gray.spaced
  /     .container.tab-section-header
  /       %span.bubble-span.medium.primary= "Category"
  /       = ":"
  /       %span.bubble-span.medium.secondary= "Subcategory"
  /       = "("
  /       %strong= "##"
  /       = ")"

  /     .container
  /       .sixteen.columns

  /         - @user.marks.each_with_index do |m, index|
  /           - if index < 50
  /             = render partial: 'items/item_tab', locals: { item: m, item_index: index }

  /   .band.gray.spaced
  /     .container

  /       .sixteen.columns

  /         .tab-load-more
  /           Load More (
  /           %strong= "##"
  /           )

  / = render 'show/footer', { :page_type => 'bucket' }

= render 'templates/bucket_map'