- title( "#{current_user.name}'s Inbox" )
- page_type('inbox')

#user-inbox-page
  .band.gray.spaced
    .container

      .sixteen.columns
        .dashboard-header= "Future Home of the Planit Inbox"

        %h4
          %p
            Personal Reco's
          %p
            Subscriptions (Professional Reco's)
          %p
            Saved Items
          %p
            (Trending)

= render 'templates/bucket_map'