- title( "Advanced Search" )
- set_page_type( 'search' )

.band.spaced-extra
  .static-page.container
    .sixteen.columns.main-content
      .whitebox.padded.no-mobile-portrait.like-container

        %p
          %strong.large.neon Launch a Custom List:

        %filtered_places_query

        %p
          %strong.large Recent Custom Lists:

        .filtered-places-query-wrap.recent-wrap

          %p 
            %span.select My
            %b own
            %span.select Restaurants & Markets
            %b in
            %span.select San Francisco, CA
            %b that I
            %span.select loved

        / %p Find/Discover/Follow
        / %p Active Plans/Geographies
        / %p Start a new plan
        / %p Share/invite?
