- title( @user.name )
- page_type('dashboard')

#user-show-page

  - if current_user_owns

    - if !browser.mobile?

      .band.gray.spaced.large-screen
        .container

          Recent Activity
          - @user.marks_with_places.includes(:place).find_each do |mark|
            %p= link_to mark.place.name + " : " + mark.updated_at.strftime('%d %b, %Y'), mark.place

    - else

      .mobile-half-screen.top
        .centering-box
          
          .centered-item.input-box
            .input-group
              %input.form-control.input-with-clear{ placeholder: 'Add new place' }
              %span.clear-input-button
                %i.fa.fa-times-circle
              %span.input-group-btn
                %button.btn.btn-default
                  %i.fa.fa-plus

      .mobile-half-screen.bottom
        .centering-box
          .centered-item.box-link-group
            = link_to user_path do
              .box-link.left
                .icon-and-hint.centered-item
                  %i.fa.fa-bullseye
                  .hint Nearby
            = link_to user_path do
              .box-link.right
                .icon-and-hint.centered-item
                  %i.fa.fa-clock-o
                  .hint Recent

  - else

    .band.gray.spaced.large-screen
      .container

        = @user.decorate.travel_stats_string
