- title( @user.name )
- set_page_type( 'dashboard' )

#user-show-page

  - if current_user == @user # personal startpage

    - if browser.mobile?

      .band.spaced-extra
        .static-page.container
          .sixteen.columns.main-content
            .whitebox.padded.no-mobile-portrait.like-container

              %p
                %strong.large.neon Launch a Custom List:

              %filtered_places_query
              - include_templates( :filtered_places_query )

              %p
                %strong.large Recent Custom Lists:

              .filtered-places-query-wrap.recent-wrap
  
                %p 
                  %span.select My
                  %b own
                  %span.select Restaurants & Markets
                  %b in
                  %span.select San Francisco, CA
                  %b that I
                  %span.select loved

              / %p Find/Discover/Follow
              / %p Active Plans/Geographies
              / %p Start a new plan
              / %p Share/invite?

    - else # mobile

      %mobile_dashboard
      - include_templates( :mobile_dashboard, :bucket_list_places, :place_control_bar )

  - else # public 'dashboard'

    .band.gray.spaced.large-screen
      .container

        %span.gray
          @user.marks.count
          pins and
          @user.plans.count
          plans
        %span.gray.large-screen.inline
          across 
          @user.marks.all_localities.count
          cities &
          @user.marks.all_countries.count
          countries
