- title( @user.name )
- page_type('dashboard')
#user-show-page

  .band.gray.spaced.large-screen
    .container

      .two-thirds.column
        .dashboard-header= "World View"

        .world-view-map-wrap
          .empty-map-box.world-view
            / %worldview_map.world-view-canvas{ user_id: @user.id, current_user_id: current_user_id, type: 'worldview' }
          .tab-caption= @user.decorate.show_travel_stats_as_caption

      .one-third.column
        .dashboard-header= "Profile & Info"

        .profile-and-info-wrap
          .profile-photo-box