- title( @user.name )
- page_type('dashboard')

#user-show-page

  .band.gray.spaced.large-screen
    .container

      - @user.marks do |mark|
        %p= mark.name

      / .two-thirds.column
      /   .in-caps-header= "World View"

      /   .world-view-map-wrap
      /     .empty-map-box.world-view
      /       / %worldview_map.world-view-canvas{ user_id: @user.id, current_user_id: current_user_id, type: 'worldview' }
      /     .tab-caption= @user.decorate.travel_stats_string

      / .one-third.column
      /   .in-caps-header= "Profile & Info"

      /   .profile-and-info-wrap
      /     .profile-photo-box