---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=47.6243785&lng=-122.3456918&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2015-04-10 06:30","lng":-122.3456918,"countryCode":"US","gmtOffset":-8,"rawOffset":-8,"sunset":"2015-04-10
        19:51","timezoneId":"America/Los_Angeles","dstOffset":-7,"countryName":"United
        States","time":"2015-04-10 12:44","lat":47.6243785}'
  recorded_at: Fri, 10 Apr 2015 19:44:00 GMT
recorded_with: VCR 2.9.3
