---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=47.6243785&lng=-122.3456918&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"2015-03-30 14:03","countryName":"United States","sunset":"2015-03-30
        19:36","rawOffset":-8,"dstOffset":-7,"countryCode":"US","gmtOffset":-8,"lng":-122.3456918,"sunrise":"2015-03-30
        06:52","timezoneId":"America/Los_Angeles","lat":47.6243785}'
  recorded_at: Mon, 30 Mar 2015 21:03:07 GMT
recorded_with: VCR 2.9.3
