---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=47.6243785&lng=-122.3456918&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2015-03-27 06:58","lng":-122.3456918,"countryCode":"US","gmtOffset":-8,"rawOffset":-8,"sunset":"2015-03-27
        19:32","timezoneId":"America/Los_Angeles","dstOffset":-7,"countryName":"United
        States","time":"2015-03-27 13:33","lat":47.6243785}'
  recorded_at: Fri, 27 Mar 2015 20:33:50 GMT
recorded_with: VCR 2.9.3
