// PAGE STRUCTURE

html, body
  margin: 0
  padding: 0
  height: 100% !important

body
  background: #dfdfdf

#planit-wrapper
  min-height: 100%
  position: relative

// COMMON VISUALS

a.no-under, a.no-under:hover
  text-decoration: none

.whitebox
  background: rgba(255,255,255,0.8)

span.bubbled, span.flat
  font-family: avenir, "open sans", "Myriad W01", "Helvetica Neue", 'trebuchet ms'
  padding: 4px 9px
  margin: 2px 0px
  line-height: 18px

span.flat
  transition: 0.5s ease all
  font-size: 14px
  color: #333
  border-radius: 3px
  border: 1px solid rgba(0,0,0,0.2)
  font-weight: normal
  background: rgba(255,255,255,0.4)
  &.small
    font-size: 13px
  &.delete-right
    float: right
    font-weight: bold
    text-align: center
    cursor: pointer
    &:hover
      background: #000
      color: #fff
      border: 1px solid #000
  &:hover
    background: #f06
    border: 1px #f06 solid
    color: #fff

.bubbled-header-block
  display: block
  padding: 10px 5px
  font-family: "open sans", "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
  font-size: 15px
  line-height: 18px

span.bubbled
  transition: 0.5s ease all
  font-size: 15px
  &.primary
    font-weight: bold
    color: #222
    background: #fff
    border: #ccc 1px solid
    border-bottom: #aaa 1px solid
    -webkit-box-shadow: #eee 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    -moz-box-shadow: #eee 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    box-shadow: #eee 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
  &.primary.enabled:hover
    color: #fff
    background: #f06
    border: #d04 1px solid
    border-bottom: #b02 1px solid
    -webkit-box-shadow: #e05 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    -moz-box-shadow: #e05 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    box-shadow: #e05 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
  &.secondary
    font-weight: normal
    font-size: 14.5px
    color: #000
    text-shadow: 0px 1px 1px #fff
    background: #eee
    border: #ccc 1px solid
    border-bottom: #aaa 1px solid
    -webkit-box-shadow: #ddd 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    -moz-box-shadow: #ddd 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    box-shadow: #ddd 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
  &.tertiary
    font-weight: normal
    font-size: 14.5px
    color: #000
    text-shadow: 0px 1px 1px #fff
    background: #e497e1
    border: #b86db5 1px solid
    border-bottom: #91508f 1px solid

.container.divider
  border-top: 1px solid #777
  margin: 0
  padding: 0

.section-header
  font-family: "Helvetica Neue", 'trebuchet ms'
  font-size: 27px
  line-height: 27px
  font-weight: bold
  text-shadow: 1px 1px 1px #fff
  margin: 30px 0
  &.large
    font-size: 32px
    line-height: 32px
    color: #050b28
  &.disabled
    color: #777

.numbered-box
  transition: 0.2 ease all
  background: #f06
  border-bottom: #990033 solid 1px
  border-radius: 3px
  text-align: center
  font-size: 16px
  font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-weight: bold
  color: #fff
  text-align: center
  &:hover, .highlighted
    background: #333
    border-bottom: #000 solid 1px
  &.gray
    background: #ccc
    border-bottom: #aaa solid 1px

i.pad-left
  padding-left: 5px
i.pad-right
  padding-right: 5px

strong, .strong
  font-weight: bold

strong, .in-caps-header, i
  &.neon
    color: #f06

.planit-button, a.planit-button, a .planit-button
  display: inline-block
  transition: 0.2s all ease
  padding: 8px 10px 10px 10px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  -o-border-radius: 4px
  border-radius: 4px
  font-family: arial, 'trebuchet ms', avenir, arial
  font-size: 14px
  line-height: 14px
  font-weight: bold
  text-decoration: none
  box-sizing: border-box
  ms-box-sizing: border-box
  webkit-box-sizing: border-box
  moz-box-sizing: border-box
  cursor: pointer
  &.neon
    color: #fff
    text-shadow: 1px 1px 1px #b28
    background: #f06
    border: 1px solid #c03
    box-shadow: rgb(228, 40, 78) 0px -3px 0px 0px inset, rgba(0, 0, 0, 0.04) 0px 2px 0px 0px
    &:hover, &:active
      text-shadow: 1px 1px 1px #c39
      background: rgb(238, 50, 88)
      box-shadow: rgb(218, 30, 68) 0px -3px 0px 0px inset, rgba(0, 0, 0, 0.04) 0px 2px 0px 0px
  &.gray, &.disabled
    color: #444 !important
    text-shadow: 1px 1px 1px #ccc !important
    background: #ccc !important
    border: 1px solid #afafaf !important
    box-shadow: #c3c3c3 0px -3px 0px 0px inset, rgba(0, 0, 0, 0.04) 0px 2px 0px 0px !important
  &.disabled:hover, &.disabled:active
    cursor: default
  &.gray:hover, &.gray:active
    color: #333 !important
    background: #bbb !important
    box-shadow: #b3b3b3 0px -3px 0px 0px inset, rgba(0, 0, 0, 0.04) 0px 2px 0px 0px !important

.in-caps-header
  padding: 10px 15px 5px 15px
  margin: 10px 0 30px 0
  font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 22px
  line-height: 25px
  font-weight: bold
  color: #000
  text-shadow: 0px 1px 1px #fff
  text-align: center
  text-transform: uppercase
  .response
    display: inline-block
    font-weight: normal
    color: #f06
    font-style: italic

// ?

.collapsed
  transition: 0.3s ease all
  -webkit-transition-duration: 0.3s
  height: 0px
  overflow: hidden

.simple-entry-form
  font-family: avenir, 'Myriad W01', 'Helvetica Neue', 'trebuchet ms'

a.feedback-button, a.feedback-button:hover
  color: #fff !important
  text-decoration: none !important

.feedback-button
  position: fixed
  bottom: 0px
  left: 0px
  z-index: 15000
  cursor: pointer
  span
    transition: all 0.2s ease
    display: inline-block
    height: 25px
    width: 25px
    font-size: 14px
    line-height: 25px
    text-align: center
    background: #f06
  .feedback-button-hint
    transition: all 0.2s ease
    display: inline-block
    height: 25px
    padding: 0 4px
    font-weight: bold
    font-size: 14px
    line-height: 25px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    background: #f06
  &:hover
    span
      background: #000
    .feedback-button-hint
      background: #000

#planit-modal-feedback
  .modal-body
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    p
      margin-bottom: 20px
    strong
      font-size: 110%
      opacity: 0.8

  .radio-collection
    display: table !important
    table-layout: fixed !important
    width: 100% !important
    .radio-item
      padding: 10px 0
      display: table-cell !important
      text-align: center
      input
        display: block
        margin: 0 auto

  .radio-labels
    display: table
    table-layout: fixed
    width: 100%
    .radio-label
      display: table-cell
      text-align: center
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
      font-size: 14px
      &.left
        text-align: left
      &.center
        text-align: center
      &.right
        text-align: right

  .improve-feedback, .loving-feedback
    display: none

.clear-input-box
  position: relative
  &.inline
    display: inline-block

.clear-input-button
  position: absolute
  right: 5px
  top: 0
  bottom: 0
  min-width: 15px
  height: 15px
  margin: auto
  font-size: 15px
  cursor: pointer
  color: #ccc
  text-align: center
  z-index: 20000
  i
    vertical-align: top
  &:hover
    color: #f06

#flash
  position: fixed
  top: 0px
  left: 0px
  right: 0px
  width: 100%
  background: #fafafa
  z-index: 1000000
  text-align: center

.flash-alert
  height: 68px
  border-top: 3px solid #f06
  display: block
  line-height: 65px
  font-size: 15px
  text-transform: uppercase
  color: #333
  font-weight: bold

.planit-modal
  z-index: 150000 !important
  button.close:hover
    background: transparent !important
  .modal-header
    background-color: #ccc
    border-bottom: 1px solid #bbb
    -webkit-border-top-left-radius: 5px
    -webkit-border-top-right-radius: 5px
    -moz-border-radius-topleft: 5px
    -moz-border-radius-topright: 5px
    border-top-left-radius: 5px
    border-top-right-radius: 5px
  .modal-body
    background-color: #eee
  .modal-footer
    font-size: 15px
    line-height: 15px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    padding: 8px 15px !important
    position: relative
    background-color: #eee
    border-top: 1px solid #ccc
    -webkit-border-bottom-left-radius: 5px
    -webkit-border-bottom-right-radius: 5px
    -moz-border-radius-bottomleft: 5px
    -moz-border-radius-bottomright: 5px
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    .poweredbyfoursquare
      width: 241px
      height: 22px
      opacity: 0.4
      cursor: pointer
      margin: auto
      position: absolute
      left: 0
      top: 0
      bottom: 0
      &:hover
        opacity: 1
  .modal-title
    font-size: 18px
    line-height: 18px
    font-weight: bold
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    text-transform: uppercase    
  .share-with, .new-pin-nearby, .new-pin-query
    width: 100%
    padding: 6px 12px
    position: relative
  .form-group
    position: relative !important
  .modal-mini
    padding: 22px 35px
    background: #eee
    -webkit-border-top-left-radius: 5px
    -webkit-border-top-right-radius: 5px
    -moz-border-radius-topleft: 5px
    -moz-border-radius-topright: 5px
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    -webkit-border-bottom-left-radius: 5px
    -webkit-border-bottom-right-radius: 5px
    -moz-border-radius-bottomleft: 5px
    -moz-border-radius-bottomright: 5px
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    h4
      font-weight: bold
      font-family: 'trebuchet ms', "Helvetica Neue", arial
    .form-group
      padding-right: 10px
      overflow: hidden
      input
        padding: 6px 12px
        width: 100% !important
    .mini-button
      float: right

.profiler-popup
  width: 950px
  height: 300px

  .profiler-label
    overflow: initial
    text-overflow: initial

.clear
  clear:  both

.struckthru
  text-decoration: line-through
  opacity: 0.7

.valign-content
  vertical-align: middle
  /* fallback for non-Flexbox browsers */
  display: inline-block
  /* Flexbox browsers */
  display: -webkit-inline-box
  display: -moz-inline-box
  display: -ms-inline-flexbox
  display: -webkit-inline-flex
  display: inline-flex
  /* vertical centering for legacy, horizontal centering for modern */
  -webkit-box-pack: center
  -moz-box-pack: center
  -ms-flex-pack: center
  -webkit-justify-content: center
  justify-content: center
  /* modern Flexbox only */
  -ms-flex-align: center
  -webkit-align-items: center
  align-items: center
  /* legacy Flexbox only */
  -webkit-box-orient: vertical
  -moz-box-orient: vertical

.exit-view
  position: fixed
  float: right
  top: 15px
  right: 15px
  padding: 10px
  background: rgb(0, 0, 0)
  background: rgba(0, 0, 0, 0.7)
  color: #fff
  font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 14px
  z-index: 16777269
  a
    display: inline-block
    color: #fff
  &.active
    background: #f60

hr.divider
  display: block
  position: relative
  padding: 0
  margin: 8px auto
  height: 0
  width: 100%
  max-height: 0
  font-size: 1px
  line-height: 0
  clear: both
  border: none
  border-top: 1px solid #aaaaaa
  border-bottom: 1px solid #ffffff

.center-box
  display: table
  margin: 0 auto

.band
  &.darker
    background: rgba(0,0,0,0.05)
  &.lighter
    background: rgba(255,255,255,0.25)
  &.gray
    background: #dfdfdf
    &.bordered
      border-top: 1px solid #f3f3f3
      border-bottom: 1px solid #c4c7ca
  &.off-white
    background: #eee
    &.bordered
      border-top: 1px solid #fafafa
      border-bottom: 1px solid #ddd
  &.white
    background: #fff
    &.bordered
      border-top: 1px solid #fff
      border-bottom: 1px solid #eee

.a-override, a.a-override
  &.a-gray
    color: #777
    a, a:link, a:visited
      color: #777
  &.a-black
    color: #000
    a, a:link, a:visited
      color: #000
  &.a-white
    color: #fff
    a, a:link, a:visited
      color: #fff
  &.h-neon
    &:hover, &:active
      color: #ff0066
      div, span
        color: #ff0066 !important
    a:hover, a:active
      color: #ff0066
  &.h-black
    &:hover, &:active
      color: #000      
      div, span
        color: #000 !important
    a:hover, a:active
      color: #000
  &.h-white
    &:hover, &:active
      color: #fff      
      div, span
        color: #fff !important
    a:hover, a:active
      color: #fff
  &.u-none
    text-decoration: none
    a, a:link, a:visited, a:hover, a:active
      text-decoration: none
    &:hover, &:active
      text-decoration: none
  &.u-hover
    text-decoration: none
    a, a:link, a:visited
      text-decoration: none
    a:hover, a:active, &:hover, &:active
      text-decoration: underline
  &.u-both
    text-decoration: underline
    a, a:link, a:visited
      text-decoration: underline
    a:hover, a:active, &:hover, &:active
      text-decoration: underline
  &.s-neon
    &:hover, &:active
      span
        background: #ff0066

.planit-input
  padding: 5px 8px !important
  border: 1px solid #a4a4a4 !important
  border-bottom: 1px solid #fff !important
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  -o-border-radius: 3px
  border-radius: 3px !important
  -webkit-box-shadow: 0px 1px 0px #a4a4a4
  -moz-box-shadow: 0px 1px 0px #a4a4a4
  -o-box-shadow: 0px 1px 0px #a4a4a4
  box-shadow: 0px 1px 0px #a4a4a4
  box-sizing: border-box
  ms-box-sizing: border-box
  webkit-box-sizing: border-box
  moz-box-sizing: border-box
  display: inline-block
  font-size: 12px !important
  font-family: open sans, avenir, calibri !important
  font-style: normal !important
  color: black !important
  height: 26px !important
  line-height: 16px !important
  margin: 0 !important
  &.saved-check-results
    input::-webkit-input-placeholder
      opacity: 1
      color: #fff
    input:-moz-placeholder
      opacity: 1
      color: #fff  
    input::-moz-placeholder
      opacity: 1
      color: #fff  
    input:-ms-input-placeholder
      opacity: 1
      color: #fff  
  &#planit-addNote
    width: 210px !important
    height: 26px !important
    padding: 3px 5px !important
    opacity: 1 !important

.hidden_button_name
  display: none
  visibility: hidden

// TAB SIZING

// *Computer (Regular)

.band
  &.spaced
    padding: 25px 0
    .hug-tight-bottom
      margin-bottom: -25px
  &.spaced-extra
    padding: 45px 0
    .hug-tight-bottom
      margin-bottom: -45px

.planit-modal
  .modal-dialog
    margin: 85px auto
    
.mobile
  visibility: hidden
  display: none

.large-screen, .largest-screen
  visibility: visible
  display: inherit

.large-screen-inline
  visibility: visible
  display: inline-block
  
// #Tablet (Portrait)
@media only screen and (min-width: 768px) and (max-width: 959px)

  .band
    &.spaced
      padding: 25px 0
    &.spaced-extra
      padding: 45px 0

  .planit-modal
    .modal-dialog
      margin: 85px auto
      
  .mobile
    visibility: hidden
    display: none

  .large-screen
    visibility: visible
    display: inherit

  .large-screen-inline
    visibility: visible
    display: inline-block

// #Mobile (Portrait) <-- smallest
@media only screen and (max-width: 767px)

  .band
    &.spaced
      padding: 12px 0
    &.spaced-extra
      padding: 18px 0

  .planit-modal
    .modal-dialog
      margin: 30px auto

  .mobile
    visibility: visible
    display: inherit

  .large-screen, .largest-screen, .large-screen-inline
    visibility: hidden
    display: none

  #flash
    background: #000

  .flash-alert
    height: 55px
    line-height: 52px
    font-size: 13px
    color: #eee

  .feedback-button
    bottom: 45px
    left: 0px

  .whitebox.no-mobile-portrait
    background: none

  .section-header
    margin: 15px 0

// #Mobile (Landscape)
@media only screen and (min-width: 480px) and (max-width: 767px)

  .band
    &.spaced
      padding: 12px 0
    &.spaced-extra
      padding: 18px 0

  .planit-modal
    .modal-dialog
      margin: 30px auto
      
  .mobile
    visibility: visible
    display: inherit

  .large-screen, .largest-screen, .large-screen-inline
    visibility: hidden
    display: none

  #flash
    background: #000

  .flash-alert
    height: 55px
    line-height: 52px
    font-size: 13px
    color: #eee

  .feedback-button
    bottom: 45px
    left: 0px

  .section-header
    margin: 15px 0

  .whitebox.no-mobile-portrait
    background: rgba(255,255,255,0.8)
