---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Boston,%20MA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 80:quic,p=0.01
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Boston",
                       "short_name" : "Boston",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Suffolk County",
                       "short_name" : "Suffolk County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Massachusetts",
                       "short_name" : "MA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Boston, MA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 42.3988669,
                          "lng" : -70.9232011
                       },
                       "southwest" : {
                          "lat" : 42.22788,
                          "lng" : -71.191113
                       }
                    },
                    "location" : {
                       "lat" : 42.3584308,
                       "lng" : -71.0597732
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 42.3988669,
                          "lng" : -70.9232011
                       },
                       "southwest" : {
                          "lat" : 42.22788,
                          "lng" : -71.191113
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 18 Nov 2014 03:16:01 GMT
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Boston,%20Massachusetts,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Dwelltime&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '174'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '493'
      X-Ex:
      - fastly_cdn
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"geocode":{"what":"","where":"boston
        massachusetts united states","center":{"lat":42.35843,"lng":-71.05977},"displayString":"Boston,
        MA, United States","cc":"US","geometry":{"bounds":{"ne":{"lat":42.400819999999996,"lng":-70.748802},"sw":{"lat":42.22788,"lng":-71.191155}}},"slug":"boston-massachusetts","longId":"72057594042858892"},"headerLocation":"Boston","headerFullLocation":"Boston","headerLocationGranularity":"city","query":"dwelltime","totalResults":4,"suggestedBounds":{"ne":{"lat":42.37138786145721,"lng":-71.0614604651928},"sw":{"lat":42.353123227986245,"lng":-71.11311069130898}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":1,"items":[{"summary":"Dan
        V. has been here","type":"social","reasonName":"friendAndSelfCheckinReason","message":"Dan
        V. has been here","count":1}]},"venue":{"id":"4e9ee3031081a02e6384b390","name":"Dwelltime","contact":{"phone":"6177145536","formattedPhone":"(617)
        714-5536","twitter":"dwelltimecoffee"},"location":{"address":"364 Broadway","lat":42.370557650844894,"lng":-71.10438466072083,"postalCode":"02139","cc":"US","city":"Cambridge","state":"MA","country":"United
        States","formattedAddress":["364 Broadway","Cambridge, MA 02139"]},"categories":[{"id":"4bf58dd8d48988d1e0931735","name":"Coffee
        Shop","pluralName":"Coffee Shops","shortName":"Coffee Shop","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/food\/coffeeshop_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":3733,"usersCount":1007,"tipCount":40},"url":"http:\/\/dwelltimecambridge.com","price":{"tier":1,"message":"Cheap","currency":"$"},"like":false,"rating":8.5,"ratingSignals":125,"hours":{"status":"Closed
        until 7:00am tomorrow","isOpen":false},"specials":{"count":0,"items":[]},"photos":{"count":172,"groups":[{"type":"venue","name":"Venue
        photos","count":172,"items":[{"id":"51bdc325498edfddf4c18e74","createdAt":1371390757,"prefix":"https:\/\/irs3.4sqi.net\/img\/general\/","suffix":"\/6026_ruM6F73gjApA1zufxgbscViPgkbrP5HaYi_L8gti6hY.jpg","width":720,"height":960,"user":{"id":"6026","firstName":"Jeanette","lastName":"Yuen","gender":"female","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/6026_1253707183600.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"featuredPhotos":{"count":1,"items":[{"id":"51bdc325498edfddf4c18e74","createdAt":1371390757,"prefix":"https:\/\/irs3.4sqi.net\/img\/general\/","suffix":"\/6026_ruM6F73gjApA1zufxgbscViPgkbrP5HaYi_L8gti6hY.jpg","width":720,"height":960,"user":{"id":"6026","firstName":"Jeanette","lastName":"Yuen","gender":"female","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/6026_1253707183600.jpg"}},"visibility":"public"}]}},"flags":{"exactMatch":true},"tips":[{"id":"5096898ee4b03c3d2fb37247","createdAt":1352042894,"text":"Great
        mocha, pay with Square, and pour over coffee. Feels like Sightglass in SF
        except Dwelltime has free wifi.","type":"user","canonicalUrl":"https:\/\/foursquare.com\/item\/5096898ee4b03c3d2fb37247","likes":{"count":7,"groups":[],"summary":"7
        likes"},"logView":true,"todo":{"count":2},"user":{"id":"288959","firstName":"Adam","lastName":"Besvinick","gender":"male","photo":{"prefix":"https:\/\/irs1.4sqi.net\/img\/user\/","suffix":"\/-HI0DNLCCX0GSTQ0S.jpg"}}}],"referralId":"e-0-4e9ee3031081a02e6384b390-0"},{"reasons":{"count":1,"items":[{"summary":"Dan
        V. has been here","type":"social","reasonName":"friendAndSelfCheckinReason","message":"Dan
        V. has been here","count":1}]},"snippets":{"count":1,"items":[{"detail":{"type":"tip","object":{"id":"513cf8e7e4b09b145812bfe9","createdAt":1362950375,"text":"First
        visit: cappuccino is better than at Dwelltime. Will come back!","entities":[{"indices":[42,51],"type":"search_match"}],"type":"user","canonicalUrl":"https:\/\/foursquare.com\/item\/513cf8e7e4b09b145812bfe9","likes":{"count":1,"groups":[],"summary":"1
        like"},"logView":true,"todo":{"count":0},"user":{"id":"487826","firstName":"Alex","lastName":"Armstrong","gender":"male","photo":{"prefix":"https:\/\/irs1.4sqi.net\/img\/user\/","suffix":"\/5PXERBQHUFPJZVCE.jpg"}}}},"reason":{"text":"Dan
        V. has been here","facePile":{"count":1,"items":[{"visitedCount":1,"liked":false,"disliked":false,"oked":false,"user":{"id":"10066626","firstName":"Dan","lastName":"Vanderkam","gender":"male","relationship":"friend","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/PEKOKQOOSIF5NHS4.jpg"}}}]}}}]},"venue":{"id":"506479e8e4b01f36bfd50cf9","name":"Simon''s
        Too","contact":{"phone":"6179452687","formattedPhone":"(617) 945-2687","twitter":"simonstoo"},"location":{"address":"983
        Mass Ave","crossStreet":"Dana St","lat":42.36931714403819,"lng":-71.11076295375824,"postalCode":"02139","cc":"US","city":"Cambridge","state":"MA","country":"United
        States","formattedAddress":["983 Mass Ave (Dana St)","Cambridge, MA 02139"]},"categories":[{"id":"4bf58dd8d48988d1e0931735","name":"Coffee
        Shop","pluralName":"Coffee Shops","shortName":"Coffee Shop","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/food\/coffeeshop_","suffix":".png"},"primary":true}],"verified":true,"stats":{"checkinsCount":1020,"usersCount":307,"tipCount":14},"price":{"tier":2,"message":"Moderate","currency":"$"},"like":false,"rating":7.4,"ratingSignals":39,"hours":{"status":"Closed
        until 7:00am tomorrow","isOpen":false},"specials":{"count":0,"items":[]},"photos":{"count":24,"groups":[{"type":"venue","name":"Venue
        photos","count":24,"items":[{"id":"509eb444498ec5d3bf9c806d","createdAt":1352578116,"prefix":"https:\/\/irs0.4sqi.net\/img\/general\/","suffix":"\/2922_3Nb40bS8eiYiiKTaEHJ1sNBiSXG-tDxYtQfc6H8C9n8.jpg","width":612,"height":612,"user":{"id":"2922","firstName":"Jonathan","lastName":"Ragan-Kelley","gender":"male","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/2922-E1XUQM3PXRTYI1AM.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"venuePage":{"id":"56838464"},"storeId":"","featuredPhotos":{"count":1,"items":[{"id":"509eb444498ec5d3bf9c806d","createdAt":1352578116,"prefix":"https:\/\/irs0.4sqi.net\/img\/general\/","suffix":"\/2922_3Nb40bS8eiYiiKTaEHJ1sNBiSXG-tDxYtQfc6H8C9n8.jpg","width":612,"height":612,"user":{"id":"2922","firstName":"Jonathan","lastName":"Ragan-Kelley","gender":"male","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/2922-E1XUQM3PXRTYI1AM.jpg"}},"visibility":"public"}]}},"tips":[{"id":"513cf8e7e4b09b145812bfe9","createdAt":[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Cambridge,%20MA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 80:quic,p=0.01
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "addre[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Cambridge,%20Massachusetts,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Dwelltime&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '192'
      X-Ratelimit-Limit:
      - '500[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=364%20Broadway,%20Cambridge,%20Massachusetts,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 80:quic,p=0.01
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "resu[...]
[...]
