---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=43.7039706555092&lng=-70.24621069184126&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2015-03-20 06:44","lng":-70.24621069184126,"countryCode":"US","gmtOffset":-5,"rawOffset":-5,"sunset":"2015-03-20
        18:53","timezoneId":"America/New_York","dstOffset":-4,"countryName":"United
        States","time":"2015-03-19 20:10","lat":43.7039706555092}'
  recorded_at: Fri, 20 Mar 2015 00:10:51 GMT
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&ll=43.7039706555092,-70.24621069184126&query=Bite%20into%20Maine&v=20150319&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '126'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"response":{"warning":{"text":"There aren''t a
        lot of results for \"Bite into Maine.\" Try something more general, reset
        your filters, or expand the search area."},"suggestedRadius":30000,"headerLocation":"Falmouth","headerFullLocation":"Falmouth","headerLocationGranularity":"city","query":"bite
        into maine","totalResults":2,"suggestedBounds":{"ne":{"lat":43.62477451251617,"lng":-70.21021406727677},"sw":{"lat":43.61635864382079,"lng":-70.23358610284394}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4e1b3cb1fa762e6608db5074","name":"Bite
        Into Maine","contact":{"phone":"2074200294","formattedPhone":"(207) 420-0294","twitter":"biteintomaine"},"location":{"address":"Fort
        Williams Park","crossStreet":"Shore Road","lat":43.624391973030015,"lng":-70.21127643252983,"distance":9294,"postalCode":"04107","cc":"US","city":"Cape
        Elizabeth","state":"ME","country":"United States","formattedAddress":["Fort
        Williams Park (Shore Road)","Cape Elizabeth, ME 04107","United States"]},"categories":[{"id":"4bf58dd8d48988d1cb941735","name":"Food
        Truck","pluralName":"Food Trucks","shortName":"Food Truck","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/food\/streetfood_","suffix":".png"},"primary":true}],"verified":true,"stats":{"checkinsCount":354,"usersCount":322,"tipCount":8},"url":"http:\/\/www.biteintomaine.com","price":{"tier":1,"message":"Cheap","currency":"$"},"rating":8.3,"ratingColor":"73CF42","ratingSignals":22,"hours":{"status":"Closed
        until 11:00 AM tomorrow","isOpen":false},"specials":{"count":0,"items":[]},"photos":{"count":66,"groups":[{"type":"venue","name":"Venue
        photos","count":66,"items":[{"id":"4fde2947e4b0f8bdf4995f9f","createdAt":1339959623,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/rzqf18ikVe5TMFCnDFvsmgCw7EhyqjTyOapH26tH6rs.jpg","width":720,"height":537,"user":{"id":"227047","firstName":"Bruce","lastName":"Lin","gender":"male","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/OGXBGQWGGGM2MKVM.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"storeId":"","featuredPhotos":{"count":1,"items":[{"id":"4fde2947e4b0f8bdf4995f9f","createdAt":1339959623,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/rzqf18ikVe5TMFCnDFvsmgCw7EhyqjTyOapH26tH6rs.jpg","width":720,"height":537,"user":{"id":"227047","firstName":"Bruce","lastName":"Lin","gender":"male","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/OGXBGQWGGGM2MKVM.jpg"}},"visibility":"public"}]}},"flags":{"exactMatch":true},"tips":[{"id":"4e5bd6147d8b966a15e8090f","createdAt":1314641428,"text":"The
        blueberry icecream","type":"user","canonicalUrl":"https:\/\/foursquare.com\/item\/4e5bd6147d8b966a15e8090f","photo":{"id":"4e5bd621b61c4aaa3e1beb84","createdAt":1314641441,"source":{"name":"Foursquare
        for Android","url":"https:\/\/foursquare.com\/download\/#\/android"},"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/F0MHEKDSJ2QNJWSJMV30XWOINGLRQEEFINU4TVZHCW53PQSQ.jpg","width":540,"height":720},"photourl":"https:\/\/irs2.4sqi.net\/img\/general\/original\/F0MHEKDSJ2QNJWSJMV30XWOINGLRQEEFINU4TVZHCW53PQSQ.jpg","likes":{"count":2,"groups":[],"summary":"2
        likes"},"logView":true,"todo":{"count":0},"user":{"id":"10201035","firstName":"Andy","lastName":"Fowler","gender":"male","photo":{"prefix":"https:\/\/irs1.4sqi.net\/img\/user\/","suffix":"\/NDGEFL2TH1VSU42U.jpg"}}}],"referralId":"e-0-4e1b3cb1fa762e6608db5074-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4dd9f301ae60680f1543bb28","name":"Cape
        Elizabeth, ME","contact":{},"location":{"lat":43.61674118330694,"lng":-70.2325237375909,"distance":9772,"postalCode":"04107","cc":"US","state":"Maine","country":"United
        States","formattedAddress":["ME 04107","United States"]},"categories":[{"id":"50aa9e094b90af0d4[...]
- request:
    method: get
    uri: https://www.google.com/maps?near=Cape%20Elizabeth,%20ME,%20United%20States&output=json&q=Bite%20into%20Maine
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: 'while(1);{title:"Bite into Maine loc: Cape Elizabeth, ME, United States
        - Google Maps",url:"/maps?q=Bite+into+Maine\x26near=Cape+Elizabeth,+ME,+United+States\x26ie=UTF8\x26hq=Bite+into+Maine\x26hnear=Cape+Elizabeth,+Cumberland+County,+Maine",urlViewport:false,ei:"jGULVfKWEaLziQK7t4CADg",form:{selected:"q",q:{q:"Bite
        into Maine loc: Cape Elizabeth, ME, United States",what:"Bite into Maine",near:"Cape
        El[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/4e1b3cb1fa762e6608db5074?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&v=20150319
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '35'
      X-Ratelimit-Limit:
      - '5000'
 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=43.623906,-70.211276&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "12",
                       "short_name" : "12",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Captain Strout Circle",
                       "short_name" : "Captain Strout Cir",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Cape Elizabeth",
                       "short_name" : "Cape Elizabeth",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Cumberland County",
                       "short_name" : "Cumberland County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Maine",
                       "short_name" : "ME",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "04107",
                       "short_name" : "04107",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "12 Captain Strout Circle, Cape Elizabeth, ME 04107, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 43.6230239,
                          "lng" : -70.20873470000001
                       },
                       "southwest" : {
                          "lat" : 43.6227395,
                          "lng" : -70.2092088
                       }
                    },
                    "location" : {
                       "lat" : 43.6228808,
                       "lng" : -70.20922569999999
                    },
                    "location_type" : "RANGE_INTERPOLATED",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 43.6242306802915,
                          "lng" : -70.20762276970851
                       },
                       "southwest" : {
                          "lat" : 43.6215327197085,
                          "lng" : -70.21032073029151
                       }
                    }
                 },
                 "place_id" : "EjcxMiBDYXB0YWluIFN0cm91dCBDaXJjbGUsIENhcGUgRWxpemFiZXRoLCBNRSAwNDEwNywgVVNB",
                 "types" : [ "street_address" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "04107",
                       "short_name" : "04107",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Cape Elizabeth",
                       "short_[...]
