---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Amelia%20Island,%20Fla.&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.08
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Amelia Island",
                       "short_name" : "Amelia Island",
                       "types" : [ "natural_feature", "establishment" ]
                    },
                    {
                       "long_name" : "Nassau County",
                       "short_name" : "Nassau County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "32034",
                       "short_name" : "32034",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Amelia Island, Florida 32034, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 30.705708,
                          "lng" : -81.4267175
                       },
                       "southwest" : {
                          "lat" : 30.515759,
                          "lng" : -81.488119
                       }
                    },
                    "location" : {
                       "lat" : 30.6265697,
                       "lng" : -81.46085599999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.705708,
                          "lng" : -81.4267175
                       },
                       "southwest" : {
                          "lat" : 30.515759,
                          "lng" : -81.488119
                       }
                    }
                 },
                 "place_id" : "ChIJ1cmKF4lV5IgRG0ZcW9coKuU",
                 "types" : [ "natural_feature", "establishment" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 23 Feb 2015 22:18:29 GMT
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=Nassau%20County,%20Florida,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Central%20Park&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '213'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '478'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"fallbackCategory":{"target":{"type":"path","url":"\/venue\/explore","params":{"query":"Central
        Park","sw":"30.262885,-82.084290","ne":"30.849411,-81.339941"}},"refinements":[{"query":"outdoors
        & recreation"}]},"geocode":{"what":"","where":"nassau county florida united
        states","center":{"lat":30.61058,"lng":-81.77142},"displayString":"Nassau
        County, FL, United States","cc":"US","geometry":{"bounds":{"ne":{"lat":30.829924,"lng":-81.346358},"sw":{"lat":30.273336999999998,"lng":-82.050331}}},"slug":"nassau-county-florida","longId":"72057594042093539"},"headerLocation":"Current
        map view","headerFullLocation":"Current map view","headerLocationGranularity":"unknown","query":"central
        park","totalResults":7,"suggestedBounds":{"ne":{"lat":30.686774346337298,"lng":-81.44448396566158},"sw":{"lat":30.309863540241377,"lng":-81.67104314449232}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4cd5654489eb6dcb9151281e","name":"Central
        Park","contact":{},"location":{"address":"1100 Atlantic Avenue","lat":30.6696420369693,"lng":-81.45478211015387,"postalCode":"32034","cc":"US","city":"Fernandina
        Beach","state":"FL","country":"United States","formattedAddress":["1100 Atlantic
        Avenue","Fernandina Beach, FL 32034"]},"categories":[{"id":"4bf58dd8d48988d163941735","name":"Park","pluralName":"Parks","shortName":"Park","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/parks_outdoors\/park_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":235,"usersCount":137,"tipCount":0},"like":false,"specials":{"count":0,"items":[]},"photos":{"count":9,"groups":[{"type":"venue","name":"Venue
        photos","count":9,"items":[{"id":"4f5b85dbe4b0a4baa28f71e8","createdAt":1331398107,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/fMb8LIaymxXEOjWRfcs47RcLrDNlMBuq_YlyVQFOU3o.jpg","width":612,"height":612,"user":{"id":"905162","firstName":"Ben","lastName":"Whitlock","gender":"male","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/W31XS3XD5ZJRL1XZ.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"featuredPhotos":{"count":1,"items":[{"id":"4f5b85dbe4b0a4baa28f71e8","createdAt":1331398107,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/fMb8LIaymxXEOjWRfcs47RcLrDNlMBuq_YlyVQFOU3o.jpg","width":612,"height":612,"user":{"id":"905162","firstName":"Ben","lastName":"Whitlock","gender":"male","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/W31XS3XD5ZJRL1XZ.jpg"}},"visibility":"public"}]}},"flags":{"outsideRadius":true,"exactMatch":true},"referralId":"e-0-4cd5654489eb6dcb9151281e-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"53bd5caf498ef1619a0738a3","name":"Central
        Parking","contact":{"phone":"8777170004","formattedPhone":"(877) 717-0004","twitter":"spplusparking"},"location":{"address":"9810
        August Dr","crossStreet":"Enter on 9810 August Dr","lat":30.407007,"lng":-81.578679,"postalCode":"32206","cc":"US","city":"Jacksonville","state":"FL","country":"United
        States","formattedAddress":["9810 August Dr (Enter on 9810 August Dr)","Jacksonville,
        FL 32206"]},"categories":[{"id":"4c38df4de52ce0d596b336e1","name":"Parking","pluralName":"Parking","shortName":"Parking","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/building\/parking_","suffix":".png"},"primary":true}],"verified":true,"stats":{"checkinsCount":0,"usersCount":0,"tipCount":0},"url":"http:\/\/spplus.com","like":false,"specials":{"count":0,"items":[]},"photos":{"count":0,"groups":[]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"storeId":"JAX6"},"flags":{"exactMatch":true},"referralId":"e-0-53bd5caf498ef1619a0738a3-1"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"53bd5caf498ef1619a073859","name":"Central
        Parking","contact":{"phone":"9043569841","formattedPhone":"(904) 356-9841","twitter":"spplusparking"},"location":{"address":"100
        East Church St","crossStreet":"Enter on Newnan St , Church St","lat":30.329708,"lng[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/4cd5654489eb6dcb9151281e?oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&v=20140819
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '46'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '477'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"venue":{"id":"4cd5654489eb6dcb9151281e","name":"Central
        Park","contact":{},"location":{"address":"1100 Atlantic Avenue","lat":30.6696420369693,"lng":-81.45478211015387,"postalCode":"32034","cc":"US","city":"Fernandina
        Beach","state":"FL","country":"United States","formattedAddress":["1100 Atlantic
        Avenue","Fernandina Beach, FL 32034"]},"canonicalUrl":"https:\/\/foursquare.com\/v\/central-park\/4cd5654489eb6dcb9151281e","categories":[{"id":"4bf58dd8d48988d163941735","name":"Park","pluralName":"Parks","shortName":"Park","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/parks_outdoors\/park_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":235,"usersCount":137,"tipCount":0},"likes":{"count":3,"groups":[{"type":"others","count":3,"items":[{"id":"53352570","firstName":"Marie","lastName":"Bucher","gender":"female","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/NPKRCZINVSRWBLRD.jpg"}},{"id":"921271","firstName":"Graeme","gender":"male","photo":{"prefix":"https:\/\/irs0.4sqi.net\/img\/user\/","suffix":"\/2RITY5DU3OZRS4GS.jpg"}},{"id":"13162886","firstName":"Nancy","lastName":"Chandler","gender":"female","photo":{"prefix":"https:\/\/irs1.4sqi.net\/img\/user\/","suffix":"\/ZIAI1LKRSBSHNFMP.jpg"}}]}],"summary":"Marie
        Bucher, Graeme & Nancy Chandler"},"like":false,"dislike":false,"ok":false,"specials":{"count":0,"items":[]},"photos":{"count":9,"groups":[{"type":"venue","name":"Venue
        photos","count":9,"items":[{"id":"4e05fd0940a3786af70b4260","createdAt":1309015305,"source":{"name":"Foursquare
        for iOS","url":"https:\/\/foursquare.com\/download\/#\/iphone"},"prefix":"https:\/\/irs3.4sqi.net\/img\/general\/","suffix":"\/VYS2RBQCTJE40PWORHYEVCLJM2E2NVYPC3IZMAR3Z2GLXH0J.jpg","width":540,"height":720,"user":{"id":"8375867","firstName":"Dina","lastName":"Grimes","gender":"female","photo":{"prefix":"https:\/\/irs0.4sqi.net\/img\/user\/","suffix":"\/SKASSIFBEZFQGAJY.jpg"}},"visibility":"public"},{"id":"4f523c66e4b0d3a8f4706c55","createdAt":1330789478,"source":{"nam[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=30.6696420369693,-81.45478211015387&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.08
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
   [...]
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=30.6696420369693&lng=-81.45478211015387&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2015-02-23 06:58","lng":-81.45478211015387,"countryCode":"US","gmtOffset":-5,"rawOffset":-5,"sunset":"2015-02-23
        18:19","timezoneId":"America/New_York","dstOffset":-4,"countryName":"United
        States","time":"2015-02-23 17:18","lat":30.6696420369693}'
  recorded_at: Mon, 23 Feb 2015 22:18:31 GMT
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&near=Nassau%20County,%20Florida,%20United%20States&query=Central%20Park&v=20150226&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    [...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/4cd5654489eb6dcb9151281e?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&v=20150226
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '24'
      X-Ratelimit-Limit:
      - '5000'
 [...]
[...]
