- title('Share Feedback')
- page_type('feedback')

.static-page#feedback-page
  .band.gray.spaced-extra.main-content

    - if current_user_is_active
      
      .container
        .sixteen.columns.left-section
          .section-header.large= "Thanks, we're always looking for feedback."

          .static-section-columned.whitebox
            .static-column.feedback-form
              = form_for(PageFeedback.new) do |f|

                = render 'feedback/page', {f: f}

                = f.submit 'Share', class: 'planit-button neon right', id: 'submit-feedback', disabled: !current_user.nps_feedbacks.in_last_months(2).any?    

