- title('Legal & Support')
- page_title('')

.static-page#support-page

  = render 'show/header', { :background => 'white', :color => 'black', :start => '', :page_type => 'static' }

  .band.gray.spaced-extra.main-content
    = render 'show/legal_info'

  = render 'show/footer', { :page_type => 'static' }
