- title('Ways to Save')

#how-to-save-page

  = render 'show/header', { :background => 'white', :color => 'black', :start => '', :page_type => 'howto' }

  = render 'show/save'

  = render 'show/footer', { :page_type => 'howto' }
