- title('Private Beta')
- page_title('')
- page_type('splash')

.static-page#splash-page

  .band.gray.spaced-extra.main-content
    .container
      .sixteen.columns.left-section
        .section-header.large= "Planit is in Private Beta"
        .static-section-content
          %p
            %i{ class: 'fa fa-home padded-icon' }
            We're building a home for all the places you love.
          %p
            %i{ class: 'icon-map padded-icon' }
            Save, curate, and share your favorite spots.
          %p
            %i{ class: 'fa fa-heart padded-icon' }
            Never forget a great recommendation.
