- title('Private Beta')
- page_title('')
- page_type('waitlist')

.static-page#waitlist-page
  .band.gray.spaced-extra.main-content
    .container
      .sixteen.columns
        .static-section-header= "Thanks for Signing Up!"
