.plan-content-row{ class: zebra_class(day.day_in_trip, bucket) }
  .day-map-container{ class: day_map_size(day.items_with_tabs.compact.length), class: "dayby" }
    .day-map
      %map.cluster-map{ icon: map_icon, coordinates: day.coordinates, type: "leg#{day.plan.maptype}" }
        .day-caption= "Day #{day.day_in_trip} Overview"
  - day.items_with_tabs.in_groups_of(3).each_with_index do |day_group, row_index|
    .tab-row-wrap.clicked.dayby
      - day_group.compact.each_with_index do |item, item_index|
        = render partial: 'items/item', locals: { item: item, row_index: row_index, item_index: item_index }