---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Rome,%20Italy&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Rome",
                       "short_name" : "Rome",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Rome",
                       "short_name" : "Rome",
                       "types" : [ "administrative_area_level_3", "political" ]
                    },
                    {
                       "long_name" : "Metropolitan City of Rome",
                       "short_name" : "RM",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Lazio",
                       "short_name" : "Lazio",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Italy",
                       "short_name" : "IT",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Rome, Italy",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 42.0505462,
                          "lng" : 12.7302888
                       },
                       "southwest" : {
                          "lat" : 41.769596,
                          "lng" : 12.341707
                       }
                    },
                    "location" : {
                       "lat" : 41.9027835,
                       "lng" : 12.4963655
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 42.0505462,
                          "lng" : 12.7302888
                       },
                       "southwest" : {
                          "lat" : 41.769596,
                          "lng" : 12.341707
                       }
                    }
                 },
                 "place_id" : "ChIJu46S-ZZhLxMROG5lkwZ3D7k",
                 "types" : [ "locality", "political" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Rome",
                       "short_name" : "Rome",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Latina",
                       "short_name" : "Latina",
                       "[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&near=Rome,%20Metropolitan%20City%20of%20Rome,%20Lazio,%20Italy&query=Catacombe%20di%20San%20Callisto&v=20150327&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '328'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4814'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":400,"errorType":"failed_geocode","errorDetail":"Couldn''t
        geocode param near: Rome, Metropolitan City of Rome, Lazio, Italy"},"response":{}}'
  recorded_at: Fri, 27 Mar 2015 20:30:25 GMT
- request:
    method: get
    uri: https://www.google.com/maps?near=Rome,%20Italy&output=json&q=Catacombe%20di%20San%20Callisto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: 'while(1);{title:"Catacombe di San Callisto loc: Rome, Italy - Google
        Maps",url:"/maps?q=Catacombe+di+San+Callisto\x26near=Rome,+Italy\x26ie=UTF8\x26hq=Catacombe+di+San+Callisto\x26hnear=Rome,+Metropolitan+City+of+Rome,+Lazio,+Italy",urlViewport:false,ei:"4b0VVaeRLKiYigL_h4GgCA",form:{selected:"q",q:{q:"Catacombe
        di San Callisto loc: Rome, Italy",wh[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=false&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_compone[...]
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat&lng&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"message":"missing parameter ","value":12}}'
  recorded_at: Fri, 27 Mar 2015 20:30:26 GMT
[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&near=Rome,%20Metropolitan%20City%20of%20Rome,%20Lazio,%20Italy&query=Catacombe%20di%20San%20Domitilla&v=20150327&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '331'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4813'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":400,"errorType":"failed_geocode","errorDetail":"Couldn''t
        geocode param near: Rome, Metropolitan City of Rome, Lazio, Italy"},"response":{}}'
  recorded_at: Fri, 27 Mar 2015 20:30:42 GMT
- request:
    method: get
    uri: https://www.google.com/maps?near=Rome,%20Italy&output=json&q=Catacombe%20di%20San%20Domitilla
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: 'while(1);[...]
[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&near=Rome,%20Metropolitan%20City%20of%20Rome,%20Lazio,%20Italy&query=Hadrian%27s%20Villa%20(Villa%20Adriana)&v=20150327&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '56'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4812'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":400,"errorType":"failed_geocode","errorDetail":"Couldn''t
        geocode param near: Rome, Metropolitan City of Rome, Lazio, Italy"},"response":{}}'
  recorded_at: Fri, 27 Mar 2015 20:30:45 GMT
- request:
    method: get
    uri: https://www.google.com/maps?near=Rome,%20Italy&output=json&q=Hadrian%27s%20Villa%20(Villa%20Adriana)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: 'wh[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&ll=41.942801,12.774399&query=Hadrian%27s%20Villa%20(Villa%20Adriana)&v=20150327&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '142'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4811'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJtZXRhIjp7ImNvZGUiOjIwMH0sInJlc3BvbnNlIjp7InN1Z2dlc3RlZFJh
        ZGl1cyI6MzAwMDAsImhlYWRlckxvY2F0aW9uIjoiQ3VycmVudCBtYXAgdmll
        dyIsImhlYWRlckZ1bGxMb2NhdGlvbiI6IkN1cnJlbnQgbWFwIHZpZXciLCJo
        ZWFkZXJMb2NhdGlvbkdyYW51bGFyaXR5IjoidW5rbm93biIsInF1ZXJ5Ijoi
        aGFkcmlhbidzIHZpbGxhIHZpbGxhIGFkcmlhbmEiLCJ0b3RhbFJlc3VsdHMi
        OjUsInN1Z2dlc3RlZEJvdW5kcyI6eyJuZSI6eyJsYXQiOjQxLjk1NzY2MjMw
    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=41.942801,12.774399&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        ewogICAicmVzdWx0cyIgOiBbCiAgICAgIHsKICAgICAgICAgI[...]
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=41.942801&lng=12.774399&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2015-03-27 06:01","lng":12.774399,"countryCode":"IT","gmtOffset":1,"rawOffset":1,"sunset":"2015-03-27
        18:28","timezoneId":"Europe/Rome","dstOffset":2,"countryName":"Italy","time":"2015-03-27
        21:30","lat":41.942801}'
  recorded_at: Fri, 27 Mar 2015 20:30:49 GMT
[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&near=Rome,%20Metropolitan%20City%20of%20Rome,%20Lazio,%20Italy&query=Villa%20d%27Este&v=20150327&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '421'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4810'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":400,"errorType":"failed_geocode","errorDetail":"Couldn''t
        geocode param near: Rome, Metropolitan City of Rome, Lazio, Italy"},"response":{}}'
  recorded_at: Fri, 27 Mar 2015 20:30:52 GMT
- request:
    method: get
    uri: https://www.google.com/maps?near=Rome,%20Italy&output=json&q=Villa%20d%27Este
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        d2[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&ll=41.933048,12.646749&query=Villa%20d%27Este&v=20150327&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '273'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4809'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"response":{"suggestedRadius":30000,"headerLocation":"Current
        map view","headerFullLocation":"Current map view","headerLocationGranularity":"unknown","query":"villa
        d''este","totalResults":6,"suggestedBounds":{"ne":{"lat":41.96426229639014,"lng":12.79487016161379},"sw":{"lat":41.96081627620176,"lng":12.8010901427762}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4adcdac7f964a520855321e3","name":"Villa
        d''Este","contact":{},"location":{"address":"Piazza Trento 5","lat":41.96241782322559,"lng":12.796331304389991,"distance":12808,"postalCode":"00019","cc":"IT","city":"Tivoli","state":"Lazio","country":"Italia","formattedAddress":["Piazza
        Trento 5","00019 Tivoli Lazio","Italia"]},"categories":[{"id":"4deefb944765f83613cdba6e","name":"Historic
        Site","pluralName":"Historic Sites","shortName":"Historic Site","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/arts_entertainment\/historicsite_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":1455,"usersCount":1344,"tipCount":39},"url":"http:\/\/www.villadestetivoli.info","rating":9.4,"ratingColor":"00B551","ratingSignals":116,"hours":{"status":"Likely
        open","isOpen":true},"specials":{"count":0,"items":[]},"photos":{"count":446,"groups":[{"type":"venue","name":"Venue
        photos","count":446,"items":[{"id":"516093d3e4b033963719bb61","createdAt":1365283795,"prefix":"https:\/\/irs0.4sqi.net\/img\/general\/","suffix":"\/1235110_DycgqhFh04XF7rUt-POTo_Iul4us0iGjyZPmi7DOOM8.jpg","width":612,"height":612,"user":{"id":"1235110","firstName":"Greg","lastName":"Tan","gender":"male","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/LZY4MNY2BMNYZW3L.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"featuredPhotos":{"count":1,"items":[{"id":"516093d3e4b033963719bb61","createdAt":1365283795,"prefix":"https:\/\/irs0.4sqi.net\/img\/general\/","suffix":"\/1235110_DycgqhFh04XF7rUt-POTo_Iul4us0iGjyZPmi7DOOM8.jpg","width":612,"height":612,"user":{"id":"1235110","firstName":"Greg","lastName":"Tan","gender":"male","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/LZY4MNY2BMNYZW3L.jpg"}},"visibility":"public"}]}},"flags":{"exactMatch":true},"tips":[{"id":"4e552e0ac65b9614d8f08025","createdAt":1314205194,"text":"Barocco
        idraulico inusitato tra fontane, ninfei, piscine e piante ornamentali. Quando
        si dice fare le cose in grande.","type":"user","canonicalUrl":"https:\/\/foursquare.com\/item\/4e552e0ac65b9614d8f08025","likes":{"count":13,"groups":[],"summary":"13
        likes"},"logView":true,"todo":{"count":2},"user":{"id":"12175529","firstName":"Zero
        Guide","gender":"none","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/IMN4T3PJHLP53DT3.png"},"type":"page"}}],"referralId":"e-0-4adcdac7f964a520855321e3-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"50ae17e6e4b042e77fe1be03","name":"Pizzeria
        Villa D''este","contact":{},"location":{"lat":41.96222225243162,"lng":12.797094911201414,"distance":12864,"cc":"IT","country":"Italia","formattedAddress":["Italia"]},"categories":[{"id":"4bf58dd8d48988d1ca941735","name":"Pizza
        Place","pluralName":"Pizza Places","shortName":"Pizza","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/food\/pizza_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":9,"usersCount":9,"tipCount":0},"price":{"tier":1,"message":"Cheap","currency":"\u20ac"},"specials":{"count":0,"items":[]},"photos":{"count":1,"groups":[{"type":"venue","name":"Venue
        photos","count":1,"items":[{"id":"538da60f498e408e6b63085a","createdAt":1401792015,"prefix":"https:\/\/irs1.4sqi.net\/img\/general\/","suffix":"\/86187943_EArAEv9yp-D3w_kytXNklEDqYQxC0q4M5LFrKxONpl4.jpg","width":960,"height":720,"user":{"id":"86187943","firstName":"Stefania","lastName":"Rapicavoli","gender":"female","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/8[...]
[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&near=Rome,%20Metropolitan%20City%20of%20Rome,%20Lazio,%20Italy&query=Opera%20at%20the%20Baths%20of%20Caracalla&v=20150327&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '202'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4808'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":400,"errorType":"failed_geocode","errorDetail":"Couldn''t
        geocode param near: Rome, Metropolitan City of Rome, Lazio, Italy"},"response":{}}'
  recorded_at: Fri, 27 Mar 2015 20:30:57 GMT
- request:
    method: get
    uri: https://www.google.com/maps?near=Rome,%20Italy&output=json&q=Opera%20at%20the%20Baths%20of%20Caracalla
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: ASCII-8BIT
      stri[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&ll=41.900552,12.472908&query=Opera%20at%20the%20Baths%20of%20Caracalla&v=20150327&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
     [...]
[...]
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=41.900552&lng=12.472908&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"2015-03-27 21:31","countryName":"Italy","sunset":"2015-03-27
        18:29","rawOffset":1,"dstOffset":2,"countryCode":"IT","gmtOffset":1,"lng":12.472908,"sunrise":"2015-03-27
        06:02","timezoneId":"Europe/Rome","lat":41.900552}'
  recorded_at: Fri, 27 Mar 2015 20:31:03 GMT
recorded_with: VCR 2.9.3
