---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Amelia%20Island,%20Fla.&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Amelia Island",
                       "short_name" : "Amelia Island",
                       "types" : [ "natural_feature", "establishment" ]
                    },
                    {
                       "long_name" : "Nassau County",
                       "short_name" : "Nassau County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "32034",
                       "short_name" : "32034",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Amelia Island, Florida 32034, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 30.705708,
                          "lng" : -81.4267175
                       },
                       "southwest" : {
                          "lat" : 30.515759,
                          "lng" : -81.488119
                       }
                    },
                    "location" : {
                       "lat" : 30.6265697,
                       "lng" : -81.46085599999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.705708,
                          "lng" : -81.4267175
                       },
                       "southwest" : {
                          "lat" : 30.515759,
                          "lng" : -81.488119
                       }
                    }
                 },
                 "place_id" : "ChIJ1cmKF4lV5IgRG0ZcW9coKuU",
                 "types" : [ "natural_feature", "establishment" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 09 Apr 2015 02:28:11 GMT
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&near=Nassau%20County,%20Florida&query=St.%20Peter%27s%20Episcopal%20Church%20Cemetery&v=20150408&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '173'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4877'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"response":{"geocode":{"what":"","where":"nassau
        county florida","center":{"lat":30.61058,"lng":-81.77142},"displayString":"Nassau
        County, FL, United States","cc":"US","geometry":{"bounds":{"ne":{"lat":30.829924,"lng":-81.346358},"sw":{"lat":30.273336999999998,"lng":-82.050331}}},"slug":"nassau-county-florida","longId":"72057594042093539"},"headerLocation":"Current
        map view","headerFullLocation":"Current map view","headerLocationGranularity":"unknown","query":"st
        peter''s episcopal church cemetery","totalResults":16,"suggestedBounds":{"ne":{"lat":30.690542548947047,"lng":-81.44621635669357},"sw":{"lat":30.22602196585787,"lng":-81.72646139824202}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4eee05efbe7b6d62012e0263","name":"St
        Peters Episcopal Church","contact":{},"location":{"lat":30.669427976988448,"lng":-81.45895476767303,"postalCode":"32034","cc":"US","city":"Fernandina
        Beach","state":"FL","country":"United States","formattedAddress":["Fernandina
        Beach, FL 32034","United States"]},"categories":[{"id":"4bf58dd8d48988d132941735","name":"Church","pluralName":"Churches","shortName":"Church","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/building\/religious_church_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":31,"usersCount":20,"tipCount":0},"specials":{"count":0,"items":[]},"photos":{"count":3,"groups":[{"type":"venue","name":"Venue
        photos","count":3,"items":[{"id":"532b8588498e83fb97b38637","createdAt":1395361160,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/7038172_Q9RvG7QPBvm1c_30WrPzI2mwcKjnqxsP-y0BWbJR-eI.jpg","width":960,"height":720,"user":{"id":"7038172","firstName":"Casey","lastName":"Walker","gender":"female","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/QXCS4BUBGKFBJJLL.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"featuredPhotos":{"count":1,"items":[{"id":"532b8588498e83fb97b38637","createdAt":1395361160,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/7038172_Q9RvG7QPBvm1c_30WrPzI2mwcKjnqxsP-y0BWbJR-eI.jpg","width":960,"height":720,"user":{"id":"7038172","firstName":"Casey","lastName":"Walker","gender":"female","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/QXCS4BUBGKFBJJLL.jpg"}},"visibility":"public"}]}},"flags":{"outsideRadius":true,"exactMatch":true},"referralId":"e-0-4eee05efbe7b6d62012e0263-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4ceb1478f86537046bbcc0c4","name":"St
        Peter''s Episcopal Church","contact":{},"location":{"address":"5042 Timuquana
        Rd","crossStreet":"Ortega Farms Blvd","lat":30.247136537816473,"lng":-81.71372298726254,"postalCode":"32210","cc":"US","city":"Jacksonville","state":"FL","country":"United
        States","formattedAddress":["5042 Timuquana Rd (Ortega Farms Blvd)","Jacksonville,
        FL 32210","United States"]},"categories":[{"id":"4bf58dd8d48988d132941735","name":"Church","pluralName":"Churches","shortName":"Church","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/building\/religious_church_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":169,"usersCount":28,"tipCount":0},"specials":{"count":0,"items":[]},"photos":{"count":0,"groups":[]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]}},"flags":{"outsideRadius":true,"exactMatch":true},"referralId":"e-0-4ceb1478f86537046bbcc0c4-1"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4fe74099e4b0b484a4e90f67","name":"St.
        Elizabeth''s Episcopal Church","contact":{"phone":"9047512626","formattedPhone":"(904)
        751-2626"},"location":{"address":"1735 Leonid Rd","lat":30.43028000273491,"lng":-81.6746305286127,"postalCode":"32218","cc":"US","city":"Jacksonville","state":"FL","country":"United
        States","formattedAddress":["1735 Leonid Rd","Jacksonville, FL 32218","United
        States"]},"categories":[{"id":"4bf58dd8d48988d132941735","name":"Church","pluralName":"Churches","shortName":"Church","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/building\/religious_church_",[...]
- request:
    method: get
    uri: https://www.google.com/maps?near=Amelia%20Island,%20Fla.&output=json&q=St.%20Peter%27s%20Episcopal%20Church%20Cemetery
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: 'while(1);{title:"St. Peter''s Episcopal Church Cemetery loc: Amelia
        Island, Fla. - Google Maps",url:"/maps?q=St.+Peter%27s+Episcopal+Church+Cemetery\x26near=Amelia+Island,+Fla.\x26ie=UTF8\x26hq=St.+Peter%27s+Episcopal+Church+Cemetery\x26hnear=Amelia+Island",urlViewport:false,ei:"veMlVdrcIYP_gAT7qYHABQ",form:{selected:"q",q:{q:"St.
        Peter''s Episcopa[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/4ceb1478f86537046bbcc0c4?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&v=20150408
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '19'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4876'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"response":{"venue":{"id":"4ceb1478f86537046bbcc0c4","name":"St
        Peter''s Episcopal Church","contact":{},"location":{"address":"5042 Timuquana
        Rd","crossStreet":"Ortega Farms Blvd","lat":30.247136537816473,"lng":-81.71372298726254,"postalCode":"32210","cc":"US","city":"Jacksonville","state":"FL","country":"United
        States","formattedAddress":["5042 Timuquana Rd (Ortega Farms Blvd)","Jacksonville,
        FL 32210","United States"]},"canonicalUrl":"https:\/\/foursquare.com\/v\/st-peters-episcopal-church\/4ceb1478f86537046bbcc0c4","categories":[{"id":"4bf58dd8d48988d132941735","name":"Church","pluralName":"Churches","shortName":"Church","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/building\/religious_church_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":169,"usersCount":31,"tipCount":0,"visitsCount":175},"likes":{"count":0,"groups":[]},"dislike":false,"ok":false,"specials":{"count":0,"items":[]},"photos":{"count":0,"groups":[]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"reasons":{"count":0,"items":[]},"createdAt":1290474616,"tips":{"count":0,"groups":[{"type":"others","name":"All
        tips","count":0,"items":[]}]},"tags":[],"shortUrl":"http:\/\/4sq.com\/fEGqOz","timeZone":"America\/New_York","listed":{"count":0,"groups":[{"type":"others","name":"Lists
        from other people","count":0,"items":[]}]},"pageUpdates":{"count":0,"items":[]},"inbox":{"count":0,"items":[]},"venueRatingBlacklisted":true,"attributes":{"groups":[]}}}}'
  recorded_at: Thu, 09 Apr 2015 02:28:14 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=30.670939,-81.45853&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "ad[...]
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=30.670939&lng=-81.45853&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"2015-04-08 22:28","countryName":"United States","sunset":"2015-04-09
        19:49","rawOffset":-5,"dstOffset":-4,"countryCode":"US","gmtOffset":-5,"lng":-81.45853,"sunrise":"2015-04-09
        07:05","timezoneId":"America/New_York","lat":30.670939}'
  recorded_at: Thu, 09 Apr 2015 02:28:14 GMT
[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&near=Nassau%20County,%20Florida&query=The%20Down%20Under&v=20150408&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '127'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4875'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"response":{"geocode":{"what":"","where":"nassau
        county florida","center":{"lat":30.61058,"lng":-81.77142},"displayString":"Nassau
        County, FL, United States","cc":"US","geometry":{"bounds":{"ne":{"lat":30.829924,"lng":-81.346358},"sw":{"lat":30.273336999999998,"lng":-82.050331}}},"slug":"nassau-county-florida","longId":"72057594042093539"},"warning":{"text":"There
        aren''t a lot of results for \"The Down Under.\" Try something more general,
        reset your filters, or expand the search area."},"headerLocation":"Current
        map view","headerFullLocation":"Current map view","headerLocationGranularity":"unknown","query":"the
        down under","totalResults":1,"suggestedBounds":{"ne":{"lat":30.793547678069032,"lng":-81.57074464826204},"sw":{"lat":30.79084801828359,"lng":-81.57407055538857}},"groups":[{"type":"Recommended
        Places"[...]
- request:
    method: get
    uri: https://www.google.com/maps?near=Amelia%20Island,%20Fla.&output=json&q=The%20Down%20Under
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: 'while(1);{tit[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&ll=30.627822,-81.485888&query=The%20Down%20Under&v=20150408&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '127'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4874'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"response":{"suggestedRadius":30000,"headerLocation":"Yulee","headerFullLocation":"Yulee","headerLocationGranularity":"city","query":"the
        down under","totalResults":4,"suggestedBounds":{"ne":{"lat":30.81357474058513,"lng":-81.55102664337105},"sw":{"lat":30.34328310759118,"lng":-81.57342574270407}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"50329572e4b0db55a2e10ec0","name":"under
        the raindrops","contact":{},"location":{"lat":30.371697664171418,"lng":-81.5526018628109,"distance":29220,"postalCode":"32225","cc":"US","city":"Jacksonville","state":"FL","country":"United
        States","formattedAddress":["Jacksonville, FL 32225","United States"]},"categories":[{"id":"4bf58dd8d48988d160941735","name":"Hot
        Spring","pluralName":"Hot Springs","shortName":"Hot Spring","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/parks_outdoors\/hotspring_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":21,"usersCount":18,"tipCount":0},"spec[...]
[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&near=Nassau%20County,%20Florida&query=Central%20Park&v=20150408&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '158'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4873'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"response":{"fallbackCategory":{"target":{"type":"path","url":"\/venue\/explore","params":{"query":"Central
        Park","sw":"30.262885,-82.084290","ne":"30.849411,-81.339941"}},"refinements":[{"query":"outdoors
        & recreation"}]},"geocode":{"what":"","where":"nassau county florida","center":{"lat":30.61058,"lng":-81.77142},"displayString":"Nassau
        County, FL, United States","cc":"US","geometry":{"bounds":{"ne":{"lat":30.829924,"lng":-81.346358},"sw":{"lat":30.273336999999998,"lng":-82.050331}}},"slug":"nassau-county-florida","longId":"72057594042093539"},"headerLocation":"Current
        map view","headerFullLocation":"Current map view","headerLocationGranularity":"unkn[...]
[...]
- request:
    method: get
    uri: https://irs2.4sqi.net/img/general/622x440/fMb8LIaymxXEOjWRfcs47RcLrDNlMBuq_YlyVQFOU3o.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Mon, 23 Mar 2015 23:11:51 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsL
        DBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/
        2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIy
        MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAG4Am4DASIAAhEBAxEB/8QA
        HAAAAgMBAQEBAAAAAAAAAAAAAgMBBAUABgcI/8QAQBAAAgEDAwMDAwMCBQIE
        BgIDAQIRAAMEEiExBUFREyJhBnGBFDKRQqEVI1KxwWLRJD[...]
- request:
    method: get
    uri: https://irs0.4sqi.net/img/general/622x440/104500_3zQWf3jGJ5XTnqaNd7WOm0WflBtoBf0-mMQlDQ91_Z0.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Mon, 23 Mar 2015 23:11:52 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQEASABIAAD/4QBYRXhpZgAATU0AKgAAAAgAAgESAAMA
  [...]
- request:
    method: get
    uri: https://irs2.4sqi.net/img/general/622x440/28969575_Q2Ue5wEnvkgYzmwAMfWDGlO0SDAVTRm1cT5W0Hn1tQ4.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Mon, 23 Mar 2015 23:11:52 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsL
[...]
- request:
    method: get
    uri: https://irs1.4sqi.net/img/general/622x440/45018408_7UF9Rqwn0-EnUz56ejeaKYNzASvFzrfk7B9Cy8FHADg.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Mon, 23 Mar 2015 23:11:53 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsL
[...]
- request:
    method: get
    uri: https://irs3.4sqi.net/img/general/622x440/41890808_wMK_fnYSfEHZn8D9gxxB70dcs7RjJ6896p9vPQmA6FU.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Mon, 23 Mar 2015 23:11:54 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsL
[...]
- request:
    method: get
    uri: https://irs0.4sqi.net/img/general/622x440/r9NbESgzMTGU8eDF646RIagzEBhNYgDb2QX1qww6F9I.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Mon, 23 Mar 2015 23:11:54 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQEASABIAAD/4QBYRXhpZgAATU0AKgAAAAgAAgESAAMA
        A[...]
[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&near=Nassau%20County,%20Florida&query=Kelly%20Seahorse%20Ranch&v=20150408&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-[...]
- request:
    method: get
    uri: https://www.google.com/maps?near=Amelia%20Island,%20Fla.&output=json&q=Kelly%20Seahorse%20Ranch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: 'while(1[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&ll=30.52173,-81.442457&query=Kelly%20Seahorse%20Ranch&v=20150408&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
   [...]
[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&near=Nassau%20County,%20Florida&query=Gourmet%20Gourmet&v=20150408&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
 [...]
- request:
    method: get
    uri: https://www.google.com/maps?near=Amelia%20Island,%20Fla.&output=json&q=Gourmet%20Gourmet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: ASCII-8BIT
      string: !binary |-[...]
[...]
