#planit-footer
  margin: 0
  bottom: 0
  left: 0
  right: 0
  width: 100%
  background: #000

  *:focus
    outline: 0 !important

  .section-header
    margin: auto !important
    padding-bottom: 15px !important
    font-size: 16px !important
    font-weight: bold !important
    color: #eee !important
    text-shadow: none !important
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms' !important

  .static-section-content
    padding-bottom: 15px
    font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    color: #ccc
    p
      margin: 0
      padding: 0
    a:link, a:visited
      color: #66d !important
    a:hover, a:active
      color: #33b !important

  .bottom-nav-bar
    cursor: pointer
    width: 100%
    text-align: center
    display: table
    table-layout: fixed
    .nav-item-link
      display: table-cell
      box-sizing: border-box
      -moz-box-sizing: border-box
      -webkit-box-sizing: border-box
      width: auto
      &.selected
        cursor: default
    a:visited, a:link
      text-decoration: none
      color: #ddd
    a:hover, a:active
      text-decoration: none
      color: #ff0066

    .nav-item
      padding: 10px 0px
      box-sizing: border-box
      -moz-box-sizing: border-box
      -webkit-box-sizing: border-box
      display: inline-block
      width: 100%
      color: #ddd
      background: #000
      border-bottom: #000 3px solid
      font-size: 18px
      line-height: 18px
      i 
        position: relative
        display: inline-block
        width: 20px
        height: 18px
      &.selected
        background: #2f2f2f
        border-bottom: #aaa 3px solid
        color: #fff
        &:hover, &:active
          background: #2f2f2f
          border-bottom: #aaa 3px solid
          color: #fff
          .nav-item-hint
            display: none
            visibility: hidden
      &.disabled
        background: #000
        border-bottom: #000 3px solid
        color: #333
        &:hover, &:active
          background: #000
          border-bottom: #000 3px solid
          color: #333
          .nav-item-hint
            display: none
            visibility: hidden
      &:hover, &:active
        background: #222
        border-bottom: #444 3px solid
        color: #fff
        a:visited, a:link, a:hover, a:active
          text-decoration: none
        .nav-item-hint
          opacity: 1
          display: inline-block
          visibility: visible
          span
            color: #fff
            background: rgba( 0,0,0,1 )

    span.inbox-count
      position: absolute
      right: -4px
      top: 8px
      padding: 2px
      border-radius: 2px
      background: #f06
      font-size: 10px
      line-height: 10px
      font-weight: bold
      color: #000
      text-shadow: none
      &.chill
        background: #ccc

    .nav-item-hint
      display: none
      visibility: hidden
      position: absolute
      opacity: 0
      bottom: 52px
      width: 150px
      margin-left: -84px
      text-align: center
      white-space: nowrap
      padding: 5px 0 0 0
      z-index: 950
      span
        font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
        font-size: 11px
        line-height: 11px
        font-weight: bold
        padding: 3px 5px
        border-radius: 3px
        -webkit-border-radius: 3px






  // VARIABLE SIZING

  // *Computer (Regular)

  height: 300px
  padding: 45px 0 50px 0
  position: absolute

  // #Tablet (Portrait)
  @media only screen and (min-width: 768px) and (max-width: 959px)

    height: 300px
    padding: 45px 0 50px 0
    position: absolute

  // #Mobile (Portrait) <-- smallest
  @media only screen and (max-width: 767px)

    position: fixed
    padding: 0
    z-index: 100000
    height: auto

  // #Mobile (Landscape)
  @media only screen and (min-width: 480px) and (max-width: 767px)

    position: fixed
    padding: 0
    z-index: 100000
    height: auto

#footer-spacing
  padding: 0 0 300px 0
  @media only screen and (min-width: 768px) and (max-width: 959px)
    padding: 0 0 300px 0
  @media only screen and (max-width: 767px)
    padding: 0 0 45px 0
  @media only screen and (min-width: 480px) and (max-width: 767px)
    padding: 0 0 45px 0