// BOTTOM OF PAGE
.footer
  // min-width: 940px
  width: 100%
  background: #000
  padding: 45px 0 50px 0
  margin: 0

.footer-title
  margin: auto
  padding-bottom: 15px
  font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 16px
  font-weight: bold
  color: #fff
  -webkit-font-smoothing: antialiased

.footer-section
  padding-bottom: 15px
  font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 14px
  color: #fff
  -webkit-font-smoothing: antialiased

// VARIABLE SIZING

// *Computer (Regular)

.footer
  &.new
    display: block
    visibility: visible

// #Tablet (Portrait)
@media only screen and (min-width: 768px) and (max-width: 959px)

  .footer
    &.new
      display: none
      visibility: hidden

// #Mobile (Portrait) <-- smallest
@media only screen and (max-width: 767px)

  .footer
    &.new
      display: none
      visibility: hidden

// #Mobile (Landscape)
@media only screen and (min-width: 480px) and (max-width: 767px)

  .footer
    &.new
      display: none
      visibility: hidden
