// BOTTOM OF PAGE

.footer
  // min-width: 940px
  width: 100%
  background: #000
  padding: 45px 0 50px 0
  margin: 0

  &.mobile
    position: fixed !important
    bottom: 0px
    left: 0px
    border-top: #333
    padding: 0px 0px
    z-index: 100000
 
.bottom-nav-bar
  cursor: pointer
  width: 100%
  text-align: center
  display: table
  table-layout: fixed
  a.nav-item-link
    display: table-cell
    box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    width: auto
    &.selected
      cursor: default
  a:visited, a:link
    text-decoration: none
    color: #ddd
  a:hover, a:active
    text-decoration: none
    color: #ff0066

  .nav-item
    padding: 10px 0px
    box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    display: inline-block
    width: 100%
    color: #ddd
    background: #000
    border-bottom: #000 3px solid
    font-size: 18px
    line-height: 18px
    i 
      display: inline-block
      width: 20px
    &.selected
      background: #2f2f2f
      border-bottom: #aaa 3px solid
      color: #fff
      &:hover, &:active
        background: #2f2f2f
        border-bottom: #aaa 3px solid
        color: #fff
        .nav-item-hint
          display: none
          visibility: hidden
    &.disabled
      background: #000
      border-bottom: #000 3px solid
      color: #222
      &:hover, &:active
        background: #000
        border-bottom: #000 3px solid
        color: #222
        .nav-item-hint
          display: none
          visibility: hidden
    &:hover, &:active
      background: #222
      border-bottom: #444 3px solid
      color: #fff
      a:visited, a:link, a:hover, a:active
        text-decoration: none
      .nav-item-hint
        opacity: 1
        display: inline-block
        visibility: visible
        span
          color: #fff
          background: rgba( 0,0,0,1 )

  .nav-item-hint
    display: none
    visibility: hidden
    position: absolute
    opacity: 0
    bottom: 52px
    width: 150px
    margin-left: -84px
    text-align: center
    white-space: nowrap
    padding: 5px 0 0 0
    z-index: 950
    span
      font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 11px
      line-height: 11px
      font-weight: bold
      padding: 3px 5px
      border-radius: 3px
      -webkit-border-radius: 3px

.footer-title
  margin: auto
  padding-bottom: 15px
  font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 16px
  font-weight: bold
  color: #fff
  -webkit-font-smoothing: antialiased

.footer-section
  padding-bottom: 15px
  font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 14px
  color: #fff
  -webkit-font-smoothing: antialiased

// VARIABLE SIZING

// *Computer (Regular)

.footer-spacing
  height: 0px

.footer
  &.new
    display: block
    visibility: visible

// #Tablet (Portrait)
@media only screen and (min-width: 768px) and (max-width: 959px)

  .footer-spacing
    height: 0px

  .footer
    &.new
      display: none
      visibility: hidden

// #Mobile (Portrait) <-- smallest
@media only screen and (max-width: 767px)

  .footer-spacing
    height: 45px

  .footer
    &.new
      display: none
      visibility: hidden

// #Mobile (Landscape)
@media only screen and (min-width: 480px) and (max-width: 767px)

  .footer-spacing
    height: 45px

  .footer
    &.new
      display: none
      visibility: hidden
