// HEADER

.init-header-space
  margin: 74px 0 0 0
  &.bucket, &.simple
    margin: 106px 0 0 0

.initial-header
  position: fixed
  top: 0px
  padding: 0
  margin: 0 auto
  width: 100%
  display: block
  height: 74px
  opacity: 1
  visibility: visible
  z-index: 16777269
  &.transparent
  &.white
    background: #fff
    border-top: 3px solid rgb(28, 48, 147)
  &.black
    background: #050d36
    border-top: 3px solid #000
  &.gray
    background: #5f626d
    border-top: 3px solid #2a2d3d
  &.blocked
    background: #fff

.header-title
  display: inline-block
  padding: 0 20px 0 20px
  margin: 0
  max-width: 350px
  height: 100%
  overflow: hidden
  font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 14px
  font-weight: normal
  word-wrap: break-word
  word-break: break-all
  &.active
    background: #fff
    position: absolute
    max-width: 100%

.simple-header-top
  display: block
  width: 100%
  text-align: center
  white-space: nowrap
  overflow: hidden
  img
    margin: 10px 5px

.tagline-band
  position: fixed
  display: block
  top: 74px
  margin: 0
  padding: 4px
  font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 14px
  font-weight: bold
  width: 100%
  text-align: center
  visibility: visible
  z-index: 16777269
  color: #777
  &.place, &.user, &.plan, &.new
    display: none
    visibility: none

.header-container
  height: 71px
  padding: 0
  overflow: hidden
  margin-left: auto
  margin-right: auto
  text-align: left
  font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 14px
  font-weight: bold
  -webkit-font-smoothing: antialiased

  .page-title-bar
    display: block
    visibility: visible
    position: absolute
    top: 21px
    padding: 4px 8px
    text-align: center
    &.user, &.plan, &.bucket, &.place
      display: none
      visibility: hidden

  .search-bar-wrap
    display: inline-block
    visibility: visible
    position: absolute
    &.new, &.simple
      display: none
      visibility: hidden

.page-title
  display: inline-block
  margin: 0
  font-size: 25px
  line-height: 25px
  font-weight: bold
  font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
  cursor: default
  &.black
    color: #000
  &.white
    color: #fff

.logo-container
  visibility: visible
  display: inline-block
  cursor: pointer

.logo-name-top
  &.new
    display: none !important
    visibility: hidden !important

#input-search-field, #input-search-button
  height: 28px
  font-family: avenir, 'trebuchet ms', open sans, arial !important
  font-size: 14px !important
  line-height: 28px !important
  margin-top: 21px !important
  padding: 0px 6px !important
  i
    font-size: 14px !important
    line-height: 28px !important
    overflow: hidden !important

.side-menu-container
  float: right
  font-size: 14px
  line-height: 23px
  font-weight: normal
  font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
  cursor: default

  .divider
    padding: 0px 4px
  strong
    &:hover
      cursor: pointer
  &.new
    display: none
    visibility: hidden
  &.black
    color: #000
  &.white
    color: #fff

.main-menu-container
  cursor: pointer
  float: right
  height: 37px
  width: 37px
  border-radius: 50%
  webkit-border-radius: 50%
  moz-border-radius: 50%
  text-align: center
  overflow: hidden
  &.black
    color: #fff
    background: #222 
    border: 3px solid #000
    &:hover
      background: #ff0066
      border: 3px solid #ff0066
  &.white
    color: #000
    background: #ddd
    border: 3px solid #fff
    &:hover
      background: rgb(213, 44, 111)
      border: 3px solid rgb(213, 44, 111)
  .main-menu-icon
    height: 21px
    width: 18px
    font-size: 1.25em
    position: relative
    margin: auto
    top: 50%
    transform: translateY(-50%)

.page-header-band
  position: fixed
  top: 74px
  height: 32px
  padding: 0
  margin: 0 auto
  width: 100%
  display: block
  background: #1b1a33
  border-top: #3a395a solid 1px
  border-bottom: #0c0c1e solid 1px
  opacity: 1
  visibility: visible
  z-index: 16777269
  &.place, &.user, &.plan, &.new, &.simple
    display: none
    visibility: none

.page-header-container
  padding: 3px 2px
  color: #fff
  text-align: center
  font-size: 14px
  line-height: 14px
  font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
  .filter-icon
    padding: 0 3px

.bubble-span
  display: inline-block
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  white-space: nowrap
  cursor: pointer
  background: #5b5e67
  border: 1px solid #82848e
  border-bottom: 1px solid #393b45
  &.small
    margin: 3px 3px
    padding: 0px 3px
    font-size: 13px
    line-height: 14px
  &:active
    background: #38546c
    border: 1px solid #899fb6
    border-bottom: 1px solid #344964  
  &:hover
    background: #861d45
    border: 1px solid #ac486e
    border-bottom: 1px solid #732650
  &.up
  &.down
  &.off
    border: 1px solid #273571
    background: #1c295d
    border-bottom: 1px solid #020412
    color: #a7a5e8
    &:hover
      background: #cc4e64
      border: 1px solid #ff8693
      border-bottom: 1px solid #ae3a3d
      color: #fff
  &.gray
    background: #898876
    border: 1px solid #aeab98
    border-bottom: 1px solid #837d67
  &.backset
    background: #101b2f
    border: 1px solid #16223a
    border-bottom: 1px solid #071224

.page-header-category
  display: inline-block
  margin: 0px 0px
  padding: 3px 6px 3px 3px
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  white-space: nowrap
  font-size: 14px
  line-height: 14px
  cursor: pointer
  background: rgba(255, 255, 255, 0) 
  border: 1px solid rgba(255, 255, 255, 0)
  border-bottom: 1px solid rgba(0, 0, 0, 0)
  &.map
    &:hover
      background: #ff0066
      border: 1px solid #e44557
      border-bottom: 1px solid #840c1a
  &.share
    &:hover
      background: #ff0066
      border: 1px solid #e44557
      border-bottom: 1px solid #840c1a

.page-header-divider
  display: inline-block
  padding: 0px 4px
  margin: 0px 3px
  color: #485395
  text-shadow: 1px 1px 4px #000

// VARIABLE SIZING

// *Computer (Regular)

.logo-name-top
  display: block !important
  visibility: visible !important

.page-title-bar
  left: 305px
  width: 350px

.initial-header
  .search-bar-wrap
    left: 250px !important
    width: 430px !important

.side-menu-container
  visibility: visible
  display: inline-block
  margin: 24px 0

.main-menu-container
  margin: 17px 0 0 15px

.main-menu
  visibility: hidden
  display: none

.user-icon
  visibility: visible
  display: inline-block

.i.user-icon
  position: relative
  margin: auto
  top: 50%
  transform: translateY(-50%)

.page-header-container
  .shrink
    visibility: visible
    display: inline

.page-header-category
  &.sort
    &:hover
      background: rgba(255, 255, 255, 0) 
      border: 1px solid rgba(255, 255, 255, 0)
      border-bottom: 1px solid rgba(0, 0, 0, 0)
      cursor: default

// #Tablet (Portrait)
@media only screen and (min-width: 768px) and (max-width: 959px)

  .logo-name-top
    display: block !important
    visibility: visible !important

  .page-title-bar
    left: 244px
    width: 288px

  .initial-header
    .search-bar-wrap
      left: 244px !important
      width: 280px !important

  .side-menu-container
    visibility: visible
    display: inline-block

  .main-menu-container
    margin: 17px 0 0 15px

  .main-menu
    visibility: hidden
    display: none

  .user-icon
    visibility: visible
    display: inline-block

  .i.user-icon
    position: relative
    margin: auto
    top: 50%
    transform: translateY(-50%)

  .page-header-container
    .shrink
      visibility: hidden
      display: none

  .page-header-category
    &.sort
      &:hover
        background: rgba(255, 255, 255, 0) 
        border: 1px solid rgba(255, 255, 255, 0)
        border-bottom: 1px solid rgba(0, 0, 0, 0)
        cursor: default

// #Mobile (Portrait) <-- smallest
@media only screen and (max-width: 767px)

  .initial-header
    background: #000 !important
    border-top: 3px solid #222 !important

  .logo-name-top
    display: none !important
    visibility: hidden !important
  
  .page-title-bar
    left: 60px
    width: 185px

  .page-title.extra
    visibility: hidden
    display: none

  .initial-header
    .search-bar-wrap
      left: 80px !important
      right: 80px !important
      width: auto !important

  .side-menu-container
    visibility: hidden
    display: none

  .main-menu-container
    margin: 17px 0 0 0px

  .user-icon
    visibility: hidden
    display: none

  .main-menu
    visibility: visible
    display: block

  .filter-content
    visibility: hidden
    display: none    

  .page-header-container
    .shrink
      visibility: hidden
      display: none

  .page-header-category
    &.sort
      &:hover
        background: #ff0066
        border: 1px solid #e44557
        border-bottom: 1px solid #840c1a
        cursor: pointer

// #Mobile (Landscape)
@media only screen and (min-width: 480px) and (max-width: 767px)

  .logo-name-top
    display: none !important
    visibility: hidden !important
  
  .page-title-bar
    left: 60px
    width: 302px

  .initial-header
    background: #000 !important
    border-top: 3px solid #222 !important
    .search-bar-wrap
      left: 80px !important
      right: 80px !important
      width: auto !important

  .side-menu-container
    visibility: hidden
    display: none
  
  .main-menu-container
    margin: 17px 0 0 0px

  .user-icon
    visibility: hidden
    display: none

  .main-menu
    visibility: visible
    display: block

  .filter-content
    visibility: hidden
    display: none

  .page-header-container
    .shrink
      visibility: hidden
      display: none

  .page-header-category
    &.sort
      &:hover
        background: #ff0066
        border: 1px solid #e44557
        border-bottom: 1px solid #840c1a
        cursor: pointer
