#user-inbox-page
  
  .inbox-folder
    padding: 0
    background: #aaa
    position: relative
  
  .inbox-message-header
    cursor: pointer





  // VARIABLE SIZING RULES

  // *Computer (Regular)

  // #Tablet (Portrait)
  @media only screen and (min-width: 768px) and (max-width: 959px)

  // #Mobile (Portrait) <-- smallest
  @media only screen and (max-width: 767px)

  // #Mobile (Landscape)
  @media only screen and (min-width: 480px) and (max-width: 767px)
