body
  margin: 0

@media screen

  // TOP TO BOTTOM

  // MENU STUFF

  .printable-content
    visibility: visible

  .printable-message
    visibility: hidden

  .initial-header
    -webkit-background-clip: border-box
    -webkit-background-origin: padding-box
    -webkit-background-size: auto
    // -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px 4px
    background-attachment: scroll
    background-clip: border-box
    background-image: none
    background-origin: padding-box
    background-size: auto
    display: block
    height: 71px
    opacity: 1
    padding-bottom: 0px
    padding-left: 0px
    padding-right: 0px
    padding-top: 0px
    position: fixed
    top: 0px
    visibility: visible
    width: 100%
    min-width: 940px
    z-index: 16777269

  .persistent-header
    -webkit-background-clip: border-box
    -webkit-background-origin: padding-box
    -webkit-background-size: auto
    -webkit-font-smoothing: antialiased
    // -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px 4px
    background-attachment: scroll
    background-clip: border-box
    background-color: #fff
    background-image: none
    background-origin: padding-box
    background-size: auto
    color: #000
    display: block
    float: right
    height: 71px
    line-height: 71px
    opacity: 1
    padding-bottom: 0px
    padding-left: 0px
    padding-right: 0px
    padding-top: 0px
    position: fixed
    top: 0px
    visibility: hidden
    width: 100%
    min-width: 940px
    z-index: 16777270
    &.sticky
      transition-delay: 0s
      transition-duration: 0.2s
      transition-property: opacity
      transition-timing-function: ease
      visibility: visible
      -webkit-transition-delay: 0s
      -webkit-transition-duration: 0.2s
      -webkit-transition-property: opacity
      -webkit-transition-timing-function: ease

  .header-title
    display: inline-block
    padding: 0 20px 0 20px
    margin: 0
    max-width: 350px
    height: 100%
    overflow: hidden
    font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    font-weight: normal
    word-wrap: break-word
    word-break: break-all
    &.active
      background: #fff
      position: absolute
      max-width: 100%

  .header-container
    width: 920px
    height: 71px
    overflow: hidden
    margin-left: auto
    margin-right: auto
    font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    font-weight: bold
    -webkit-font-smoothing: antialiased

  .logo-container
    visibility: visible
    display: inline-block
    float: left

  .user-icon
    float: right
    margin: 0
    padding: 0 
    visibility: visible
    display: inline-block
    img
      border: 0
      float: right
    a
      img
        border: 0
    &.black
      background: none
    &.white
      background: none
      &.active
        padding-top: 14px
        background: black

  .menu-link
    -webkit-font-smoothing: antialiased
    float: right
    height: 71px
    line-height: 71px
    list-style-image: none
    list-style-position: outside
    list-style-type: none
    margin-bottom: 0px
    margin-left: 0px
    margin-right: 25px
    margin-top: 0px
    padding-bottom: 0px
    padding-left: 15px
    padding-right: 15px
    padding-top: 0px
    text-align: center
    text-transform: uppercase
    vertical-align: baseline
    &.white
      color: #fff
      a
        display: inline-block
        color: #fff
      a:hover
        color: #fff
        // border-bottom: 3px solid #fff
        text-decoration: none
      &.active
        padding-top: 14px
        background: black
    &.black
      color: #000
      background: none
      a
        display: inline-block
        color: #000
      a:hover
        color: #000
        // border-bottom: 3px solid #000
        text-decoration: none
      &.active
        background: #f60

  .menu-top
    float: right
    list-style-type: none
    margin: 0
    padding: 0
    overflow: hidden

  a
    color: #fff
    text-decoration: none
    border: 0

  // TITLE STUFF

  .moneyshot
    background-color: #ccc
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    max-width: 1260px
    min-width: 940px
    height: 540px
    margin-left: auto
    margin-right: auto
    text-align: center

  .clickable-moneyshot
    height: 471px
    width: 100%
    margin-left: 0
    margin-right: 0
    margin-top: 0
    margin-bottom: 0
    padding: 101px 0 30px 0 
    white-space: nowrap
    overflow: hidden
  
  #tagline
    &.off-view
      visibility: hidden

  .title-and-caption-wrap
    width: 920px
    height: 69px
    margin-left: auto
    margin-right: auto
    margin-top: 0
    margin-bottom: 0
    white-space: nowrap
    overflow: hidden
    background: rgb(0, 0, 0)
    background: rgba(0, 0, 0, 0.7)
    font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
    line-height: 69px
    vertical-align: baseline
    text-align: left
    color: #fff
    -webkit-font-smoothing: antialiased
    img
      position: absolute
      float: left
      padding-top: 6px
      
  .moneyshot-title
    display: inline-block
    line-height: 69px
    font-size: 22px
    font-weight: normal
    padding: 0 13px 0 13px
    margin-left: 45px

  .moneyshot-duration
    display: inline-block
    font-size: 12px
    font-weight: normal
    font-style: italic
    vertical-align: top
    padding: 0 13px 0 13px

  .moneyshot-caption
    display: inline-block
    float: right
    font-size: 12px
    padding-right: 13px 

  .title-and-caption-content
    visibility: visible
    &.off-view
      transition-delay: 0s
      transition-duration: 0.2s
      transition-property: opacity
      transition-timing-function: ease
      -webkit-transition-delay: 0s
      -webkit-transition-duration: 0.2s
      -webkit-transition-property: opacity
      -webkit-transition-timing-function: ease
      visibility: hidden

  // OVERVIEW

  .body-container
    max-width: 1260px
    min-width: 940px
    margin-left: auto
    margin-right: auto
    text-align: center
    &.odd
      background-color: #fff
    &.even
      background-color: #f9f9f9
  
  .overview
    width: 920px
    overflow: hidden
    margin-left: auto
    margin-right: auto
    margin-top: 0px
    margin-bottom: 0px
    padding-top: 30px
    padding-bottom: 30px
    background-position: left
    background-repeat: repeat-y
    background-image: image-url('timeline-line.png')

  .summary-wrap
    background-color: #eee
    width: 450px
    max-height: 450px
    // height: 120px IN CONTEXT OF DASHBOARD
    &.active
      max-height: 1000px

  .user-circular
    float: left
    position: absolute
    border-radius: 50%
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    background-position: center center
    background-repeat: no-repeat
    // border: 4px solid #333
    margin: 11px
    width: 32px
    height: 32px

  .summary-author
    -webkit-font-smoothing: antialiased
    font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    font-weight: bold
    color: #000
    padding: 18px 18px 0px 18px
    margin-left: 45px
    text-align: left

  .summary-content
    -webkit-font-smoothing: antialiased
    font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    font-weight: normal
    color: #000
    padding: 8px 18px 18px 18px
    margin-left: 45px
    text-align: left

  .dashboard-wrap
    width: 450px
    height: 310px
    background-color: #eee
    margin-top: 20px
    white-space: nowrap
    .dashboard-content
      float: left
      background-color: #dedede
      width: 143px
      margin-top: 5px
      margin-left: 5px
      border-width: 1px 0 0 1px
      border-style: solid
      border-color: #cdcdcd
      font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 14px
      font-weight: normal
      color: #000
      padding: 5px
      -webkit-font-smoothing: antialiased

  .ratings
    width: 120px
    height: 24px
    background-position: left
    background-repeat: repeat-x
    border: 0px
    margin-left: auto
    margin-right: auto
    margin-top: 5px
    padding: 0
    overflow: hidden
    text-align: left
    white-space: nowrap
    img
      border: 0px
      margin: 0px
      padding: 0px
      display: inline-block

  .summary-map
    float: right
    width: 450px
    height: 450px

  // MAIN ITINERARY CONTENT

  .timeline-wrap
    width: 920px
    margin-left: auto
    margin-right: auto
    background-position: left
    padding-top: 15px
    padding-bottom: 15px
    background-repeat: repeat-y
    background-image: image-url('timeline-line.png')

  .travel-info
    width: 100%
    text-align: left
    font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 15px
    font-weight: normal
    color: #000
    -webkit-font-smoothing: antialiased
    padding-left: 65px
    padding-top: 0px
    padding-bottom: 0px

  .cluster-info
    width: 100%
    text-align: left
    font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 21px
    font-weight: normal
    color: #000
    -webkit-font-smoothing: antialiased
    padding-left: 65px
    padding-top: 0px
    padding-bottom: 10px
    b
      font-size: 12px
      font-weight: bold
      text-transform: uppercase

  .timeline-travel
    margin-left: 0px
    margin-top: -17px
    float:left
    width: 55px
    height: 55px
    position: absolute
    background-repeat: no-repeat
    background-position: left
    &.car
      background-image: image-url('timeline-car.png')      
  
  .timeline-cluster
    margin-left: 12px
    margin-top: -9px
    float:left
    width: 55px
    height: 55px
    position: absolute
    background-repeat: no-repeat
    background-position: left
    &.no1
      background-image: image-url('timeline-cluster-pin-A.png')
    &.no2
      background-image: image-url('timeline-cluster-pin-B.png')
    &.no3
      background-image: image-url('timeline-cluster-pin-C.png')
    &.no4
      background-image: image-url('timeline-cluster-pin-D.png')
    &.no5
      background-image: image-url('timeline-cluster-pin-E.png')
    &.no6
      background-image: image-url('timeline-cluster-pin-F.png')
    &.no7
      background-image: image-url('timeline-cluster-pin-G.png')
    &.no8
      background-image: image-url('timeline-cluster-pin-H.png')
    
  .timeline-end
    clear:  both

  .itinerary-cluster-wrap
    width: 855px
    margin-left: 65px
    margin-right: 25px
    margin-top: 0px
    margin-bottom: 0px
    padding: 20px
    &.odd
      background: #dddddd
    &.even
      background: #ffffff

  .cluster-map-expandible
    width: 100%
    height: 150px
    background-repeat: no-repeat
    background-position: center center
    .cluster-caption
      float: left
      position: absolute
      background: rgb(0, 0, 0)
      background: rgba(0, 0, 0, 0.85)
      text-align: left
      font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
      color: #fff
      line-height: 25px
      vertical-align: baseline
      padding: 10px
      margin: 10px
      -webkit-font-smoothing: antialiased
    &.clicked
      height: 450px

  .itinerary-content-row
    width: 855px
    height: 172px
    margin-left: 65px
    margin-right: 25px
    margin-top: 0px
    margin-bottom: 0px
    padding: 10px
    white-space: nowrap
    overflow: hidden
    &.odd
      background: rgb(245, 245, 245)
      background: rgba(0, 0, 0, 0.05)
    &.even
      background: rgb(240, 240, 240)
      background: rgba(0, 0, 0, 0.08)

  .content-tab-wrap
    min-height: 250px
    width: 200px
    display: block
    float: left

  .content-tab
    display: block
    padding-right: 10px
    padding-left: 10px
    padding-top: 10px
    text-align: center
    font-family: "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
    font-weight: normal
    color: #000
    white-space: normal
    word-wrap: normal
    img
      width: 180px
      height: 120px
      border: 0px
      margin: 0px 0px 0px 0px
    &.active
      display: block
      position: absolute
      background: #333
      color: #fff
      width: 200px
      padding: 10px
      border-bottom: 3px solid #222
      z-index: 100

  .content-tab-title
    margin: 0px
    padding: 0px
    width: 180px
    font-size: 12px
    line-height: 12px
    text-align: center
    font-family: "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
    position:relative
    display: inherit
    text-transform: capitalize
    overflow-x: auto
    overflow-y: hidden
    white-space: normal
    word-wrap: normal
    max-height: 13px
    &.active
      max-height: 100px

  .content-tab-more-info
    margin-top: 15px
    width: 180px
    max-height: 350px
    font-size: 11px
    line-height: 12px
    text-align: left
    font-family: avenir, arial
    position:relative
    display: inherit
    overflow-x: auto
    white-space: normal
    word-wrap: normal

  .content-tab-get-more
    margin-top: 10px
    width: 180px
    font-size: 11px
    line-height: 12px
    text-align: left
    font-family: "Myriad W01", "Helvetica Neue", avenir, arial
    position:relative
    display: inherit
    overflow: hidden
    white-space: none 
    word-wrap: break-word
    max-height: 100px
    a
      color: #fff

  .itinerary-content-date
    margin-left: 12px
    margin-top: -30px
    float:left
    width: 55px
    height: 55px
    position: absolute
    background-repeat: no-repeat
    background-position: left
    &.no1
      background-image: image-url('timeline_date_1.png')
    &.no2
      background-image: image-url('timeline_date_2.png')
    &.no3
      background-image: image-url('timeline_date_3.png')
    &.no4
      background-image: image-url('timeline_date_4.png')
    &.no5
      background-image: image-url('timeline_date_5.png')
    &.no6
      background-image: image-url('timeline_date_6.png')
    &.no7
      background-image: image-url('timeline_date_7.png')
    &.no8
      background-image: image-url('timeline_date_8.png')
    &.no9
      background-image: image-url('timeline_date_9.png')
    &.no10
      background-image: image-url('timeline_date_10.png')
    &.no11
      background-image: image-url('timeline_date_11.png')
    &.no12
      background-image: image-url('timeline_date_12.png')
    &.no13
      background-image: image-url('timeline_date_13.png')
    &.no14
      background-image: image-url('timeline_date_14.png')
    &.no15
      background-image: image-url('timeline_date_15.png')
    &.no16
      background-image: image-url('timeline_date_16.png')
    &.no17
      background-image: image-url('timeline_date_17.png')
    &.no18
      background-image: image-url('timeline_date_18.png')
    &.no19
      background-image: image-url('timeline_date_19.png')
    &.no20
      background-image: image-url('timeline_date_20.png')
    &.no21
      background-image: image-url('timeline_date_21.png')
    &.no22
      background-image: image-url('timeline_date_22.png')
    &.no23
      background-image: image-url('timeline_date_23.png')
    &.no24
      background-image: image-url('timeline_date_24.png')
    &.no25
      background-image: image-url('timeline_date_25.png')
    &.no26
      background-image: image-url('timeline_date_26.png')
    &.no27
      background-image: image-url('timeline_date_27.png')
    &.no28
      background-image: image-url('timeline_date_28.png')
    &.no29
      background-image: image-url('timeline_date_29.png')
    &.no30
      background-image: image-url('timeline_date_30.png')
    // &.no31
    //   background-image: image-url('timeline_date_31.png')
    // &.no32
    //   background-image: image-url('timeline_date_32.png')
    // &.no33
    //   background-image: image-url('timeline_date_33.png')
    // &.no34
    //   background-image: image-url('timeline_date_34.png')
    // &.no35
    //   background-image: image-url('timeline_date_35.png')
    // &.no36
    //   background-image: image-url('timeline_date_36.png')
    // &.no37
    //   background-image: image-url('timeline_date_37.png')
    // &.no38
    //   background-image: image-url('timeline_date_38.png')
    // &.no39
    //   background-image: image-url('timeline_date_39.png')
    // &.no40
    //   background-image: image-url('timeline_date_40.png')
    // &.no41
    //   background-image: image-url('timeline_date_41.png')
    // &.no42
    //   background-image: image-url('timeline_date_42.png')
    // &.no43
    //   background-image: image-url('timeline_date_43.png')
    // &.no44
    //   background-image: image-url('timeline_date_44.png')
    // &.no45
    //   background-image: image-url('timeline_date_45.png')

  .itinerary-content-time
    margin-left: 0px
    margin-top: 55px
    float:left
    width: 55px
    height: 55px
    position: absolute
    background-repeat: no-repeat
    background-position: left
    &.allday
      background-image: image-url('timeline_allday.png')
    &.dawn
      background-image: image-url('timeline_dawn.png')
    &.morning
      background-image: image-url('timeline_morning.png')
    &.late-morning
      background-image: image-url('timeline_late_morning.png')
    &.day
      background-image: image-url('timeline_day.png')
    &.afternoon
      background-image: image-url('timeline_afternoon.png')
    &.evening
      background-image: image-url('timeline_evening.png')
    &.night
      background-image: image-url('timeline_night.png')

  .tab-sleep
    margin-left: 153px
    margin-top: -27px
    width: 55px
    height: 55px
    position: absolute
    background-repeat: no-repeat
    background-position: left
    background-image: image-url('tab_sleep.png')

  // BOTTOM OF PAGE

  .footer
    width: 100%
    background-color: #000
    padding-top: 25px
    padding-bottom: 50px
    margin-top: 10px

  .footer-content
    width: 920px
    margin: auto
    font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    font-weight: normal
    color: #fff
    -webkit-font-smoothing: antialiased

  .map
    border: 0 
    float: right
    width: 450px
    height: 450px

  .olAlphaImg
    z-index: 16777260

  // BUILD MODE

  .just-added-build
    width: 200px
    height: 140px


  .build-search
    width: 920px
    height: 69px
    margin-left: auto
    margin-right: auto
    margin-top: 400px
    margin-bottom: 0
    white-space: nowrap
    overflow: hidden
    background: rgb(0, 0, 0)
    /* fallback color
    background: rgba(0, 0, 0, 0.7)
    font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
    line-height: 69px
    vertical-align: baseline
    text-align: left
    color: #fff
    -webkit-font-smoothing: antialiased
    img
      position: absolute
      float: left
      padding-top: 6px
    input
      display: inline-block
      font-size: 12px
      font-weight: normal
      padding: 6px 6px 6px 12px
      margin-left: 70px
      height: 30px
      width: 350px
      margin-top: 18px
      margin-bottom: 23px
      margin-right: 0px
      background: #222
      color: #fff
      border: 1px solid #666
    strong
      font-size: 12px
      font-weight: bold
      padding: 13px

  .timeline-wrap-build
    width: 920px
    margin-left: auto
    margin-right: auto
    background-position: left
    padding-top: 0px
    padding-bottom: 0px
    background-repeat: repeat-y
    background-image: image-url('timeline-line.png')
    border-bottom: #999 dashed 1px
    &.active
      background-color: #ffffc8

  .itinerary-build-content-wrap
    width: 855px
    height: 150px
    margin-left: 65px
    margin-right: 25px
    margin-top: 0px
    margin-bottom: 0px
    padding: 5px
    overflow: hidden

  .itinerary-build-content-pin
    margin-left: 0px
    margin-top: 50px
    float:left
    width: 55px
    height: 55px
    position: absolute
    background-repeat: no-repeat
    background-position: left
    background-image: image-url('timeline-cluster-pin.png')

  .content-tab-wrap-build
    height: 140px
    width: 500px
    display: block
    float: left

  .content-tab-build
    padding-right: 10px
    padding-left: 10px
    padding-top: 10px
    height: 140px
    float: left
    overflow-y: hidden
    text-align: center
    font-family: "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
    font-size: 12px
    font-weight: normal
    color: #000
    background: #fff
    img
      width: 180px
      height: 120px
      border: 0px
      margin: 0px

  .content-tab-more-info-build
    float: left
    margin-left: 10px
    margin-top: -1px
    width: 180px
    height: 140px
    font-size: 14px
    text-align: left
    font-family: avenir, arial
    strong
      font-size: 18px
      font-weight: bold
      background: #fff
      padding: 0px 5px 0px 5px
    a
      color: #000

  .itinerary-build-travel-q-pin
    width: 100%
    text-align: left
    font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 15px
    font-weight: normal
    color: #000
    -webkit-font-smoothing: antialiased
    padding-left: 80px
    padding-top: 10px
    padding-bottom: 10px
    background-image: image-url('timeline-car.png')
    background-repeat: no-repeat
    background-position: left
    background-color: #f9f9f9














@media print 

  // TOP TO BOTTOM

  // MENU STUFF

  .printable-message:before
    display: block
    content: "Thank you for using PlanIt -- we're excited to have you print and share your plans, but would recommend you enter 'print mode' to either export as PDF or print a physical copy, as the formatting and data-inclusion are optimized for printing.  If you have any questions or feedback contact us at feedback@plan.it."
    margin: 100px 100px 100px 100px
    border: 2px solid #ddd
    padding: 6px 10px
    font-style: italic

  .printable-content
    visibility: hidden
    width: 1px
    height: 1px
    overflow: hidden

  .persistent-header
    position: absolute
    width: 100%
    top: 0px
    visibility: visible

  .moneyshot
    height: 100%
    width: 100%
    background-size: contain

  .menu-top
    visibility: hidden

  .title-and-caption-wrap
    visibility: hidden

  .header-title
    visibility: hidden

  .user-icon
    visibility: hidden
