$neonPink: #f06
$darkNeonPink: #c03
$lightBlue: #33a
$lightestBlue: #66d
$darkBlue: #007
$inkBlue: #003

// LISTS FOR PLACES / CLUSTERS

.suggested-results
  li + li, ul + ul
    border-top: 1px #ccc solid

.map-filter-results, .map-highlight-result, .place-search-results, .modal-directive-wrapper .choose, .modal-directive-wrapper .confirm, .place-list, .items-in-plan, .items-in-manifest, .search-results-list, .items-in-list

  ul
    list-style-type: none
    -webkit-padding-start: 0
    padding: 0
    margin: 0
  li
    color: #000
    height: 75px
    margin: 0
    padding: 3px
    box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    background: #eee

  li + li, ul + ul
    border-top: 1px #ccc solid

  .bucket-list-container
    width: 352px

  .bucket-list-tab
    display: block
    height: 69px
    overflow: hidden
    vertical-align: top
    white-space: nowrap

  .bucket-list-img
    display: inline-block
    height: 69px
    width: 69px
    background-color: #ddd
    background: no-repeat center center
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    text-align: center
    img
      width: 69px
      height: 69px

  .bucket-list-no-img
    display: inline-block
    height: 69px
    width: 69px
    background-color: #ccc
    text-align: center

  .bucket-list-wrap
    display: inline-block
    position: relative
    height: 100%
    vertical-align: top
    padding: 0 0 0 7px
    margin: 0
    overflow: hidden

  .bucket-list-profile
    display: block
    vertical-align: top
    width: auto
    overflow: hidden

  .bucket-list-title
    text-align: left
    display: block
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-weight: bold
    font-size: 15px
    line-height: 19px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap    
    color: #003380 // dark blue
    text-decoration: none
    &:hover
      color: #0047b3 // light blue
      text-decoration: none

  span.mini-foursquare-icon, span.xmini-foursquare-icon
    display: inline-block
    float: left
    margin-right: 3px
    background: no-repeat center center
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    vertical-align: middle
    border-radius: 4px

  span.mini-foursquare-icon
    height: 30px
    width: 30px
    img
      height: 30px
      width: 30px

  span.xmini-foursquare-icon
    height: 20px
    width: 20px

  .main-item-card .foursquare-and-info-wrap .bucket-list-more-info
    margin-left: 35px

  .bucket-list-more-info.locale-only
    color: #777

  .bucket-list-more-info
    display: block
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 13px
    line-height: 15px
    overflow: hidden
    text-align: left
    text-overflow: ellipsis
    white-space: nowrap
    i
      color: #777
      font-size: 13px
      &.sm
        font-size: 11px
      &.xsm
        font-size: 9px
      &.pad-two-top
        vertical-align: top
        margin-top: 2px

  .bucket-list-cluster-size
    display: inline-block
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    font-weight: bold
    color: #eee
    background: #ff0066
    padding: 2px 4px
    border-radius: 2px
    a, a:hover
      color: #eee
      background: #ff0066
      text-decoration: none

  .bucket-list-controls
    display: block
    position: absolute
    right: 0
    bottom: 0
    height: 23px
    overflow: hidden
    padding: 0
    margin: 0
    text-align: right
    vertical-align: top

  .bucket-list-control
    display: inline-block
    width: 23px
    height: 23px
    margin: 0
    padding: 0
    text-align: center
    font-size: 18px
    line-height: 23px
    color: #eee
    cursor: pointer
    -webkit-transition: -webkit-transform 1s
    transition: transform 1s
    &:hover
      i, a
        color: #f06
      .bucket-list-control-hint
        display: inline-block
        visibility: visible
    &.disabled
      i, a
        color: #eee
      &:hover
        i
          color: #eee
        .bucket-list-control-hint
          display: none
          visibility: hidden
    &.enabled
      i, a
        color: rgb(20, 35, 125)
        // color: #ccc
        &:hover
          color: #f06

      
    .bucket-list-control-hint
      display: none
      visibility: hidden
      position: absolute
      overflow: hidden
      left: 0
      top: 0
      bottom: 0
      margin: auto 0
      color: #fff
      font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 13px
      font-weight: bold
      border-radius: 3px
      -webkit-border-radius: 3px
      padding: 1px 4px
      background: #ff0066

.btn.select-item
  position: absolute
  right: 10px
  top: 25%
  font-size: 16px
  margin: 0 10px

#filter-and-actions
  height: 69px
  width: 100%
  background-color: $inkBlue
  color: gray(25)
  font-size: 16px
  line-height: 69px
  i
    margin: 0 5px
  span.select-all
    color: white
    font-weight: bold
    margin: 0 5px 0 15px
  .filter, .actions, .filter-and-actions-x-out, .cancel-out
    position: absolute
  .filter, .cancel-out
    left: 10px
  .actions
    right: 10px
  .filter-and-actions-x-out
    right: -20px
  .btn
    margin: 0 10px
  .actions-bar, .filter-bar
    width: 90%
    display: inline