span.cluster-map-icon-tab
  display: table
  font-weight: bold
  text-align: center
  color: #fff
  font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
  background-color: #ff0066
  border-bottom: #990033 solid 1px
  &.small
    font-size: 16px
    line-height: 34px
    width: 34px
    height: 34px
    margin-left: 3px
    margin-top: 3px
    border-radius: 2px
  &.medium
    font-size: 17px
    line-height: 36px
    width: 36px
    height: 36px
    margin-left: 2px
    margin-top: 2px
    border-radius: 3px
  &.large
    font-size: 18px
    line-height: 40px
    width: 40px
    height: 40px
    margin-left: 0
    margin-top: 0
    border-radius: 4px
  &.highlighted
    background-color: #333
    border-bottom: #000 solid 1px
    color: #fff    
  &:hover
    background-color: transparent !important
    border-bottom: transparent solid 1px !important
    color: transparent !important

/* IE 6-8 fallback colors */

.leaflet-oldie
  .marker-cluster-small, .marker-cluster-medium, .marker-cluster-large
    background-color: #ff0066
    div
      background-color: #ff0066

.cluster-map-div-container
  z-index: 10000 !important
  div
    text-align: center
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-weight: bold
    color: #ffffff
    z-index: 10000 !important
  &:hover
    z-index: 12500 !important

path.leaflet-clickable
  z-index: 12500 !important

/* Non-Clusterer Icons */

.default-map-div-icon
  text-align: center
  height: 32px
  width: 26px
  margin-top: -32px
  position: relative
  left: -50%
  z-index: 10000 !important
  &:hover
    z-index: 12500 !important
  &.primary
    z-index: 10000 !important

.default-map-icon-tab
  display: inline-block
  text-align: center
  -webkit-font-smoothing: antialiased
  font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 15px
  font-weight: bold
  line-height: 26px
  white-space: nowrap
  margin-left: auto
  margin-right: auto
  border-radius: 2px
  width: 26px
  height: 26px
  background: #ff0066
  border: #f06 1px solid
  border-bottom: #990033 solid 1px
  color: #fff
  div.arrow
    position: relative
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
    top: 0
    margin-top: -3px
    border-width: 8px 7px 0 7px /*Arrow w/h is defined by the borders*/
    width: 0px 
    height: 0px
    border-style: solid
    z-index: 800
    border-color: #ff0066 transparent transparent transparent
  &.print
    background: #333
    border: 1px solid #333
    border-bottom: #000 solid 1px
    color: #fff
  i
    width: 16px
    display: inline-block
  b
    display: inline-block
    min-width: 16px
  &:hover, &.highlighted
    color: #fff
    border: 1px solid #333
    background: #333
    border-bottom: #000 solid 1px
    div.arrow
      border-color: #333 transparent transparent transparent

.contextual-map-div-icon
  text-align: center
  height: 18px
  width: 18px
  z-index: 1000 !important
  &:hover
    z-index: 3000 !important

.contextual-map-icon-tab
  overflow: hidden
  white-space: nowrap
  margin-left: 0
  margin-right: 0
  border-radius: 2px
  text-align: center
  font-size: 14px
  line-height: 14px
  color: #cc3366
  background: #ddd
  border: #ddd solid 1px
  border-bottom: #bbb solid 1px
  display: block
  vertical-align: text-top
  width: 18px
  height: 18px
  position: relative
  cursor: pointer
  &:hover
    color: #aa1144
    background: #efefef
    border: #efefef solid 1px
    border-bottom: #ccc solid 1px
  i
    width: 14px
    height: 14px
    display: inline-block
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: auto

.leaflet-popup-content-wrapper
  background: #fff
  font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 15px
  font-weight: bold
  border-radius: 0
  -webkit-border-radius: 0
  -moz-border-radius: 0
  -webkit-box-shadow: #ccc 0 0.1875em 0,rgba(0,0,0,0.04) 0 0.11111em 0
  -moz-box-shadow: #ccc 0 0.1875em 0,rgba(0,0,0,0.04) 0 0.11111em 0
  box-shadow: #ccc 0 0.1875em 0,rgba(0,0,0,0.04) 0 0.11111em 0
  a
    color: #000

.leaflet-popup-tip-container
  height: 15px
  margin-bottom: 4px

.mini-popup
  .leaflet-popup-content
    margin: 5px 8px
  a.leaflet-popup-close-button
    text-align: right
    margin: 1px 3px 0 0
    padding: 0
    line-height: 8px
    font-size: 8px
    width: 6px
    height: 8px

.leaflet-control-locate 
  border: 1px solid rgba(0,0,0,0.4)
  
.leaflet-control-locate a 
  background-color: #fff
  background-position: -3px, -2px
  
.leaflet-control-locate.active a 
  background-position: -33px -2px
  
.map-canvas.places-single
  .primary-map-div-icon    
    &:hover
      content: image-url('map_icon_x_red.png') !important

  .leaflet-popup-content-wrapper
    background: #fff
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 13px
    font-weight: bold
    border-radius: 0
    -webkit-border-radius: 0
    -moz-border-radius: 0
    -webkit-box-shadow: #ccc 0 0.1em 0,rgba(0,0,0,0.04) 0 0.11111em 0
    -moz-box-shadow: #ccc 0 0.1em 0,rgba(0,0,0,0.04) 0 0.11111em 0
    box-shadow: #ccc 0 0.1em 0,rgba(0,0,0,0.04) 0 0.11111em 0


