// CANVASES

.leaflet-wrapper
  height: 100%

.world-view-map-wrap
  display: block
  position: relative
  padding: 8px
  background-color: #f3f3f3
  border: 1px solid #c4c7ca
  border-bottom-color: #b7babe
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  -webkit-box-shadow: #ecedee 0 -2px 0 inset,rgba(0,0,0,0.04) 0 1px 0
  -moz-box-shadow: #ecedee 0 -2px 0 inset,rgba(0,0,0,0.04) 0 1px 0
  box-shadow: #ecedee 0 -2px 0 inset,rgba(0,0,0,0.04) 0 1px 0
  margin-bottom: 15px

.empty-map-box.world-view
  background: #eee
  margin-bottom: 10px
  border: 1px solid #ccc

.bucket-map-canvas, .plan-map-canvas
  background: #ccc
  position: fixed
  height: inherit
  left: 0px
  right: 0px
  z-index: 10000

.place-option-map-canvas
  margin: 10px 0
  background: #ccc

// HIDE LAYER THING

.leaflet-control-layers
  display: none !important
  visibility: hidden !important

// INFOBOXES > MULTI-ITEM

.map-filter-results-container
  clear: both
  display: block
  position: relative
  visibility: visible
  z-index: 150000 !important
  top: 15px
  left: 15px
  box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 5px 0px
  border-radius: 4px
  padding: 4px
  background: #eee
  width: 360px
  overflow: hidden

  .place-filter-dropdown .filter-dropdown-toggle
    width: 352px
    display: block
    padding: 3px
    margin: 2px 0 5px 0
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-weight: bold
    font-size: 15px
    line-height: 19px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    cursor: pointer
    color: #333
    border-radius: 3px
    transition: 0.2 ease all
    background: #ccc
    border-bottom: 1px solid #aaa
    &:hover
      background: #aaa
      border-bottom: 1px solid #888
      color: #000
    &.unselected
      background: #ccc
      border-bottom: 1px solid #aaa
      &:hover
        background: #f06
        color: #fff
        border-bottom: 1px solid $darkNeonPink

    .filter-numbers, .apply-filters
      white-space: nowrap
      font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 15px
      line-height: 19px
    .apply-filters
      float: left
    .filter-numbers
      float: right
      #number-filtered
        display: inline
        font-weight: normal
      #number-places
        display: inline
        font-weight: bold
    .filter-numbers i
      padding: 0 4px 0 5px
    .apply-filters i
      padding: 0 5px 0 4px

  .place-filter-dropdown ul
    margin: 15px
    text-align: left
    font-size: 15px
    line-height: 15px
    list-style-type: none
    -webkit-padding-start: 0
    padding: 0
    overflow-x: hidden
    li.divider
      margin: 5px 0
    li.header
      font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 15px
      line-height: 15px
      font-weight: bold
      color: #777
      padding: 5px 0 8px 0
      border-bottom: #ccc 1px solid
      margin: 5px 0
    li.filter-dropdown-menu
      padding: 0
      margin: 0
      white-space: nowrap
      overflow: hidden
      width: auto
      transition: all 0.2s ease
      label
        display: block
        font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
        font-size: 15px
        line-height: 15px
        font-weight: bold
        cursor: pointer
        padding: 5px 15px
        white-space: nowrap
        overflow: hidden
        border-radius: 3px
        background: #eee
        color: #333 
        &:hover
          color: #fff
          background: #f06
        i
          float: right
          width: 20px
          text-align: center
          padding: 0
        span.only-checkbox
          font-size: 13px
          font-weight: normal
          background: #fff
          color: #777
          border-radius: 3px
          padding: 0 3px
          margin-left: 5px

    .filter-dropdown-menu-checkbox, .filter-dropdown-menu-nearby
      display: inline-block
      margin-right: 10px
      margin-top: 2px

.map-filter-results
  width: 400px
  overflow-x: hidden
  overflow-y: scroll
  cursor: pointer

.map-filter-results, #recent-places  
  ul
    -webkit-padding-start: 0
    padding: 0
    margin: 0
    background-color: #ccc
    width: 352px
    li
      color: #000
      height: 75px
      margin: 0
      padding: 3px
      box-sizing: border-box
      -moz-box-sizing: border-box
      -webkit-box-sizing: border-box
      background: #eee
      &.highlighted
        background: #fff
        a.place-control
          color: #ccc
          &:hover
            color: #f06
        .bucket-list-cluster-size
          color: #fff
          background: #000
  .bucket-list-tab
    width: 346px
  .bucket-list-wrap
    height: 69px
    width: 271px
  .bucket-list-title
    width: 264px
  .bucket-list-more-info
    width: 264px
  .bucket-list-controls
    width: 264px
  .bucket-list-profile
    height: 46px
  .bucket-list-container
    width: 352px
  .bucket-list-tab
    display: block
    height: 69px
    overflow: hidden
    vertical-align: top

  .bucket-list-no-icon
    display: inline-block
    height: 69px
    width: 69px
    text-align: center
    i
      font-size: 23px
      line-height: 69px

  .bucket-list-img
    display: inline-block
    height: 69px
    width: 69px
    background-color: #ddd
    background: no-repeat center center
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    text-align: center

  .bucket-list-no-img
    display: inline-block
    height: 69px
    width: 69px
    background-color: #ccc
    text-align: center

  .bucket-list-wrap
    display: inline-block
    vertical-align: top
    height: 69px
    padding: 0 0 0 7px
    margin: 0
    overflow: hidden

  .bucket-list-profile
    display: block
    vertical-align: top
    width: auto
    height: 46px
    overflow: hidden

  a.bucket-list-title
    display: block
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-weight: bold
    font-size: 15px
    line-height: 19px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap    
    color: #003380 // dark blue
    text-decoration: none
    &:hover
      color: #0047b3 // light blue
      text-decoration: none

  .bucket-list-more-info
    display: block
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 13px
    line-height: 15px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    i
      color: #777
      font-size: 13px
      &.sm
        font-size: 11px
      &.xsm
        font-size: 9px
      &.pad-two-top
        vertical-align: top
        margin-top: 2px

  .bucket-list-cluster-size
    display: inline-block
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    font-weight: bold
    color: #eee
    background: #ff0066
    padding: 2px 4px
    border-radius: 2px
    a, a:hover
      color: #eee
      background: #ff0066
      text-decoration: none

  .bucket-list-controls, .item-actions
    display: block
    position: relative
    height: 23px
    overflow: hidden
    padding: 0
    margin: 0
    text-align: right
    vertical-align: top

  .place-control, .item-action-button
    display: inline-block
    width: 23px
    height: 23px
    margin: 0
    padding: 0
    text-align: center
    font-size: 18px
    line-height: 23px
    color: #eee
    cursor: pointer
    -webkit-transition: -webkit-transform 1s
    transition: transform 1s
    &:hover
      i, a
        color: #f06
      .place-control-hint, .hint
        display: inline-block
        visibility: visible
    &.disabled
      i, a
        color: #eee
      &:hover
        i
          color: #eee
        .place-control-hint, .hint
          display: none
          visibility: hidden
    &.enabled
      i, a
        color: rgb(20, 35, 125)
      
    .place-control-hint, .hint
      display: none
      visibility: hidden
      position: absolute
      overflow: hidden
      left: 0
      top: 0
      bottom: 0
      margin: auto 0
      color: #fff
      font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 13px
      font-weight: bold
      border-radius: 3px
      -webkit-border-radius: 3px
      padding: 1px 4px
      background: #ff0066

  .item-actions
    i
      color: #eee
    i.enabled
      color: gray(75) !important
      &:hover
        color: #f06 !important
    i.disabled
      color: #eee
    i.neon
      color: #f06

  #top-of-list
    height: 0
    width: 0

  #first-bucket-item
    visibility: visible
    display: block
    &.invisible
      visibility: hidden
      display: none

    #no-items-msg
      font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 15px
      font-weight: bold
      color: #333
      line-height: 69px
      padding: 0 10px
      width: 253px
      overflow: hidden
      text-overflow: ellipsis
      &:hover
        color: #000

// INFOBOXES > SINGLE BUCKET ITEM

.map-highlight-result
  clear: both
  z-index: 150000 !important
  bottom: 44px
  left: 0
  right: 0
  position: fixed
  text-align: center
  ul
    background-color: #ccc
  li
    height: 75px
    overflow: hidden
    cursor: pointer
    background: #fff !important
    &:hover
      .bucket-list-cluster-size
        color: #fff
        background: #f06
  .bucket-list-wrap
    width: 271px
  .bucket-list-title
    text-align: left
    width: 264px
  .bucket-list-more-info
    text-align: left
    width: 264px
  .bucket-list-controls
    width: 264px
  .place-control
    i, a
      color: #f06
  i.action
    color: #f06
  .place-control.disabled
    i, a
      color: #fafafa
  i.action.disabled
    color: #fafafa
  .place-control.enabled
    i, a
      color: rgb(20, 35, 125)
  i.action.enabled
    color: rgb(20, 35, 125)
  .bucket-list-cluster-size
    background: #000
    color: #eee

// ICONS

.cluster-map-icon-tab
  display: table
  font-weight: bold
  text-align: center
  color: #fff
  font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
  background-color: #ff0066
  border-bottom: #990033 solid 1px
  &.small
    font-size: 16px
    line-height: 34px
    width: 34px
    height: 34px
    margin: 0
    border-radius: 4px
  &.medium
    font-size: 17px
    line-height: 36px
    width: 36px
    height: 36px
    margin: 0
    border-radius: 4px
  &.large
    font-size: 18px
    line-height: 40px
    width: 40px
    height: 40px
    margin: 0
    border-radius: 4px
  &.highlighted
    background-color: #333
    border-bottom: #000 solid 1px
    color: #fff
  &:hover
    background-color: transparent !important
    border-bottom: transparent solid 1px !important
    color: transparent !important
  &.xsm, &.xsm:hover
    height: 18px
    width: 18px
    margin-top: -18px
    line-height: 18px
    font-size: 14px
    border-radius: 3px
    margin: 0 
    font-weight: normal 
    color: #fff !important
    background: #333 !important
    border-bottom: #000 solid 1px !important

/* IE 6-8 fallback colors */

.leaflet-oldie
  .marker-cluster-small, .marker-cluster-medium, .marker-cluster-large
    background-color: #ff0066
    div
      background-color: #ff0066

.cluster-map-div-container
  z-index: 10000 !important
  div
    text-align: center
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-weight: bold
    color: #ffffff
    z-index: 10000 !important
  &:hover
    z-index: 12500 !important

path.leaflet-clickable
  z-index: 12500 !important

/* Non-Clusterer Icons */

.default-map-div-icon
  text-align: center
  height: 32px
  width: 26px
  margin-top: -32px
  position: relative
  left: -50%
  z-index: 10000 !important
  &:hover
    z-index: 12500 !important
  &.primary
    z-index: 10000 !important
  &.xsm
    height: 18px
    width: 18px
    margin-top: -18px

.default-map-icon-tab
  display: inline-block
  text-align: center
  
  font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 15px
  font-weight: bold
  line-height: 26px
  white-space: nowrap
  margin-left: auto
  margin-right: auto
  border-radius: 2px
  width: 26px
  height: 26px
  background: #ff0066
  border: #f06 1px solid
  border-bottom: #990033 solid 1px
  color: #fff
  div.arrow
    position: relative
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
    top: 0
    margin-top: -4px
    border-width: 8px 7px 0 7px /*Arrow w/h is defined by the borders*/
    width: 0px 
    height: 0px
    border-style: solid
    z-index: 800
    border-color: #ff0066 transparent transparent transparent
  &.print
    background: #333
    border: 1px solid #333
    border-bottom: #000 solid 1px
    color: #fff
  i
    width: 16px
    height: 20px
    display: inline-block
  i.minimap.foursquare-icon
    width: 24px
    height: 20px
    background-size: 100%
  b
    display: inline-block
    min-width: 16px
  &.xsm
    height: 18px
    width: 18px
    margin-top: -18px
    font-size: 14px
    font-weight: normal
    line-height: 18px
    color: #fff !important
    background: #333 !important
    border-bottom: #000 solid 1px !important
  &.turqoise
    background: #78c5d6
    border: #78c5d6 1px solid
    border-bottom: rgba(0,0,0,0.3) solid 1px
    div.arrow
      border-color: #78c5d6 transparent transparent transparent
  &.blue
    background: #459ba8
    border: #459ba8 1px solid
    border-bottom: rgba(0,0,0,0.3) solid 1px
    div.arrow
      border-color: #459ba8 transparent transparent transparent
  &.bluegreen
    background: #79c267
    border: #79c267 1px solid
    border-bottom: rgba(0,0,0,0.3) solid 1px
    div.arrow
      border-color: #79c267 transparent transparent transparent
  &.green
    background: #c5d647
    border: #c5d647 1px solid
    border-bottom: rgba(0,0,0,0.3) solid 1px
    div.arrow
      border-color: #c5d647 transparent transparent transparent
  &.yellow
    background: #f5d63d
    border: #f5d63d 1px solid
    border-bottom: rgba(0,0,0,0.3) solid 1px
    div.arrow
      border-color: #f5d63d transparent transparent transparent
  &.orange
    background: #f28c33
    border: #f28c33 1px solid
    border-bottom: rgba(0,0,0,0.3) solid 1px
    div.arrow
      border-color: #f28c33 transparent transparent transparent
  &.pink
    background: #e868a2
    border: #e868a2 1px solid
    border-bottom: rgba(0,0,0,0.3) solid 1px
    div.arrow
      border-color: #e868a2 transparent transparent transparent
  &.magenta
    background: #bf62a6
    border: #bf62a6 1px solid
    border-bottom: rgba(0,0,0,0.3) solid 1px
    div.arrow
      border-color: #bf62a6 transparent transparent transparent
  &.purple
    background: #a21cbf
    border: #a21cbf 1px solid
    border-bottom: rgba(0,0,0,0.3) solid 1px
    div.arrow
      border-color: #a21cbf transparent transparent transparent
  &.gray
    background: #bdbdbd
    border: #bdbdbd 1px solid
    border-bottom: rgba(0,0,0,0.3) solid 1px
    div.arrow
      border-color: #bdbdbd transparent transparent transparent
  &:hover, &.highlighted
    color: #fff
    border: 1px solid #333
    background: #333
    border-bottom: #000 solid 1px
    div.arrow
      border-color: #333 transparent transparent transparent

.contextual-map-div-icon
  text-align: center
  height: 18px
  width: 18px
  z-index: 1000 !important
  &:hover
    z-index: 3000 !important

.contextual-map-icon-tab
  overflow: hidden
  white-space: nowrap
  margin-left: 0
  margin-right: 0
  border-radius: 2px
  text-align: center
  font-size: 14px
  line-height: 14px
  color: #cc3366
  background: #ddd
  border: #ddd solid 1px
  border-bottom: #bbb solid 1px
  display: block
  vertical-align: text-top
  width: 18px
  height: 18px
  position: relative
  cursor: pointer
  &:hover
    color: #aa1144
    background: #efefef
    border: #efefef solid 1px
    border-bottom: #ccc solid 1px
  i
    width: 14px
    height: 14px
    display: inline-block
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: auto

.leaflet-popup-content-wrapper
  background: #fff
  font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 15px
  font-weight: bold
  border-radius: 0
  -webkit-border-radius: 0
  -moz-border-radius: 0
  -webkit-box-shadow: #ccc 0 0.1875em 0,rgba(0,0,0,0.04) 0 0.11111em 0
  -moz-box-shadow: #ccc 0 0.1875em 0,rgba(0,0,0,0.04) 0 0.11111em 0
  box-shadow: #ccc 0 0.1875em 0,rgba(0,0,0,0.04) 0 0.11111em 0
  a
    color: #000

.leaflet-popup-tip-container
  height: 15px
  margin-bottom: 4px

.mini-popup
  .leaflet-popup-content
    margin: 5px 8px
  a.leaflet-popup-close-button
    text-align: right
    margin: 1px 3px 0 0
    padding: 0
    line-height: 8px
    font-size: 8px
    width: 6px
    height: 8px

.leaflet-control-locate 
  border: 1px solid rgba(0,0,0,0.4)
  
.leaflet-control-locate a 
  background-color: #fff
  background-position: -3px, -2px
  
.leaflet-control-locate.active a 
  background-position: -33px -2px
  
.map-canvas.places-single
  .primary-map-div-icon    
    &:hover
      content: image-url('map_icon_x_red.png') !important

  .leaflet-popup-content-wrapper
    background: #fff
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 13px
    font-weight: bold
    border-radius: 0
    -webkit-border-radius: 0
    -moz-border-radius: 0
    -webkit-box-shadow: #ccc 0 0.1em 0,rgba(0,0,0,0.04) 0 0.11111em 0
    -moz-box-shadow: #ccc 0 0.1em 0,rgba(0,0,0,0.04) 0 0.11111em 0
    box-shadow: #ccc 0 0.1em 0,rgba(0,0,0,0.04) 0 0.11111em 0


// *Computer (Regular)

.place-option-map-canvas
  width: 100%
  height: 500px

.bucket-map-canvas, .plan-map-canvas
  top: 68px
  bottom: 0px

.empty-map-box.world-view
  height: 387px

.world-view-canvas
  height: 385px

#in-view-item
  display: none
  visibility: hidden

// #Tablet (Portrait)
@media only screen and (min-width: 768px) and (max-width: 959px)

  .place-option-map-canvas
    width: 100%
    height: 400px

  .bucket-map-canvas, .plan-map-canvas
    top: 68px
    bottom: 0px

  .empty-map-box.world-view
    height: 339px

  .world-view-canvas
    height: 337px

  #in-view-item
    display: none
    visibility: hidden

// #Mobile (Portrait) <-- smallest
@media only screen and (max-width: 767px)

  .place-filter-dropdown .filter-dropdown-toggle
    margin: 0

  .place-option-map-canvas
    width: 100%
    height: 350px

  .bucket-map-canvas, .plan-map-canvas
    top: 44px
    bottom: 44px

  .empty-map-box.world-view
    height: 201px
  .world-view-canvas
    height: 199px

  #in-view-list
    display: none
    visibility: hidden

  #in-view-item
    display: block
    visibility: visible

// #Mobile (Landscape)
@media only screen and (min-width: 480px) and (max-width: 767px)

  .place-filter-dropdown .filter-dropdown-toggle
    margin: 0

  .place-option-map-canvas
    width: 100%
    height: 350px

  .bucket-map-canvas, .plan-map-canvas
    top: 0
    bottom: 0

  .empty-map-box.world-view
    height: 287px
  .world-view-canvas
    height: 285px

  #in-view-list
    display: none
    visibility: hidden

  #in-view-item
    display: block
    visibility: visible