#show-place-page, #new-place-page

  // PLACE NEW

  .add-new-wrap
    padding: 20px 0
    &.gray
      background: #ddd
      border-top: #eee 1px solid
      border-bottom: #bbb 1px solid

  .add-new-form
    padding: 0px
    margin-bottom: 10px
    font-size: 22px
    line-height: 22px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'

    .add-new-input
      input
        -webkit-border-radius: 2px
        -moz-border-radius: 2px
        border-radius: 2px
        border: 1px solid #bbb
        display: inline-block
        font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
        font-size: 16px
        line-height: 22px
        padding: 3px 8px
        &:disabled
          background: #eee
          border: 1px solid #ccc

      .on-off-button, select.on-off-button
        display: inline-block
        padding: 3px 8px
        color: #777
        font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
        font-weight: normal
        font-size: 16px
        line-height: 22px
        -webkit-border-radius: 2px
        -moz-border-radius: 2px
        border-radius: 2px
        margin: 0
        &.on
          background: #fff
          border: 1px solid #bbb
        &.off
          background: #eee
          border: 1px solid #ccc
          border-bottom: 2px solid #aaa

      &.section
        padding: 5px 0
        .new-place-icon
          text-align: center
          width: 22px
          margin-right: 3px
          vertical-align: middle
      .sub-line
        padding: 0px 26px 5px 26px
        font-size: 14px
        line-height: 16px
        .new-place-icon-small
          text-align: center
          width: 18px
          padding: 6px

    .click-for-more
      float: left
      display: inline-block
      padding: 3px 8px
      font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-weight: bold
      font-size: 13px
      line-height: 22px
      color: #777
      text-shadow: 0px 1px 1px #fff
      border: 1px solid rgba(0,0,0,0)
      border-bottom: 3px solid rgba(0,0,0,0)
      margin: 5px 0 10px 0
      i
        padding-right: 5px

  .add-new-submit
    float: right
    display: inline-block
    padding: 3px 8px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-weight: bold
    font-size: 16px
    line-height: 22px
    color: #333
    text-shadow: 0px 1px 1px #fff
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    border: 1px solid #ccc
    border-bottom: 3px solid #aaa
    background: #fff
    margin: 5px 0 10px 0
    cursor: pointer
    &.halo
      margin: 5px 10px 10px 0
    &.disabled
      color: #777
      background: #ddd

  // 

  .name-essentials-wrap
    margin-top: 10px
    margin-bottom: 20px

  .place-page-name
    padding: 10px 0px 5px 0px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 32px
    line-height: 35px
    font-weight: bold
    color: #000
    text-shadow: 0px 1px 1px #fff
    text-align: left
    -webkit-font-smoothing: antialiased

  .place-page-category
    padding: 0px 0px 0px 0px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 12px
    line-height: 15px
    color: #000
    text-align: left
    span
      padding: 0 0 0 1px
    .gray
      display: inline
      color: #333
    .place-show-icon
      color: #777
      padding: 0px 4px 0 0px

  .book-been-save-wrap
    padding: 15px 0px 5px 0px
    text-align: right

  .book-been-save-bar
    display: inline-block
    background: rgb(28, 48, 147)
    overflow: hidden
    white-space: nowrap
    padding: 0px 8px
    border: 1px solid rgb(55, 78, 170)
    border-bottom: 1px solid rgb(23, 42, 138)
    cursor: pointer

  .click-to
    display: inline-block
    color: #fff
    padding: 10px 7px
    font-size: 1.1em
    border-bottom: rgb(28, 48, 147) 2px solid
    &:hover
      border-bottom: #fff 2px solid
      background: rgb(23, 42, 138)

  .map-address-wrap
    display: block
    position: relative
    padding: 8px
    background-color: #f3f3f3
    border: 1px solid #c4c7ca
    border-bottom-color: #b7babe
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    -webkit-box-shadow: #ecedee 0 -2px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    -moz-box-shadow: #ecedee 0 -2px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    box-shadow: #ecedee 0 -2px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    margin-bottom: 15px

  .map-canvas
    border: #bbb 1px solid

  .empty-map-box
    background: #ccc
    margin-bottom: 10px

  .address-info-line
    padding: 0px 0px 3px 0px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 12px
    line-height: 15px
    color: #000
    text-align: left
    .place-show-icon
      color: #777
      padding: 0px 1px
    &.truncate
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

  .photos-wrap
    display: block
    position: relative
    padding: 8px
    background-color: #f3f3f3
    border: 1px solid #c4c7ca
    border-bottom-color: #b7babe
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    -webkit-box-shadow: #ecedee 0 -2px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    -moz-box-shadow: #ecedee 0 -2px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    box-shadow: #ecedee 0 -2px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    margin-bottom: 15px

  .photos-gallery
    border: 1px solid #ccc
    text-align: center
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

  .photos-gallery-image
    background-image: url('')
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

  .add-photo
    position: relative
    top: 50%
    transform: translateY(-50%)
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-weight: bold
    color: #eee
    i
      display: block
      padding-bottom: 5px
      font-size: 2em
    &:hover
      color: #fff
      cursor: pointer

  .photos-caption
    padding: 5px 0px 0px 0px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 11px
    color: #777
    float: right

  .photos-number
    padding: 5px 0px 0px 0px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 11px
    color: #777
    float: left

  .reviews-and-sources-wrap
    margin-bottom: 20px

  .reviews-and-sources-title
    padding: 0px 0px 10px 0px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    line-height: 17px
    font-weight: bold
    color: #000
    text-shadow: 0px 1px 1px #fff
    text-align: left

  .reviews-and-sources-line
    padding: 0px 0px 5px 0px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    line-height: 17px
    color: #000
    text-align: left

  .more-info-wrap
    margin-bottom: 20px

  .more-info-line
    padding: 0px 0px 10px 0px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    line-height: 17px
    color: #000
    text-align: left
    .place-show-icon
      color: #aaa
      padding: 0px 5px 0px 1px
    i, span.icomoon
      width: 22px
      margin: 0 18px 0 0
      text-align: center
      &.true
        color: #000

  .show-hours-line
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    line-height: 17px
    color: #777
    &.open
      color: #000
    &.today
      font-weight: bold
    &.indented
      padding-left: 40px

  i.show-hours-day
    display: inline-block
    width: 40px
    font-style: none

  // TAB SIZING

  // *Computer (Regular)

  .add-new-form
    .add-new-input
      input
        width: 308px
    .on-off-button
      width: 308px

  .book-been-save-wrap
    padding: 15px 0px 5px 0px
    text-align: right

  .book-been-save-bar
    display: inline-block

  .empty-map-box
    height: 262px

  .map-canvas
    height: 262px

  .photos-gallery
    height: 440px
    &.new
      height: 187px
      margin-bottom: 10px

  .photos-gallery-image
    height: 440px
    width: 100%

  .reviews-and-sources-wrap
    padding-right: 20px
    border-right: 1px solid #ddd
    border-bottom: none
    padding-bottom: 0px
    margin-bottom: 20px

  .more-info-wrap
    padding-top: 0px

  .other-info-wrap
    display: block
    padding: 25px
    margin-bottom: 10px
    &.hours-availability-booking
      border: 1px solid #eee
      background: #efefef

  .hours-availability-booking-content
    padding: 0px 0px 10px 0px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    line-height: 17px
    font-weight: bold
    color: #000
    text-align: left
    i
      width: 40px

    &.open-now
      color: #3a0
    &.closed-now
      color: #f30

  // #Tablet (Portrait)
  @media only screen and (min-width: 768px) and (max-width: 959px)

    .add-new-form
      .add-new-input
        input
          width: 236px
      .on-off-button
        width: 236px

    .book-been-save-wrap
      padding: 15px 0px 5px 0px
      text-align: right

    .book-been-save-bar
      display: inline-block

    .empty-map-box
      height: 202px

    .map-canvas
      height: 202px

    .photos-gallery
      height: 350px
      &.new
        height: 144px

    .photos-gallery-image
      height: 350px
      width: 100%

    .reviews-and-sources-wrap
      padding-right: 20px
      border-right: 1px solid #ddd
      border-bottom: none
      padding-bottom: 0px

    .more-info-wrap
      padding-top: 0px

  // #Mobile (Portrait) <-- smallest
  @media only screen and (max-width: 767px)

    .add-new-form
      .add-new-input
        input
          width: 268px
      .on-off-button
        width: 268px

    .book-been-save-wrap
      padding: 0px 0px 10px 0px

    .book-been-save-bar
      display: block

    .empty-map-box
      height: 282px

    .map-canvas
      height: 282px

    .photos-gallery
      height: 200px

    .photos-gallery-image
      height: 200px
      width: 100%

    .reviews-and-sources-wrap
      padding-right: 0px
      border-right: none
      border-bottom: 1px solid #ddd
      padding-bottom: 10px

    .more-info-wrap
      padding-top: 10px

  // #Mobile (Landscape)
  @media only screen and (min-width: 480px) and (max-width: 767px)

    .add-new-form
      .add-new-input
        input
          width: 388px
      .on-off-button
        width: 388px

    .book-been-save-wrap
      padding: 0px 0px 10px 0px

    .book-been-save-bar
      display: block

    .empty-map-box
      height: 287px
      &.new
        height: 191px

    .map-canvas
      height: 287px
      &.new
        height: 191px

    .photos-gallery
      height: 287px
      &.new
        height: 191px

    .photos-gallery-image
      height: 287px
      width: 100%
      
    .reviews-and-sources-wrap
      padding-right: 0px
      border-right: none
      border-bottom: 1px solid #ddd
      padding-bottom: 10px

    .more-info-wrap
      padding-top: 10px
