.place-page

  // PLAN HEADER
  .place-page-splash
    background: #ccc
    background: image-url('gray_over_white_band.png') repeat-x
    border-top: #bbb 1px solid
    margin-bottom: 20px

  .name-essentials-wrap
    margin-top: 10px
    margin-bottom: 20px

  .place-page-name
    padding: 10px 0px 5px 0px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 32px
    line-height: 35px
    font-weight: bold
    color: #000
    text-shadow: 0px 1px 1px #fff
    text-align: left
    -webkit-font-smoothing: antialiased

  .place-page-category
    padding: 0px 0px 0px 0px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 12px
    line-height: 15px
    color: #000
    text-align: left
    .gray
      display: inline
      color: #333
    .i
      color: #777
      padding: 0px 1px      

  .book-been-save-wrap
    padding: 15px 0px 5px 0px
    text-align: right

  .book-been-save-bar
    display: inline-block
    background: rgb(28, 48, 147)
    overflow: hidden
    white-space: nowrap
    padding: 0px 8px
    border: 1px solid rgb(55, 78, 170)
    border-bottom: 1px solid rgb(23, 42, 138)
    cursor: pointer

  .click-to
    display: inline-block
    color: #fff
    padding: 10px 7px
    font-size: 1.1em
    border-bottom: rgb(28, 48, 147) 2px solid
    &:hover
      border-bottom: #fff 2px solid
      background: rgb(23, 42, 138)

    &.save
    &.been
    &.book

  .map-address-wrap
    display: block
    position: relative
    padding: 8px
    background-color: #f3f3f3
    border: 1px solid #c4c7ca
    border-bottom-color: #b7babe
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    -webkit-box-shadow: #ecedee 0 -2px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    -moz-box-shadow: #ecedee 0 -2px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    box-shadow: #ecedee 0 -2px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    margin-bottom: 15px

  .map-canvas
    background: #ccc
    margin-bottom: 10px

  .address-info-line
    padding: 0px 0px 3px 0px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 12px
    line-height: 15px
    color: #000
    text-align: left
    .i
      color: #777
      padding: 0px 1px

  .photos-wrap
    display: block
    position: relative
    padding: 8px
    background-color: #f3f3f3
    border: 1px solid #c4c7ca
    border-bottom-color: #b7babe
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    -webkit-box-shadow: #ecedee 0 -2px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    -moz-box-shadow: #ecedee 0 -2px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    box-shadow: #ecedee 0 -2px 0 inset,rgba(0,0,0,0.04) 0 1px 0
    margin-bottom: 15px

  .photos-gallery
    background: #ccc
    text-align: center
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

  .add-photo
    position: relative
    top: 50%
    transform: translateY(-50%)
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-weight: bold
    color: #eee
    .i
      display: block
      padding-bottom: 5px
      font-size: 2em
    &:hover
      color: #fff
      cursor: pointer

  .photos-caption
    padding: 5px 0px 0px 0px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 11px
    color: #777
    text-align: right

  .reviews-and-sources-wrap
    margin-bottom: 20px

  .reviews-and-sources-title
    padding: 0px 0px 10px 0px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    line-height: 17px
    font-weight: bold
    color: #000
    text-shadow: 0px 1px 1px #fff
    text-align: left

  .reviews-and-sources-line
    padding: 0px 0px 5px 0px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    line-height: 17px
    color: #000
    text-align: left

  .more-info-wrap
    margin-bottom: 20px

  .more-info-line
    padding: 0px 0px 10px 0px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    line-height: 17px
    color: #000
    text-align: left
    .i
      color: #aaa
      padding: 0px 5px 0px 1px

  // TAB SIZING

  // *Computer (Regular)

  .book-been-save-wrap
    padding: 15px 0px 5px 0px
    text-align: right

  .book-been-save-bar
    display: inline-block

  .map-canvas
    height: 262px

  .photos-gallery
    height: 440px

  .reviews-and-sources-wrap
    padding-right: 20px
    border-right: 1px solid #ddd
    border-bottom: none
    padding-bottom: 0px
    margin-bottom: 20px

  .more-info-wrap
    padding-top: 0px

  .other-info-wrap
    display: block
    padding: 15px
    margin-bottom: 10px
    &.hours-availability-booking
      border: 1px solid #eee
      background: #efefef
    &.menu-cost-reservations

  .hours-availability-booking-content
    padding: 0px 0px 10px 0px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    line-height: 17px
    font-weight: bold
    color: #000
    text-align: left

    &.open-now

  // #Tablet (Portrait)
  @media only screen and (min-width: 768px) and (max-width: 959px)

    .book-been-save-wrap
      padding: 15px 0px 5px 0px
      text-align: right

    .book-been-save-bar
      display: inline-block

    .map-canvas
      height: 202px

    .photos-gallery
      height: 350px

    .reviews-and-sources-wrap
      padding-right: 20px
      border-right: 1px solid #ddd
      border-bottom: none
      padding-bottom: 0px

    .more-info-wrap
      padding-top: 0px

  // #Mobile (Portrait) <-- smallest
  @media only screen and (max-width: 767px)

    .book-been-save-wrap
      padding: 0px 0px 10px 0px

    .book-been-save-bar
      display: block

    .map-canvas
      height: 282px

    .photos-gallery
      height: 200px

    .reviews-and-sources-wrap
      padding-right: 0px
      border-right: none
      border-bottom: 1px solid #ddd
      padding-bottom: 10px

    .more-info-wrap
      padding-top: 10px

  // #Mobile (Landscape)
  @media only screen and (min-width: 480px) and (max-width: 767px)

    .book-been-save-wrap
      padding: 0px 0px 10px 0px

    .book-been-save-bar
      display: block

    .map-canvas
      height: 402px

    .photos-gallery
      height: 287px
      
    .reviews-and-sources-wrap
      padding-right: 0px
      border-right: none
      border-bottom: 1px solid #ddd
      padding-bottom: 10px

    .more-info-wrap
      padding-top: 10px
