body
  margin: 0

.ng-map-div
  .leaflet-control-attribution
    background: none
    a
      color: gray

.exit-view
  position: fixed
  float: right
  top: 15px
  right: 15px
  padding: 10px
  background: rgb(0, 0, 0)
  background: rgba(0, 0, 0, 0.7)
  color: #fff
  font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 14px
  z-index: 16777269
  a
    display: inline-block
    color: #fff
  &.active
    background: #f60

.flash-alert
  position: fixed
  top: 0px
  width: 100%
  height: 1800px
  text-align: center
  padding: 20px 30px 20px 30px
  background: rgb(0, 0, 0)
  background: rgba(0, 0, 0, 0.7)
  color: #fff
  font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 14px
  line-height: 400px
  z-index: 16777269
  visibility: visible
  display: inline-block
  &.active
    text-decoration: underline
  &.clicked
    visibility: hidden
    display: none !important

.plans-new

  .wrapper
    width: 100%
    min-width: 1100px
    padding: 50px

  .API-wrapper
    width: 750px
    padding: 10px
    background: #666
    color: #fff
    font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    display: inline-block
    float: left
    a
      color: #fff

  .API-selector
    width: 150px
    min-height: 100px
    margin: 0px
    padding: 10px
    display: block
    float: left
    select
      padding: 3px
      background: #fff
      display: block
      color: #000
      font-family: 'trebuchet ms'
      font-size: 12px

  .input-area
    width: 580px
    min-height: 100px
    margin: 0px
    padding: 10px
    display: block
    float: left
    text-align: right
    input
      padding: 3px
      margin: 5px 0 5px 0
      background: #fff
      display: block
      width: 100%
      color: #000
      font-family: 'trebuchet ms'
      font-size: 12px
    textarea
      padding: 3px
      margin: 5px 0 5px 0
      background: #fff
      display: block
      width: 100%
      color: #000
      font-family: 'trebuchet ms'
      font-size: 12px
    button
      padding: 5px
      margin: 0px 0 5px 0
      background: #f60
      display: block
      float: right
      color: #000
      font-family: 'trebuchet ms'
      font-size: 12px
      border-bottom: #c30 3px solid

  .img-wrapper
    width: 200px
    min-height: 600px
    margin: 0px
    padding: 0 10px 0 10px
    display: inline-block
    float: left
    vertical-align:top
    img
      padding-bottom: 10px

.plans-show

  @media screen

    // TOP TO BOTTOM

    // MENU STUFF

    .printable-content
      visibility: visible

    .printable-message
      visibility: hidden

    .initial-header
      -webkit-background-clip: border-box
      -webkit-background-origin: padding-box
      -webkit-background-size: auto
      // -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px 4px
      background-attachment: scroll
      background-clip: border-box
      background-image: none
      background-origin: padding-box
      background-size: auto
      display: block
      height: 71px
      opacity: 1
      padding-bottom: 0px
      padding-left: 0px
      padding-right: 0px
      padding-top: 0px
      position: fixed
      top: 0px
      visibility: visible
      width: 100%
      min-width: 940px
      z-index: 16777269

    .persistent-header
      -webkit-background-clip: border-box
      -webkit-background-origin: padding-box
      -webkit-background-size: auto
      -webkit-font-smoothing: antialiased
      // -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px 4px
      background-attachment: scroll
      background-clip: border-box
      background-color: #fff
      background-image: none
      background-origin: padding-box
      background-size: auto
      color: #000
      display: block
      float: right
      height: 71px
      line-height: 71px
      opacity: 1
      padding-bottom: 0px
      padding-left: 0px
      padding-right: 0px
      padding-top: 0px
      position: fixed
      top: 0px
      visibility: hidden
      width: 100%
      min-width: 940px
      z-index: 16777270
      &.sticky
        transition-delay: 0s
        transition-duration: 0.2s
        transition-property: opacity
        transition-timing-function: ease
        visibility: visible
        -webkit-transition-delay: 0s
        -webkit-transition-duration: 0.2s
        -webkit-transition-property: opacity
        -webkit-transition-timing-function: ease

    .header-title
      display: inline-block
      padding: 0 20px 0 20px
      margin: 0
      max-width: 350px
      height: 100%
      overflow: hidden
      font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 14px
      font-weight: normal
      word-wrap: break-word
      word-break: break-all
      &.active
        background: #fff
        position: absolute
        max-width: 100%

    .header-container
      width: 920px
      height: 71px
      overflow: hidden
      margin-left: auto
      margin-right: auto
      font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 14px
      font-weight: bold
      -webkit-font-smoothing: antialiased

    .logo-container
      visibility: visible
      display: inline-block
      float: left
      img
        float: left

    .user-icon
      float: right
      margin: 0
      padding: 0 
      visibility: visible
      display: inline-block
      img
        border: 0
        float: right
      a
        img
          border: 0
      &.black
        background: none
      &.white
        background: none
        &.active
          padding-top: 14px
          background: black

    .menu-link
      -webkit-font-smoothing: antialiased
      float: right
      height: 71px
      line-height: 71px
      list-style-image: none
      list-style-position: outside
      list-style-type: none
      margin-bottom: 0px
      margin-left: 0px
      margin-right: 25px
      margin-top: 0px
      padding-bottom: 0px
      padding-left: 15px
      padding-right: 15px
      padding-top: 0px
      text-align: center
      text-transform: uppercase
      vertical-align: baseline
      &.white
        color: #fff
        a
          display: inline-block
          color: #fff
        a:hover
          color: #fff
          // border-bottom: 3px solid #fff
          text-decoration: none
        &.active
          padding-top: 14px
          background: black
      &.black
        color: #000
        background: none
        a
          display: inline-block
          color: #000
        &.clicked
          background: #f60
          color: #fff
          padding-top: 14px
          &.active
            background: #f90
            padding-top: 14px
            color: #fff
          a:hover
            color: #fff
        a:hover
          color: #000
          // border-bottom: 3px solid #000
          text-decoration: none
        &.active
          background: #eee
          padding-top: 14px
          color: #000

    .menu-top
      float: right
      list-style-type: none
      margin: 0
      padding: 0
      overflow: hidden
      a
        color: #fff
        text-decoration: none
        border: 0

    #min_max
      cursor: pointer

    // TITLE STUFF

    .moneyshot
      background-color: #ccc
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      max-width: 1260px
      min-width: 940px
      height: 540px
      margin-left: auto
      margin-right: auto
      text-align: center

    .clickable-moneyshot
      height: 471px
      width: 100%
      margin-left: 0
      margin-right: 0
      margin-top: 0
      margin-bottom: 0
      padding: 101px 0 30px 0 
      white-space: nowrap
      overflow: hidden
    
    #tagline
      &.off-view
        visibility: hidden

    .title-and-caption-wrap
      width: 920px
      height: 69px
      margin-left: auto
      margin-right: auto
      margin-top: 0
      margin-bottom: 0
      white-space: nowrap
      overflow: hidden
      background: rgb(0, 0, 0)
      background: rgba(0, 0, 0, 0.7)
      font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
      line-height: 69px
      vertical-align: baseline
      text-align: left
      color: #fff
      -webkit-font-smoothing: antialiased
      img
        position: absolute
        float: left
        padding-top: 6px
        
    .moneyshot-title
      display: inline-block
      line-height: 69px
      font-size: 22px
      font-weight: normal
      padding: 0 13px 0 13px
      margin-left: 45px

    .moneyshot-duration
      display: inline-block
      font-size: 12px
      font-weight: normal
      font-style: italic
      vertical-align: top
      padding: 0 13px 0 13px

    .moneyshot-caption
      display: inline-block
      float: right
      font-size: 12px
      padding-right: 13px 
      a
        color: #777

    .title-and-caption-content
      visibility: visible
      &.off-view
        transition-delay: 0s
        transition-duration: 0.2s
        transition-property: opacity
        transition-timing-function: ease
        -webkit-transition-delay: 0s
        -webkit-transition-duration: 0.2s
        -webkit-transition-property: opacity
        -webkit-transition-timing-function: ease
        visibility: hidden


    // OVERVIEW

    .body-container
      max-width: 1260px
      min-width: 940px
      margin-left: auto
      margin-right: auto
      text-align: center
      &.odd
        background-color: #fff
      &.even
        background-color: #f9f9f9
    .overview-map
      height: 450px

    .overview
      width: 920px
      overflow: hidden
      margin-left: auto
      margin-right: auto
      margin-top: 0px
      margin-bottom: 0px
      padding-top: 30px
      padding-bottom: 30px
      background-position: left
      background-repeat: repeat-y
      background-image: image-url('timeline-line.png')

    .summary-wrap
      background-color: #eee
      width: 450px
      padding: 0 0 15px 0
      margin: 0 0 0
      // height: 120px IN CONTEXT OF DASHBOARD
      // max-height: 450px
      // &.active
      //   max-height: 1000px

    .user-circular
      float: left
      position: absolute
      border: 3px solid #000
      border-radius: 50%
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      background-position: center center
      background-repeat: no-repeat
      margin: 8px
      width: 38px
      height: 38px

    .summary-author
      -webkit-font-smoothing: antialiased
      font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 14px
      font-weight: bold
      color: #000
      padding: 18px 18px 0px 18px
      margin-left: 45px
      text-align: left

    .summary-content
      -webkit-font-smoothing: antialiased
      font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 14px
      font-weight: normal
      color: #000
      padding: 8px 18px 18px 18px
      margin-left: 45px
      text-align: left

    .summary-toc-title
      -webkit-font-smoothing: antialiased
      font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 14px
      font-weight: bold
      color: #000
      padding: 0px 10px 4px 0px
      border-bottom: 2px #ccc solid
      margin: 0px 30px 10px 63px 
      text-align: left

    .summary-toc
      display: inline-block
      width: 450px
      padding: 0px 20px 0px 50px
      text-align: left
      white-space: nowrap
      margin: 0 0 0 0 
      img
        border: 0px
        margin: 0px
        padding: 0px

    .toc-cluster-tag
      width: 55px
      height: 38px
      text-align: center
      padding-right: 0px
      padding-left: 11px
      text-align: left
      vertical-align: top
      white-space: normal
      float: left
      word-wrap: normal
      overflow-x: auto

    .toc-cluster-info
      text-align: left
      padding-top: 6px
      font-family: "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
      font-size: 16px
      line-height: 16px
      vertical-align: middle
      font-weight: normal
      color: #000
      white-space: normal
      float: left
      word-wrap: normal
      overflow-x: auto
      width: 306px
      a
        color: #000
      a:hover
        color: #f30
      b
        text-transform: uppercase
        font-size: 12px
      span.geographies
        display: block
        font-style: italic
        padding-top: 7px

    .dashboard-wrap
      width: 450px
      height: 310px
      background-color: #eee
      margin-top: 20px
      white-space: nowrap
      .dashboard-content
        float: left
        background-color: #dedede
        width: 143px
        margin-top: 5px
        margin-left: 5px
        border-width: 1px 0 0 1px
        border-style: solid
        border-color: #cdcdcd
        font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
        font-size: 14px
        font-weight: normal
        color: #000
        padding: 5px
        -webkit-font-smoothing: antialiased

    .ratings
      width: 120px
      height: 24px
      background-position: left
      background-repeat: repeat-x
      border: 0px
      margin-left: auto
      margin-right: auto
      margin-top: 5px
      padding: 0
      overflow: hidden
      text-align: left
      white-space: nowrap
      img
        border: 0px
        margin: 0px
        padding: 0px
        display: inline-block

    .summary-map
      float: right
      width: 450px
      height: 450px

    // MAIN PLAN CONTENT

    #content_begins
      margin-top: -75px
      position: absolute

    .timeline-wrap
      width: 920px
      margin-left: auto
      margin-right: auto
      background-position: left
      padding-top: 15px
      padding-bottom: 15px
      background-repeat: repeat-y
      background-image: image-url('timeline-line.png')

    .travel-info
      width: 100%
      text-align: left
      font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 15px
      font-weight: normal
      color: #000
      -webkit-font-smoothing: antialiased
      padding-left: 65px
      padding-top: 0px
      padding-bottom: 0px

    .cluster-info
      width: 100%
      text-align: left
      font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 21px
      font-weight: normal
      color: #000
      -webkit-font-smoothing: antialiased
      padding-left: 65px
      padding-top: 0px
      padding-bottom: 10px
      background-repeat: no-repeat 
      background-position: left center
      b
        font-size: 12px
        vertical-align: middle
        font-weight: bold
        text-transform: uppercase

    .timeline-travel
      margin-left: 11px
      margin-top: -17px
      float:left
      width: 55px
      height: 55px
      position: absolute
      background-repeat: no-repeat
      background-position: left
      &.car
        background-image: image-url('travel-by-car.png')      
      &.taxi
        background-image: image-url('travel-by-taxi.png')      
      &.bus
        background-image: image-url('travel-by-bus.png')      
      &.flight
        background-image: image-url('travel-by-flight.png')      
      &.train
        background-image: image-url('travel-by-train.png')      
      &.boat
        background-image: image-url('travel-by-boat.png')      
    
    .timeline-bucketlist
      margin-left: 11px
      margin-top: -14px
      float:left
      width: 55px
      height: 55px
      position: absolute
      background-repeat: no-repeat
      background-position: left
      background-image: image-url('bucket-list.png')

    .timeline-point-link
      margin-top: -71px
      position: absolute

    .timeline-cluster
      margin-left: 0px
      margin-top: -1px
      float:left
      width: 55px
      height: 55px
      position: absolute
      background-repeat: no-repeat
      background-position: left      

    .timeline-end
      clear:  both

    .plan-cluster-wrap
      width: 855px
      margin-left: 65px
      margin-right: 25px
      margin-top: 0px
      margin-bottom: 0px
      padding: 20px
      &.odd
        background: #dddddd
      &.even
        background: #ffffff

    .cluster-map-expandible
      width: 100%
      height: 140px
      background-repeat: no-repeat
      background-position: center center
      overflow: hidden
      opacity: 0.6
      filter: alpha(opacity=60) /* For IE8 and earlier */
      &.clicked
        height: 450px
        opacity: 1.0
        filter: alpha(opacity=100) /* For IE8 and earlier */
      &.clicked:hover
        opacity: 1.0
        filter: alpha(opacity=100) /* For IE8 and earlier */
    .cluster-map-expandible:hover
      opacity: 0.7
      filter: alpha(opacity=70) /* For IE8 and earlier */

    .cluster-map
      height: 450px

    .cluster-caption
      float: left
      position: absolute
      background: rgb(0, 0, 0)
      background: rgba(0, 0, 0, 0.55)
      text-align: left
      font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
      color: #fff
      // font-size: 14px
      // line-height: 25px
      line-height: 20px
      vertical-align: baseline
      font-weight: normal
      font-size: 12px
      text-transform: uppercase
      // text-transform: capitalize
      padding: 10px
      margin: 10px
      z-index: 200
      -webkit-font-smoothing: antialiased
      b
        // font-weight: normal
        // font-size: 12px
        // text-transform: uppercase

    .cluster-expansion
      float: left
      position: absolute
      background: rgb(255, 255, 255)
      background: rgba(255, 255, 255, 0.55)
      text-align: center
      font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
      color: #000
      line-height: 25px
      vertical-align: baseline
      text-transform: capitalize
      padding: 10px
      margin-top: 95px
      width: 815px
      z-index: 200
      -webkit-font-smoothing: antialiased
      &.clicked
        visibility: hidden
        display: none !important
      &.active
        background: #f60
        color: #fff

    .map-container
      height: 450px

    .item-map-container
      height: 180px
      width: 180px

    .plan-content-row
      width: 855px
      min-height: 168px       
      margin-left: 65px
      margin-right: 25px
      margin-top: 0px
      margin-bottom: 0px
      padding: 10px 10px 0px 10px
      white-space: nowrap
      overflow: hidden
      &.clicked
        height: 168px
        max-height: 168px
      &.odd
        background: rgb(245, 245, 245)
        background: rgba(0, 0, 0, 0.05)
      &.even
        background: rgb(240, 240, 240)
        background: rgba(0, 0, 0, 0.08)

    .content-tab-wrap
      min-height: 168px
      width: 200px
      display: block
      float: left

    .content-tab
      float: left
      display: block
      padding: 10px
      text-align: left
      font-family: "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
      font-weight: normal
      color: #000
      white-space: normal
      word-wrap: normal
      border-bottom: 1px solid #999
      a
        color: #000
      img
        border: 0px
        margin: 0px 0px 0px 0px
      &.active
        background: #333
        color: #fff
        width: 200px
        border-bottom: 1px solid #222
        z-index: 3000
        a
          color: #fff
      &.clicked
        &.active
          display: block
          position: absolute
          background: #333
          color: #fff
          width: 200px
          border-bottom: 3px solid #222
          z-index: 3000
          a
            color: #fff

    .content-tab-image
      img
        width: 180px
        height: 120px
      &.down
        img
          opacity: 0.4
          filter: alpha(opacity=40) /* For IE8 and earlier */

    .content-tab-timestamp
      margin: 0px 0px 12px 0px
      padding: 0px
      font-size: 12px
      line-height: 12px
      text-align: center
      font-family: "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
      position: relative
      display: inherit
      text-transform: capitalize
      overflow-x: auto
      overflow-y: hidden
      white-space: normal
      word-wrap: normal
      max-height: 13px

    .content-tab-title
      margin: 0px 0px 12px 0px
      padding: 0px
      width: 180px
      font-size: 12px
      line-height: 12px
      text-align: center
      font-family: "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
      position: relative
      display: inherit
      text-transform: capitalize
      overflow-x: auto
      overflow-y: hidden
      white-space: normal
      word-wrap: normal
      max-height: 13px
      &.active
        max-height: 100px

    .content-tab-more-name
      margin-top: 10px
      margin-bottom: 3px
      width: 180px
      max-height: 100px
      font-size: 11px
      line-height: 12px
      text-align: left
      font-family: avenir, arial
      font-style: italic
      position:relative
      display: inherit
      overflow-x: auto
      white-space: normal
      word-wrap: normal

    .content-tab-more-info
      margin-top: 10px
      margin-bottom: 3px
      width: 180px
      max-height: 350px
      font-size: 11px
      line-height: 12px
      text-align: left
      font-family: avenir, arial
      position: relative
      display: inherit
      overflow-x: auto
      white-space: normal
      word-wrap: normal

    .content-tab-get-more
      margin-top: 10px
      width: 180px
      font-size: 11px
      line-height: 12px
      text-align: left
      font-family: "Myriad W01", "Helvetica Neue", avenir, arial
      position: relative
      display: inherit
      overflow: hidden
      white-space: none 
      word-wrap: break-word
      max-height: 100px

    .icon-tag
      margin-top: -13px
      margin-left: 167px
      float:left
      width: 26px
      position: absolute
      z-index: 2
      img
        width: 26px

    .travel-tag
      margin-top: 55px
      float:left
      width: 26px
      height: 26px
      position: absolute
      border-radius: 50%
      border: 3px solid #000
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      z-index: 2000
      &.to
        margin-left: -3px
      &.from
        margin-left: 177px
      &.active
        border: 3px solid #fff

    .travel-tag-get-more
      z-index: 1999
      display: none
      visibility: hidden
      margin-top: 57px
      margin-left: 200px
      padding: 5px
      position: absolute
      font-size: 11px
      line-height: 12px
      text-align: left
      font-family: "Myriad W01", "Helvetica Neue", avenir, arial
      color: #999
      &.clicked
        visibility: visible
        display: block
        position: relative
        margin: 0px
        float: left
        padding: 10px
        &.active
          background: rgba(255, 255, 255, 0.0)
          color: #000
      &.active
        background: #fff
        visibility: visible
        display: block
        color: #000

    .plan-content-wing
      margin-left: 33px
      margin-top: -12px
      float:left
      width: 55px
      height: 55px
      position: absolute
      background-repeat: no-repeat
      background-position: left
      z-index: 1
      &.odd
        background-image: image-url('tab_wing_odd_sm.png')
      &.even
        background-image: image-url('tab_wing_even_sm.png')

    .plan-content-date
      float:left
      margin-top: -16px
      width: 55px
      height: 55px
      position: absolute
      z-index: 2

    .plan-content-date-state-day
      float:left
      margin-left: -50px
      margin-top: -6px
      width: 55px
      text-align: right
      position: absolute
      z-index: 2
      font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 12px
      line-height: 12px
      font-weight: bold
      text-transform: uppercase

    .plan-content-date-state-leg
      float:left
      margin-left: -50px
      margin-top: 9px
      width: 55px
      position: absolute
      text-align: right
      z-index: 2
      font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 12px
      line-height: 12px
      font-weight: bold
      text-transform: uppercase

    .plan-content-time
      margin-left: 11px
      margin-top: 50px
      float:left
      width: 55px
      height: 55px
      position: absolute
      background-repeat: no-repeat
      background-position: left
      &.allday
        background-image: image-url('timeline_allday.png')
      &.dawn
        background-image: image-url('timeline_dawn.png')
      &.morning
        background-image: image-url('timeline_morning.png')
      &.late-morning
        background-image: image-url('timeline_late_morning.png')
      &.day
        background-image: image-url('timeline_day.png')
      &.afternoon
        background-image: image-url('timeline_afternoon.png')
      &.evening
        background-image: image-url('timeline_evening.png')
      &.night
        background-image: image-url('timeline_night.png')

    .tab-sleep
      margin-left: 153px
      margin-top: -27px
      width: 55px
      height: 55px
      position: absolute
      background-repeat: no-repeat
      background-position: left
      background-image: image-url('tab_sleep.png')

    // BOTTOM OF PAGE

    .footer
      min-width: 940px
      width: 100%
      background: #000
      padding: 25px 0 50px 0
      margin: 10px 0 0 0

    .footer-content
      width: 920px
      margin: auto
      font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 14px
      font-weight: normal
      color: #fff
      -webkit-font-smoothing: antialiased

    .footer-section
      padding-top: 15px
      font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 14px
      font-weight: normal
      color: #fff
      -webkit-font-smoothing: antialiased

  @media print 

    // TOP TO BOTTOM

    // MENU STUFF

    .printable-message:before
      display: block
      content: "Thank you for using PlanIt -- we're excited to have you print and share your plans, but would recommend you enter 'print mode' to either export as PDF or print a physical copy, as the formatting and data-inclusion are optimized for printing.  If you have any questions or feedback contact us at feedback@plan.it."
      margin: 100px 100px 100px 100px
      border: 2px solid #ddd
      padding: 6px 10px
      font-style: italic

// PRINT SETTINGS
.plans-print

body.plans-print
  width: 750px

  .print-overview
    height: 750px
    width: 750px

  .initial-header
    -webkit-background-clip: border-box
    -webkit-background-origin: padding-box
    -webkit-background-size: auto
    // -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px 4px
    background-attachment: scroll
    background-clip: border-box
    background-image: none
    background-origin: padding-box
    background-size: auto
    display: block
    height: 71px
    opacity: 1
    padding: 0px
    visibility: visible
    z-index: 16777269
    position: absolute
    float: left
    margin: 0

  .logo-container
    visibility: visible
    display: inline-block
    float: left
    padding: 15px 0 0 25px
    float: left
    position: absolute
    display: initial
    z-index: 16777269
    img
      float: left

  .title-and-caption-wrap
    margin: 25px 0 15px 0
    padding: 15px
    position: relative
    display: block
    white-space: nowrap
    overflow: hidden
    background: #e0e0e0
    vertical-align: baseline
    text-align: left
    color: #fff

  .print-page-header
    padding: 15px
    font-size: 32px
    line-height: 71px
    font-weight: normal
    color: #000
    background: #e0e0e0
    border-bottom: 2px #e0e0e0 solid
    margin-bottom: 8px
    strong
      margin-left: 15px
      font-weight: bold
    img
      float: left
    &.front

  .moneyshot-title
    display: inline-block
    line-height: 69px
    padding: 0 13px 0 13px
    margin-left: 15px
    font-size: 32px
    font-weight: bold
    color: #000
    -webkit-font-smoothing: antialiased

  .moneyshot-duration
    display: inline-block
    font-weight: normal
    font-style: italic
    vertical-align: top
    padding: 0 13px 0 13px
    font-size: 22px
    color: #000

  .moneyshot-caption
    display: inline-block
    font-size: 12px
    padding: 0px 
    margin: 0 0 25px 0
    color: #333
    width: 750px
    text-align: right
    position: relative

  .print-header-subtitle
    text-align: left
    font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 21px
    font-weight: normal
    color: #000
    -webkit-font-smoothing: antialiased
    line-height: 21px
    padding-left: 68px
    padding-top: 0px
    padding-bottom: 10px
    margin-top: -11px
    background-repeat: no-repeat 
    background-position: left center
    b
      font-size: 12px
      font-weight: bold
      text-transform: uppercase

  .map-container
    height: 750px
    width: 750px

  .content-tab-wrap
    display: inline-block
    width: 750px
    text-align: left
    white-space: nowrap
    border-bottom: 1px #ccc solid
    margin: 2px 0 0 0 

  .day-log
    padding-right: 0px
    text-align: left
    vertical-align: top
    font-family: "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
    font-weight: normal
    white-space: normal
    float: left
    word-wrap: normal
    overflow-x: auto
    width: 275px
    font-size: 12px
    line-height: 12px
    text-align: left
    color: #000
    &.title
      padding-left: 0px
      padding-top: 8px
      padding-bottom: 5px
    &.item
      padding-left: 10px
      padding-top: 3px
      padding-bottom: 3px

  .content-tab-print
    padding-right: 0px
    padding-left: 10px
    padding-bottom: 8px
    text-align: left
    vertical-align: top
    font-family: "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
    font-size: 12px
    line-height: 12px
    font-weight: normal
    color: #000
    white-space: normal
    float: left
    word-wrap: normal
    overflow-x: auto
    img
      border: 0px
      margin: 0px 0px 0px 0px
    &.time
      width: 65px
      text-align: center
    &.location
      width: 190px
    &.info
      padding-top: 10px
      width: 305px
    &.image
      padding-top: 10px
      width: 190px
      img
        width: 180px
        height: 120px
    &.date
      padding-top: 10px
      font-size: 12px
      line-height: 12px
      text-align: left
      font-family: "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
    &.day-log
      width: 285px
      padding-top: 10px
      font-size: 12px
      line-height: 12px
      text-align: left
      font-family: "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
    &.day-map
      width: 400px
      padding: 0 0 8px 0
    &.travel
      width: 680px
      padding-top: 10px
      font-size: 12px
      line-height: 12px
      text-align: left
      font-family: "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
      span.lodging-notes
        display: block
        font-style: italic
        padding-top: 7px
    &.tip
      width: 680px
      padding-top: 10px
      font-size: 12px
      line-height: 12px
      text-align: left
      font-family: "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'

  .content-tab-timestamp
    text-align: center

  .content-tab-title
    width: 100%
    margin: 0px 0px 12px 0px
    padding: 0px
    font-size: 12px
    line-height: 12px
    text-align: left
    font-family: "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
    text-transform: capitalize
    overflow-x: auto
    white-space: normal
    word-wrap: normal

  .content-tab-more-name
    width: 100%
    margin-top: 0px
    margin-bottom: 5px
    font-size: 11px
    line-height: 12px
    text-align: left
    font-family: "Myriad W01", "Helvetica Neue", avenir, arial
    font-style: italic
    position:relative
    display: inherit
    overflow-x: auto
    white-space: normal
    word-wrap: normal

  .content-tab-more-info
    width: 100%
    margin-top: 0px
    margin-bottom: 5px
    font-size: 11px
    line-height: 12px
    text-align: left
    font-family: "Myriad W01", "Helvetica Neue", avenir, arial
    position: relative
    display: inherit
    overflow-x: auto
    white-space: normal
    word-wrap: normal

  .content-tab-get-more
    width: 100%
    margin-top: 0px
    margin-bottom: 5px
    font-size: 11px
    line-height: 12px
    text-align: left
    font-family: "Myriad W01", "Helvetica Neue", avenir, arial
    position: relative
    display: inherit
    white-space: word-wrap
    word-wrap: break-word
    overflow-x: auto
    a
      color: #000
  
  .timeline-cluster
    margin-left: 11px
    margin-top: 20px
    float:left
    position: absolute
    z-index: 10000
      
  .break-page
    visibility: hidden
    page-break-after: always

  .print-end
    clear:  both

  .footer
    width: 750px
    min-height: 750px
    height: 100%
    background: #e0e0e0
    padding: 25px 0 50px 0
    margin: 10px 0 0 0

  .item-map-container
    height: 180px
    width: 180px

  .footer-content
    padding: 50px
    font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    font-weight: normal
    color: #000
    -webkit-font-smoothing: antialiased
  
  .footer-section
    padding-top: 15px
    font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 14px
    font-weight: normal
    color: #000
    -webkit-font-smoothing: antialiased

  .day-map-container
    height: 400px
    width: 400px

  
  @media print 

    .exit-view
      visibility:hidden
      display: none !important
