// PLAN TOP-SECTION
.plan-splash
  height: 350px
  background: #333
  border-bottom: #fff 1px solid
  border-top: 1px #222 solid

.plan-name-wrap
  margin: 55px 30px 0px 30px
  text-align: right

.plan-name
  padding: 15px 0px
  font-family: "arial black", "open sans", "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
  font-size: 32px
  line-height: 55px
  font-weight: bold
  color: #fff
  background: rgba(0, 0, 0, 0.7)
  box-shadow: 20px 0 0 rgba(0, 0, 0, 0.7), -20px 0 0 rgba(0, 0, 0, 0.7)
  -webkit-box-shadow: 20px 0 0 rgba(0, 0, 0, 0.7), -20px 0 0 rgba(0, 0, 0, 0.7)
  -moz-box-shadow: 20px 0 0 rgba(0, 0, 0, 0.7), -20px 0 0 rgba(0, 0, 0, 0.7)

.plan-more-info-wrap
  margin: 15px 30px 0px 30px
  text-align: right

.plan-more-info
  padding: 5px 0px
  font-family: "open sans", "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
  font-size: 11px
  line-height: 15px
  font-weight: bold
  color: #000
  background: rgba(255, 255, 255, 0.4)
  box-shadow: 20px 0 0 rgba(255, 255, 255, 0.4), -20px 0 0 rgba(255, 255, 255, 0.4)
  -webkit-box-shadow: 20px 0 0 rgba(255, 255, 255, 0.4), -20px 0 0 rgba(255, 255, 255, 0.4)
  -moz-box-shadow: 20px 0 0 rgba(255, 255, 255, 0.4), -20px 0 0 rgba(255, 255, 255, 0.4)
  i
    padding-left: 5px
    font-weight: normal
    font-style: normal

.expand-map
  position: absolute
  display: block
  width: 30px
  height: 30px
  padding: 4px 0
  background: rgba(255, 255, 255, 0.4)
  color: #333
  font-size: 20px
  line-height: 22px
  text-align: center
  overflow: hidden
  &:hover
    background: rgba(255, 255, 255, 0.6)
    color: #000
    cursor: pointer

// DAY INFO
.day-tab-wrap
  background: #cdcdcd
  border-bottom: 1px #aaa solid

.day-info-wrap
  padding: 10px 10px
  // background: #fcfcfc
  // border-bottom: 1px #ddd solid

.day-wingtip
  position: absolute
  top: 0px
  border-bottom: 40px solid transparent  
  border-right: 40px solid #cdcdcd
  z-index: 2

.day-number-separator
  padding: 0px 0px 5px 0px
  text-align: left
  z-index: 1

.day-info-separator
  padding: 0px 0px 2px 0px
  text-align: left
  z-index: 1

.day-info
  display: inline-block
  padding: 0px 8px
  font-family: "open sans", "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
  font-size: 13px
  line-height: 26px
  font-weight: bold
  white-space: nowrap
  color: #fff
  margin: 1px 0

  &.number
    padding: 7px 10px
    background: #333
    border-bottom: 1px #000 solid
    font-size: 22px
    line-height: 26px

  &.locale
    background: #33338b
    border-bottom: 1px #000 solid

  &.map
    background: #33338b
    border-bottom: 1px #000 solid

  &.food
    background: #f90
    border-bottom: 1px #a30 solid

  &.distance
    background: #aaa
    border-bottom: 1px #777 solid

  &.housing
    background: #9ACD32
    border-bottom: 1px #008000 solid
    &.none
      background: #ab1615
      border-bottom: 1px #550f0f solid
      &:hover
        background: #d41d1b
        border-bottom: 1px #930b09 solid
        cursor: pointer

// TAB SIZING

// *Computer (Regular)

.day-wingtip
  right: 770px
  display: block
  visibility: visible

// #Tablet (Portrait)
@media only screen and (min-width: 768px) and (max-width: 959px)

  .day-wingtip
    right: 614px
    display: block
    visibility: visible


// #Mobile (Portrait) <-- smallest
@media only screen and (max-width: 767px)

  .plan-name
    font-size: 20px
    line-height: 35px
    padding: 5px 0px

  .day-wingtip
    display: none
    visibility: hidden

// #Mobile (Landscape)
@media only screen and (min-width: 480px) and (max-width: 767px)

  .plan-name
    font-size: 20px
    line-height: 35px
    padding: 5px 0px

  .day-wingtip
    display: none
    visibility: hidden

body
  margin: 0

.clear
  clear:  both

.exit-view
  position: fixed
  float: right
  top: 15px
  right: 15px
  padding: 10px
  background: rgb(0, 0, 0)
  background: rgba(0, 0, 0, 0.7)
  color: #fff
  font-family: avenir,"Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 14px
  z-index: 16777269
  a
    display: inline-block
    color: #fff
  &.active
    background: #f60