#show-plan-page, #new-plan-page, #plan-and-list-page
  height: auto

  .setplanbox-on-plan-page, .addbox-on-plan-page
    position: fixed
    input.full-width
      width: 98%

  .setplanbox-on-plan-page
    top: 0
    height: 68px
    background: #333
    border-top: solid #003 3px
    z-index: 150000
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px, rgba(0, 0, 0, 0.14902) 0px 2px 7px 0px
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px, rgba(0, 0, 0, 0.14902) 0px 2px 7px 0px
    span.title
      color: #fff
      font-weight: normal
      font-size: 18px
      line-height: 28px
      font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    i.title, i.settings
      line-height: 28px
      cursor: pointer
      color: #aaa
      transition: 0.2s ease all
      &:hover
        color: #f06
    input.title#rename
      color: #fff
      font-weight: normal
      font-size: 18px
      line-height: 28px
      font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
      background: rgba(255,255,255,0.1)
      border: none
      width: 100%
      padding: 0
      margin: 0
      &:focus
        outline: none
        outline-width: 0
    i.title
      padding-left: 5px
      font-size: 14px
    i.settings
      float: right
      padding-left: 10px
      font-size: 18px

  .addbox-on-plan-page
    top: 68px
    height: 65px
    background: #333
    z-index: 145000

    .item-search-results
      position: absolute
      top: 28px
      left: 0
      right: 0
      width: auto
      overflow-x: hidden
      overflow-y: scroll
      min-width: 350px
      max-height: 400px
      background: #fff
      z-index: 150000

  // PLAN TOP-SECTION
  .add-new-wrap
    padding: 20px 0
    &.gray
      background: #ddd
      border-top: #eee 1px solid
      border-bottom: #bbb 1px solid

  .plan-map-container
    height: 400px
    padding: 0
    margin: 0
    overflow: hidden
    top: 0
    left: 0
    right: 0
    bottom: initial
    &.expanded
      position: fixed
      padding-top: 68px
      bottom: 0
      height: inherit

  .plan-map-canvas
    display: block
    position: relative
    height: 100%
    z-index: 150
    transition: height 0.15s ease

  #expand-map-button
    display: block
    position: absolute
    top: 425px
    bottom: initial
    float: right
    right: 10px
    width: 26px
    height: 26px
    border-radius: 4px
    font-size: 15px
    line-height: 26px
    text-align: center
    background: #fff
    box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 5px 0px
    color: rgb(68, 68, 68)
    float: right
    z-index: 5000
    cursor: pointer
    i
      padding-left: 2px
    &:hover
      background-color: rgb(244, 244, 244)
      color: #000
    &.expanded
      position: fixed
      bottom: 24px
      top: initial
      background: #ff0066
      color: #fff
      &:hover
        background: #333
        color: #fff

  .plan-name-and-detail-container
    display: block
    position: relative
    width: 960px
    margin: 0 auto
    padding: 0
    top: 50px
    text-align: right
    z-index: 19999 !important
    &.expanded
      position: fixed

  .plan-name-wrap
    margin: 0 30px 0 0
    display: inline-block
    text-align: right
    z-index: 5000

  .plan-name
    padding: 5px 0
    font-family: "arial black", "open sans", "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
    font-size: 32px
    line-height: 55px
    font-weight: bold
    color: #fff
    background: rgba(0, 0, 0, 0.7)
    box-shadow: 20px 0 0 rgba(0, 0, 0, 0.7), -20px 0 0 rgba(0, 0, 0, 0.7)
    -webkit-box-shadow: 20px 0 0 rgba(0, 0, 0, 0.7), -20px 0 0 rgba(0, 0, 0, 0.7)
    -moz-box-shadow: 20px 0 0 rgba(0, 0, 0, 0.7), -20px 0 0 rgba(0, 0, 0, 0.7)
    z-index: 5001

  .plan-more-info-wrap
    margin: 1px 30px 0 0
    text-align: right
    z-index: 5000

  .plan-more-info
    padding: 5px 0
    font-family: "open sans", "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
    font-size: 11px
    line-height: 15px
    font-weight: bold
    color: #000
    background: rgba(255, 255, 255, 0.8)
    box-shadow: 20px 0 0 rgba(255, 255, 255, 0.8), -20px 0 0 rgba(255, 255, 255, 0.8)
    -webkit-box-shadow: 20px 0 0 rgba(255, 255, 255, 0.8), -20px 0 0 rgba(255, 255, 255, 0.8)
    -moz-box-shadow: 20px 0 0 rgba(255, 255, 255, 0.8), -20px 0 0 rgba(255, 255, 255, 0.8)
    z-index: 5001
    i
      padding-left: 5px
      font-weight: normal
      font-style: normal

  .expand-map
    position: absolute
    display: block
    width: 30px
    height: 30px
    padding: 4px 0
    background: rgba(255, 255, 255, 0.4)
    color: #333
    font-size: 20px
    line-height: 22px
    text-align: center
    overflow: hidden
    z-index: 5004
    &:hover
      background: rgba(255, 255, 255, 0.6)
      color: #000
      cursor: pointer

  // DAY INFO
  .day-tab-wrap
    background: #cdcdcd
    border-bottom: 1px #aaa solid

  .day-info-wrap
    margin: 10px 10px
    padding: 0
    // background: #fcfcfc
    // border-bottom: 1px #ddd solid

  .day-wingtip
    position: absolute
    top: 0px
    border-bottom: 40px solid transparent  
    border-right: 40px solid #cdcdcd
    z-index: 2

  .day-number-separator
    margin: 0
    padding: 0
    text-align: left
    z-index: 1
    font-size: 13px
    line-height: 24px

  .day-info-separator
    margin: 0px 0px 2px 0px
    padding: 0
    text-align: left
    z-index: 1
    font-size: 13px
    line-height: 13px

  .day-info
    display: inline-block
    padding: 7px 8px
    font-family: "open sans", "Myriad W01", "Helvetica Neue", avenir, 'trebuchet ms'
    font-size: 13px
    line-height: 13px
    font-weight: bold
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    color: #fff
    margin: 0

    &.number
      padding: 7px 10px
      background: #333
      border-bottom: 1px #000 solid
      font-size: 22px
      line-height: 26px

    &.locale
      background: #33338b
      border-bottom: 1px #000 solid

    &.map
      background: #33338b
      border-bottom: 1px #000 solid

    &.food
      background: #f90
      border-bottom: 1px #a30 solid

    &.distance
      background: #aaa
      border-bottom: 1px #777 solid

    &.housing
      background: #9ACD32
      border-bottom: 1px #008000 solid
      &.none
        background: #ab1615
        border-bottom: 1px #550f0f solid
        &:hover
          background: #d41d1b
          border-bottom: 1px #930b09 solid
          cursor: pointer

  .add-new-form
    padding: 0px
    margin-bottom: 10px
    font-size: 22px
    line-height: 22px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'

    .add-new-input
      input
        -webkit-border-radius: 2px
        -moz-border-radius: 2px
        border-radius: 2px
        border: 1px solid #bbb
        display: inline-block
        font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
        font-size: 16px
        line-height: 22px
        padding: 3px 8px
        &:disabled
          background: #eee
          border: 1px solid #ccc

      .on-off-button, select.on-off-button
        display: inline-block
        padding: 3px 8px
        color: #777
        font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
        font-weight: normal
        font-size: 16px
        line-height: 22px
        -webkit-border-radius: 2px
        -moz-border-radius: 2px
        border-radius: 2px
        margin: 0
        &.on
          background: #fff
          border: 1px solid #bbb
        &.off
          background: #eee
          border: 1px solid #ccc
          border-bottom: 2px solid #aaa

      &.section
        padding: 5px 0
        .new-plan-icon
          text-align: center
          width: 22px
          margin-right: 3px
          vertical-align: middle
      .sub-line
        padding: 0px 26px 5px 26px
        font-size: 14px
        line-height: 16px
        .new-plan-icon-small
          text-align: center
          width: 18px
          padding: 6px

    .click-for-more
      float: left
      display: inline-block
      padding: 3px 8px
      font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-weight: bold
      font-size: 13px
      line-height: 22px
      color: #777
      text-shadow: 0px 1px 1px #fff
      border: 1px solid rgba(0,0,0,0)
      border-bottom: 3px solid rgba(0,0,0,0)
      margin: 5px 0 10px 0
      i
        padding-right: 5px

  .add-new-submit
    float: right
    display: inline-block
    padding: 3px 8px
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-weight: bold
    font-size: 16px
    line-height: 22px
    color: #333
    text-shadow: 0px 1px 1px #fff
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    border: 1px solid #ccc
    border-bottom: 3px solid #aaa
    background: #fff
    margin: 5px 0 10px 0
    cursor: pointer
    &.halo
      margin: 5px 10px 10px 0

  .import-bucket
    padding: 5px// background: #cdcdcd

  li.plan-list-item
    position: relative

  .list-item-notes
    position: absolute
    top: 3px
    right: 3px
    height: 69px
    width: 50%
    textarea
      resize: none
      padding: 5px
      width: 100%
      height: 69px
      border: 1px solid #eee
      background: #eee
      color: #777
      &:hover
        background: #f3d2df
        border: 1px solid #fc9fc3
      &:focus
        outline: none
        outline-width: 0
        background: #fff
        border: 1px solid #ccc
        color: #000

  ul.plan-list-items.border-top
    border-top: 1px solid #ccc

  .items-organized-by
    border-bottom: 1px solid #ccc
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-weight: bold
    font-size: 16px
    line-height: 75px
    height: 75px
    overflow: hidden
    color: #333
    i
      padding-right: 8px
      font-size: 22px
      color: #777

  .view-and-edit-mode, .sort-items-by
    position: absolute
    height: 65px
    top: 68px
    line-height: 68px
    padding: 0 20px
    overflow-y: hidden
    b
      color: #777
      cursor: default
    span
      cursor: pointer
      margin: 0 8px
      padding-bottom: 8px
      color: #333
      border-bottom: 3px solid transparent
      &.highlighted
        border-bottom: 3px solid #333
      &:hover
        color: #f06
        border-bottom: 3px solid #f06

  .view-and-edit-mode
    right: 0
    b
      padding-left: 8px      

  .sort-items-by
    left: 0
    b
      padding-right: 8px

  // TAB SIZING

  // *Computer (Regular)

  .setplanbox-on-plan-page, .addbox-on-plan-page
    left: 0
    right: 0
    padding: 18px
    width: 33%
    margin: 0 auto

  .day-tab-wrap
    padding: 3px 10px

  .day-info
    max-width: 150px

  .day-wingtip
    right: 770px
    display: block
    visibility: visible

  .add-new-form
    .add-new-input
      input
        width: 308px
    .on-off-button
      width: 308px

  // #Tablet (Portrait)
  @media only screen and (min-width: 768px) and (max-width: 959px)

    .setplanbox-on-plan-page, .addbox-on-plan-page
      padding: 18px
      width: 33%
      margin: 0 auto

    .day-tab-wrap
      padding: 3px 10px

    .day-info
      max-width: 118px

    .day-wingtip
      right: 614px
      display: block
      visibility: visible

    .add-new-form
      .add-new-input
        input
          width: 236px
      .on-off-button
        width: 236px

  // #Mobile (Portrait) <-- smallest
  @media only screen and (max-width: 767px)

    .setplanbox-on-plan-page
      padding: 9px
    .setplanbox-on-plan-page, .addbox-on-plan-page
      width: auto
      left: 60px
      right: 60px
      height: 43px
      margin: 0 auto
      border-top: 0
    .addbox-on-plan-page
      padding: 3px 9px 15px 9px
      top: 43px

    .container-upfront-plan-map
      top: 105px
      right: 40px

    .plan-name
      font-size: 20px
      line-height: 34px
      padding: 3px 0px

    .day-info
      max-width: 284px

    .day-info-separator
      margin: 0px 0px 12px 0px

    .day-wingtip
      display: none
      visibility: hidden

    .day-tab-wrap
      background: transparent
      border: transparent
      margin: 0
      padding: 0

    .add-new-form
      .add-new-input
        input
          width: 268px
      .on-off-button
        width: 268px

  // #Mobile (Landscape)
  @media only screen and (min-width: 480px) and (max-width: 767px)

    .setplanbox-on-plan-page
      padding: 9px
    .setplanbox-on-plan-page, .addbox-on-plan-page
      width: auto
      left: 60px
      right: 60px
      height: 43px
      margin: 0 auto
      border-top: 0
    .addbox-on-plan-page
      padding: 3px 9px 15px 9px
      top: 43px

    .container-upfront-plan-map
      top: 105px
      right: 40px

    .plan-name
      font-size: 20px
      line-height: 34px
      padding: 3px 0px

    .day-info-separator
      margin: 0px 0px 12px 0px

    .day-info
      max-width: 395px

    .day-wingtip
      display: none
      visibility: hidden

    .day-tab-wrap
      background: transparent
      border: transparent
      margin: 0
      padding: 0

    .add-new-form
      .add-new-input
        input
          width: 388px
      .on-off-button
        width: 388px
