.place-search-bar
  
  .place-search-results

    a.search-result
      height: 80px
      padding-right: 10px
      border: 2px solid black
      display: inline-block
      background: white
      position: relative
      width: 100%

      &:hover
        background: gray
      .search-result-left
        display: inline-block
        width: 80px
        position: absolute
        left: 0
        top: 0
        .search-image
          height: 80px
          width: 80px
          background: black
          img
            height: 80px
            width: 80px
      .search-result-right
        position: absolute
        left: 85px
        display: inline-block
        .name
          display: block
          font-weight: bold
        .address
          display: block
          font-style: italic