#beta-page 
  margin-top: 85px
  margin-bottom: 85px
  .small-form-box
    width: 300px
    margin: 0 0 0 auto      

.static-page
  
  .main-content

    a:link, a:visited
      color: #33b !important
    a:hover, a:active
      color: #66d !important

    .right-section
      text-align: right
      i.padded-icon
        float: right
        right: 0
        margin-right: -40px
      .static-section-content, .static-whitebox-content
        margin-right: 40px
      .learn-more
        float: left
        i
          padding-right: 5px
      .static-float-image
        float: left
      &.padded
        padding: 50px 60px 50px 0
    .left-section
      text-align: left
      .static-section-content, .static-whitebox-content
        margin-left: 40px
      i.padded-icon
        float: left
        left: 0
        margin-left: -40px
      .learn-more
        float: right
        i
          padding-left: 5px
      .static-float-image
        float: right
      &.padded
        padding: 50px 0 50px 60px

    .static-section-columned
      position: relative
      padding: 30px 30px
      font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 16px
      line-height: 18px
      width: 100%
      .static-column
        text-align: left
        strong
          font-size: 125%
        ul
          list-style-type: none
          padding-top: 15px 
          -webkit-padding-start: 0
          padding-left: 0
        li
          padding: 10px 0
          margin-left: 30px
          i
            width: 30px
            position: absolute
            float: left
            margin-left: -30px
            color: #f06
            text-shadow: 1px 1px 1px #fff

    .static-section-content
      padding: 0 20px
      font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
      font-size: 16px
      line-height: 18px
      font-weight: normal
      .disabled
        opacity: 0.5
        color: #333
        i.padded-icon
          color: #777
      p
        margin: 20px 0
        position: relative
      p.text-spaced
        margin: 30px 0
      p.paragraph-header
        font-size: 18px
        margin: 30px 0
      li
        margin: 25px 0

    i.padded-icon
      top: 0px
      position: absolute
      vertical-align: top
      display: inline-block
      width: 25px
      font-size: 18px
      text-align: center
      color: #f06
      text-shadow: 1px 1px 1px #fff
      &.black
        color: #000

    span.coming-soon
      background: #aaa
      color: #fff !important
      opacity: 1
      border-radius: 3px
      font-size: 14px
      font-weight: bold
      padding: 0 4px
      margin: 0 3px

    .learn-more
      margin-top: 10px
      color: #fff !important

    .static-float-image
      transition: 0.2s ease all
      opacity: 0.8
      &:hover
        opacity: 1

    .drag-me
      text-align: right
      .hint
        padding: 5px
      .halo
        margin-left: 12px
        float: right
        display: inline
        padding: 5px
        background: #007
        border-radius: 4px

// TAB SIZING 

// *Computer (Regular)

.static-page

  .static-column.center
    margin: 0 30px
  .static-column
    float: left
    display: inline
    width: 273px

// #Tablet (Portrait)
@media only screen and (min-width: 768px) and (max-width: 959px)

  .static-page

    .static-column.center
      margin: 0 30px
    .static-column
      float: left
      display: inline
      width: 209px

// #Mobile (Portrait) <-- smallest
@media only screen and (max-width: 767px)

  .static-page

    .static-column.center
      margin: 0
    .static-column
      float: none
      display: block
      width: 100%
      padding-bottom: 10px

    .static-section-content
      p
        margin: 10px 0
      p.text-spaced
        margin: 15px 0
      p.paragraph-header
        margin: 15px 0
      li
        margin: 12px 0

    .main-content .right-section.padded, .left-section.padded
      padding: 0 !important

  #beta-page
    margin-top: 15px
    margin-bottom: 15px

// #Mobile (Landscape)
@media only screen and (min-width: 480px) and (max-width: 767px)

  .static-page

    .static-column.center
      margin: 0
    .static-column
      float: none
      display: block
      width: 100%
      padding-bottom: 10px

    .static-section-content
      p
        margin: 10px 0
      p.text-spaced
        margin: 15px 0
      p.paragraph-header
        margin: 15px 0
      li
        margin: 12px 0

    .main-content .right-section.padded, .left-section.padded
      padding: 15px 40px !important

  #beta-page
    margin-top: 15px
    margin-bottom: 15px
