// SIGNUP/LOGIN

.simple-entry-header
  width: 300px
  padding: 10px 0px 5px 0px
  font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 22px
  line-height: 25px
  font-weight: bold
  color: #000
  text-shadow: 0px 1px 1px #fff
  text-align: center
  -webkit-font-smoothing: antialiased
  text-transform: uppercase

.simple-entry-form
  .simple-entry-form-section
    display: block
    width: 300px
    padding: 10px 0
    font-size: 16px
    line-height: 22px
    text-align: center
    &.left
      text-align: left
    &.right
      text-align: right
  .input.email, .input.password, .input.boolean
    display: inline-block
    margin: 0
    padding: 0
  input
    font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
    font-size: 16px
    line-height: 22px
    &.email, &.password
      display: inline-block
      width: 268px
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      border: 1px solid #bbb
      padding: 3px 8px
      margin: 0
    &.boolean
      width: auto
      margin: 4px
    &:disabled
      background: #eee
      border: 1px solid #ccc
    &.button
      padding: 8px 12px
      font-size: 15px
      font-weight: bold
      line-height: 20px
      background: #050d36
      border: 1px solid #2f3d83
      border-bottom: 1px solid #19245f
      -webkit-box-shadow: #02092d 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
      -moz-box-shadow: #02092d 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
      box-shadow: #02092d 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
      &:hover, &:active
        background: #0b1a68
        border: 1px solid #626eac
        border-bottom: 1px solid #3e4c93
        -webkit-box-shadow: #04125a 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
        -moz-box-shadow: #04125a 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
        box-shadow: #04125a 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
      &:disabled
        background: #4c5062
        border: 1px solid #7e818b
        border-bottom: 1px solid #656878
        -webkit-box-shadow: #353848 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
        -moz-box-shadow: #353848 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
        box-shadow: #353848 0 -1px 0 inset,rgba(0,0,0,0.04) 0 1px 0
  .simple-form-icon
    display: inline-block
    text-align: center
    width: 22px
    margin-right: 3px
    vertical-align: middle
  label
    display: inline
    padding: 0 0 0 7px
    &.password, &.email
      display: none
      visibility: hidden

.simple-entry-links
  padding: 10px 0px 5px 0px
  font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 13px
  line-height: 17px
  font-weight: normal
  color: #000
  text-align: left

// DASHBOARD

.dashboard-header
  padding: 10px 0px 5px 0px
  font-family: avenir, "Myriad W01", "Helvetica Neue", 'trebuchet ms'
  font-size: 22px
  line-height: 25px
  font-weight: bold
  color: #000
  text-shadow: 0px 1px 1px #fff
  text-align: center
  -webkit-font-smoothing: antialiased
  text-transform: uppercase

.world-view-canvas
  margin-bottom: 10px


// TAB SIZING

// *Computer (Regular)

.world-view-canvas
  height: 400px

// #Tablet (Portrait)
@media only screen and (min-width: 768px) and (max-width: 959px)

  .world-view-canvas
    height: 360px

// #Mobile (Portrait) <-- smallest
@media only screen and (max-width: 767px)

  .world-view-canvas
    height: 140px

// #Mobile (Landscape)
@media only screen and (min-width: 480px) and (max-width: 767px)

  .world-view-canvas
    height: 175px
