.other-guides-matrix{ ng_show: 'm.plan() && m.plan().currentLocation() && !m.plan().items.length && !m.addingItem && m.browsing && !m.placeName && m.plan().itemsLoaded' }
  #header-spacing.except-landscape

  .band.spaced-xxx
    .first-ever-in-geography{ ng_show: '!m.planManager.nearbyPlans' }
      .container.centered
        .section-header
          = "&nbsp;<br>".html_safe
          .line YOU'RE THE FIRST PLANITEER
          .line TO EXPLORE {{ m.plan().currentLocation().asciiName.toUpperCase() }} !
      .container.centered
        .planit-button.neon{ ng_click: 'exitBrowse()' } Get Started Planning!
    .nearby-browse-or-scratch{ ng_show: 'm.planManager.nearbyPlans' }
      .container.centered
        .planit-button.neon{ ng_click: 'exitBrowse()' } Start from Scratch
      .other-nearby-guides
      .container.centered
        .section-header
          = "&nbsp;<br>".html_safe
          %p{ style: "font-size: 50%; opacity: 0.8" } OR
          BROWSE PLANIT GUIDES
