.sort-and-view-modes{ ng_show: "m.list && m.hasItems()" }

  .sort-items-by.large-screen{ ng_show: "m.mode == 'list' || m.mode == 'trip'" }
    %span.selectable.sort-by-button{ ng_click: "m.resetList()" } 
      %i.fa.fa-arrow-left.pad-right
      Other Guides

  .view-and-edit-mode{ ng_show: '!m.mainMenuToggled', ng_class: "{'in-map': m.mode == 'map', 'large-screen': m.mode != 'map'}" }
    %span.selectable.view-and-edit-button{ ng_click: "setMode('list')", ng_class: "{'highlighted': m.mode == 'list'}" } List View
    / %span.selectable.view-and-edit-button.disabled Trip Mode
    / { ng_click: "setMode('trip')", ng_class: "{'highlighted': mode == 'trip'}" }
    %span.selectable.view-and-edit-button{ ng_click: "setMode('map')", ng_class: "{'highlighted': m.mode == 'map'}" } Map