.user-location-page{ ng_show: '!m.plan() && m.hasPlans() && m.selectedCountryLocations()' }

  #header-spacing.except-landscape

  .band.spaced-extra

    .container
      .sixteen-columns
        .div 
          %b My Plans & Places
          .div 
            %input{ placeholder: 'Explore New Region' }
          .div{ ng_repeat: 'region in regions()'}
            .div{ ng_repeat: 'subRegion in subRegions( region )' } 
              {{ subRegion.replace(' County','') }}, {{ region }} ( # plans | # places )

        / .div My Plans
        / .div Friends' Plans
        / .div Experts' Plans
        / .div My Places
        / .div ENTER NEW PLACE
        / .div Places...
      
