.user-map-canvas
  .leaflet-wrapper{ ng_if: 'center && defaults && userLayers' }
    %leaflet{ id: 'user', geojson: 'geoJsonDataToMap', markers: 'locationClusterMarkers', layers: 'userLayers', defaults: 'defaults', height: '100%', width: '100%', center: "center" }
