.user-map-canvas
  .leaflet-wrapper{ ng_if: "geoJsonDataToMap && userDefaults" }
    %leaflet{ id: 'user', geojson: 'geoJsonDataToMap', markers: 'locationClusterMarkers', layers: '{"baselayers":{"xyz":{"name":"None","url":"","type":"xyz"}}}', defaults: 'userDefaults', height: '100%', width: '100%', center: "{ lat: 45, lng: 0, zoom: 2 }" }