.list-or-trip-mode{ ng_show: "m.plan() && m.planManager.itemCount()>0 && (m.mode == 'list' || m.mode == 'trip')" }
  #header-spacing.except-landscape
  .print-title {{ list.name }}
  .pad-top-addbox{ ng_show: 'm.plan() || m.hasPlans()' }
  .band.spaced-extra
    .container
      .items-in-plan
        .items-in-plan-category{ ng_repeat: 'category in m.plan().categories( m.categorizeBy )' }
          %ul.plan-list-items
            %li.items-organized-by{ ng_show: "m.categorizeBy != 'alphabetical'", ng_class: "metaClass( category )" }
              %i.list-category-icon{ ng_show: "m.categorizeBy == 'type'", ng_class: 'typeIcon(m.plan().items, category)' } 
              %span{ ng_show: "m.categorizeBy == 'recent' && category.length"} Updated on {{ category }}
              %span{ ng_show: "m.categorizeBy == 'recent' && !category.length"} Undated
              %span{ ng_show: "m.categorizeBy != 'recent'"} {{ category }}

            %li.plan-list-item{ ng_repeat: 'item in m.plan().matchingItems( category, m.categorizeBy )' }
              / .owner-opinions{ ng_show: '!m.userOwnsPlan()' }
              /   .item-opinion.love-item{ ng_show: 'm.plan().ownerLoves(item)' }
              /     %i.fa.fa-heart
              /   .item-opinion.been-item{ ng_show: 'm.plan().ownerVisited(item)' }
              /     %i.fa.fa-check-square
              .bucket-list-tab.main-item-card{ ng_click: "item.fsOpen(m.mode != 'trip')" }
                .bucket-list-no-img{ ng_if: "!item.mark.place.image_url" }
                .bucket-list-img{ ng_if: "item.mark.place.image_url", style: "background-image: url('{{ item.mark.place.image_url }}');" }
                .bucket-list-wrap
                  .bucket-list-profile
                    %a{ target: '_self' }
                      .bucket-list-title
                        {{ item.mark.place.names[0] }}
                      .bucket-list-more-info
                        %i{ class: "{{ item.mark.place.meta_icon }}"}
                        {{ item.mark.place.categories.join(', ') }}
                      .bucket-list-more-info.locale-only
                        {{ item.mark.place.localeDetails() }}

              .list-item-notes{ ng_show: 'm.mode == "list"' }
                %textarea{ ng_model: "item.note", id: "item_{{item.id}}", placeholder: "Add a Note", ng_on_enter_key: 'nextNote(item)', ng_on_tab_key: 'nextNote(item)', ng_shift_on_tab_key: 'priorNote(item)', ng_blur: 'item.saveNote()', ng_disabled: '!item.notesSearched || !m.userOwnsPlan()', ng_change: 'item.noteChanged=true' }

              %item_actions_bar{ m: 'm', item: 'item' }

              .list-item-select{ ng_show: "mode == 'trip'", ng_class: "{selected: isSelected(item)}", ng_click: 'toggleSelectedItem(item)' }