.plan-map-container{ ng_show: "m.mode == 'map'" }
  %plan_map.plan-map-canvas{ m: "m", web_padding: '45,45,15,400', mobile_padding: '40,15,80,15', zoom_control: 'true' }
  / , set_nearby_from_center: 'nearbyFromMapCenter(center)' }