.trip-mode{ ng_show: "m.mode == 'trip'" }
  #header-spacing.except-landscape
  .pad-top-addbox
  .band.spaced-extra
    .container
      %h1.title.sixteen.columns Drag and Drop to Order Your Trip

      .items-in-manifest.six.columns
        %ul.plan-list-items.manifest{ ng_class: '{ empty: !manifestItems.length }', ng_style: 'emptyHeight()' }
          %li.plan-list-item.manifest{ ng_repeat: "item in manifestItems", ng_href: '{{ item.index }}' }
            %ng_include{ src: "'single/_bucket_list_tab.html'" }

      .items-in-list.ten.columns
        %ul.plan-list-items.list
          %li.plan-list-item.list{ ng_repeat: "item in m.plan().items | orderBy : 'mark.place.name'", ng_href: '{{ item.id }}' }
            %ng_include{ src: "'single/_bucket_list_tab.html'" }