---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=40.740639&lng=-74.007949&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"2015-01-27 22:17","countryName":"United States","sunset":"2015-01-28
        17:08","rawOffset":-5,"dstOffset":-4,"countryCode":"US","gmtOffset":-5,"lng":-74.007949,"sunrise":"2015-01-28
        07:10","timezoneId":"America/New_York","lat":40.740639}'
  recorded_at: Wed, 28 Jan 2015 03:17:11 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=40.740639,-74.007949&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "848",
                       "short_name" : "848",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Washington Street",
                       "short_name" : "Washington St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Lower Manhattan",
                       "short_name" : "Lower Manhattan",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
        [...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?ll=40.7406045,-74.0078798&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Boom%20Boom%20Room&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '200'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '280'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"warning":{"text":"There
        aren''t a lot of results for \"Boom Boom Room.\" Try something more general,
        reset your filters, or expand the search area."},"suggestedRadius":1800,"headerLocation":"Meatpacking
        District","headerFullLocation":"Meatpacking District, New York","headerLocationGranularity":"neighborhood","query":"boom
        boom room","totalResults":0,"groups":[{"type":"Recommended Places","name":"recommended","items":[]}]}}'
  recorded_at: Wed, 28 Jan 2015 03:17:12 GMT
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=40.7406045&lng=-74.0078798&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"2015-01-27 22:17","countryName":"United States","sunset":"2015-01-28
        17:08","rawOffset":-5,"dstOffset":-4,"countryCode":"US","gmtOffset":-5,"lng":-74.0078798,"sunrise":"2015-01-28
        07:10","timezoneId":"America/New_York","lat":40.7406045}'
  recorded_at: Wed, 28 Jan 2015 03:17:12 GMT
recorded_with: VCR 2.9.3
