---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?ll=40.740639,-74.007949&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Boom%20Boom%20Room&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '206'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '472'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"warning":{"text":"There
        aren''t a lot of results for \"Boom Boom Room.\" Try something more general,
        reset your filters, or expand the search area."},"suggestedRadius":1800,"headerLocation":"Meatpacking
        District","headerFullLocation":"Meatpacking District, New York","headerLocationGranularity":"neighborhood","query":"boom
        boom room","totalResults":0,"groups":[{"type":"Recommended Places","name":"recommended","items":[]}]}}'
  recorded_at: Thu, 05 Feb 2015 22:10:27 GMT
- request:
    method: get
    uri: https://www.google.com/maps?output=json&q=Boom%20Boom%20Room&sll=40.740639,-74.007949
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: 'while(1);{title:"Boom Boom Room - Google Maps",url:"/maps?q=Boom+Boom+Room\x26sll=40.740639,-74.007949\x26ie=UTF8\x26hq=\x26hnear=",urlViewport:false,ei:"VurTVLDODIr2iQLSqYC4BQ",form:{selected:"q",q:{q:"Boom
        Boom Room",what:"",near:""},d:{saddr:"",daddr:"",dfaddr:""},geocode:""},query:{type:"dq"},viewport:{center:{lat:37.784613,lng:-122.433165},span:{lat:0.0062950000000000002,lng:0.0062950000000000002},mapType:"",sou[...]
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=40.740639&lng=-74.007949&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"2015-02-05 17:13","countryName":"United States","sunset":"2015-02-05
        17:18","rawOffset":-5,"dstOffset":-4,"countryCode":"US","gmtOffset":-5,"lng":-74.007949,"sunrise":"2015-02-05
        07:02","timezoneId":"America/New_York","lat":40.740639}'
  recorded_at: Thu, 05 Feb 2015 22:13:24 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=40.740639,-74.007949&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "848",
                       "short_name" : "848",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Washington Street",
                       "short_name" : "Washington St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Lower Manhattan",
                       "short_name" : "Lower Manhattan",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
        [...]
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=40.740639&lng=-74.007949&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2015-02-05 07:02","lng":-74.007949,"countryCode":"US","gmtOffset":-5,"rawOffset":-5,"sunset":"2015-02-05
        17:18","timezoneId":"America/New_York","dstOffset":-4,"countryName":"United
        States","time":"2015-02-05 17:13","lat":40.740639}'
  recorded_at: Thu, 05 Feb 2015 22:13:40 GMT
recorded_with: VCR 2.9.3
