---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=40.740639,-74.007949&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "848",
                       "short_name" : "848",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Washington Street",
                       "short_name" : "Washington St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Lower Manhattan",
                       "short_name" : "Lower Manhattan",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
        [...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?near=New%20York,%20New%20York,%20United%20States&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Boom%20Boom%20Room&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '260'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '423'
      X-Ex:
      - fastly_cdn
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"geocode":{"what":"","where":"new
        york new york united states","center":{"lat":40.742185,"lng":-73.992602},"displayString":"New
        York, NY, United States","cc":"US","geometry":{"bounds":{"ne":{"lat":40.882214,"lng":-73.907},"sw":{"lat":40.679548,"lng":-74.047285}}},"slug":"new-york-city-new-york","longId":"72057594043056517"},"warning":{"text":"There
        aren''t a lot of results for \"Boom Boom Room.\" Try something more general,
        reset your filters, or expand the search area."},"headerLocation":"New York","headerFullLocation":"New
        York","headerLocationGranularity":"city","query":"boom boom room","totalResults":2,"suggestedBounds":{"ne":{"lat":40.79954855353097,"lng":-73.9969875863438},"sw":{"lat":40.71451587840329,"lng":-74.07232125779316}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4ef6cee002d5abdcbaf6461c","name":"Boom
        Boom Room Pt 2 In HD","contact":{},"location":{"lat":40.79568343193426,"lng":-74.00041184413695,"postalCode":"07047","cc":"US","city":"North
        Bergen","state":"NJ","country":"United States","formattedAddress":["North
        Bergen, NJ 07047"]},"categories":[{"id":"4bf58dd8d48988d1d6941735","name":"Strip
        Club","pluralName":"Strip Clubs","shortName":"Strip Club","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/nightlife\/stripclub_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":366,"usersCount":13,"tipCount":0},"price":{"tier":3,"message":"Expensive","currency":"$"},"like":false,"hours":{"status":"Likely
        open","isOpen":true},"specials":{"count":0,"items":[]},"photos":{"count":15,"groups":[]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]}},"referralId":"e-0-4ef6cee002d5abdcbaf6461c-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4c43c41df0bdd13adac1c8cc","name":"The
        Boom Boom Room","contact":{},"location":{"address":"60 Astor Pl","crossStreet":"Monticello","lat":40.718381,"lng":-74.068897,"postalCode":"07304","cc":"US","city":"Jersey
        City","state":"NJ","country":"United States","formattedAddress":["60 Astor
        Pl (Monticello)","Jersey City, NJ 07304"]},"categories":[{"id":"4bf58dd8d48988d1d6941735","name":"Strip
        Club","pluralName":"Strip Clubs","shortName":"Strip Club","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/nightlife\/stripclub_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":126,"usersCount":47,"tipCount":3},"price":{"tier":3,"message":"Expensive","currency":"$"},"like":false,"specials":{"count":0,"items":[]},"photos":{"count":0,"groups":[]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]}},"flags":{"exactMatch":true},"tips":[{"id":"4c9828a7f419a0936cb96d88","createdAt":1285040295,"text":"If
        the room is a rocking, don''t come a knocking!!","type":"user","canonicalUrl":"https:\/\/foursquare.com\/item\/4c9828a7f419a0936cb96d88","likes":{"count":5,"groups":[],"summary":"5
        likes"},"logView":true,"todo":{"count":0},"user":{"id":"1655346","firstName":"Will","lastName":"McKinney","gender":"male","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/WV0H4BAF0G2Q4KMR.jpg"}}}],"referralId":"e-0-4c43c41df0bdd13adac1c8cc-1"}]}]}}'
  recorded_at: Thu, 01 Jan 2015 00:50:37 GMT
recorded_with: VCR 2.9.3
