---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=40.721368&lng=-74.000426&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2015-02-07 07:00","lng":-74.000426,"countryCode":"US","gmtOffset":-5,"rawOffset":-5,"sunset":"2015-02-07
        17:20","timezoneId":"America/New_York","dstOffset":-4,"countryName":"United
        States","time":"2015-02-07 14:13","lat":40.721368}'
  recorded_at: Sat, 07 Feb 2015 19:13:19 GMT
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?ll=40.721368,-74.000426&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Broadway&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '480'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '470'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"suggestedFilters":{"header":"Tap
        to show:","filters":[{"name":"Places friends go","key":"friendVisits"},{"name":"Open
        now","key":"openNow"}]},"suggestedRadius":600,"headerLocation":"SoHo","headerFullLocation":"SoHo,
        New York","headerLocationGranularity":"neighborhood","query":"broadway","totalResults":155,"suggestedBounds":{"ne":{"lat":40.759070539376474,"lng":-73.98372182039367},"sw":{"lat":40.711568961830814,"lng":-74.00660521439869}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4c8b17cf4fb7199cccf931a3","name":"401
        Broadway","contact":{"phone":"2124006083","formattedPhone":"(212) 400-6083"},"location":{"address":"401
        Broadway","crossStreet":"at Walker St","lat":40.719024596191936,"lng":-74.0026556334066,"distance":321,"postalCode":"10013","cc":"US","city":"New
        York","state":"NY","country":"United States","formattedAddress":["401 Broadway
        (at Walker St)","New York, NY 10013"]},"categories":[{"id":"4bf58dd8d48988d130941735","name":"Building","pluralName":"Buildings","shortName":"Building","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/building\/default_","suffix":".png"},"primary":true}],"verified":true,"stats":{"checkinsCount":2513,"usersCount":385,"tipCount":2},"like":false,"rating":7.8,"ratingSignals":8,"hours":{"status":"Open","isOpen":true},"specials":{"count":0,"items":[]},"photos":{"count":44,"groups":[{"type":"venue","name":"Venue
        photos","count":44,"items":[{"id":"503ea200e4b01cd0ee85872b","createdAt":1346281984,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/Xa9caW4okTQnP_AWZ2vwST4EbG_-1namWhtW1f0itpc.jpg","width":540,"height":540,"user":{"id":"1102673","firstName":"Cindy","lastName":"Trinh","gender":"female","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/1102673-HYP3R1XEVOKRUNHU.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"storeId":"","featuredPhotos":{"count":1,"items":[{"id":"503ea200e4b01cd0ee85872b","createdAt":1346281984,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/Xa9caW4okTQnP_AWZ2vwST4EbG_-1namWhtW1f0itpc.jpg","width":540,"height":540,"user":{"id":"1102673","firstName":"Cindy","lastName":"Trinh","gender":"female","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/1102673-HYP3R1XEVOKRUNHU.jpg"}},"visibility":"public"}]}},"tips":[{"id":"4fe88e63e4b0756d13a7c8ef","createdAt":1340640867,"text":"Amazing
        views of Northern NYC!","type":"user","canonicalUrl":"https:\/\/foursquare.com\/item\/4fe88e63e4b0756d13a7c8ef","photo":{"id":"4fe88e66e4b05d1edcecf98f","createdAt":1340640870,"source":{"name":"foursquare
        for iPhone","url":"https:\/\/foursquare.com\/download\/#\/iphone"},"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/A2ZULJHdncH4n-xkPVfnVIn9Sgvid9znfKCuIztLkro.jpg","width":720,"height":252},"photourl":"https:\/\/irs2.4sqi.net\/img\/general\/original\/A2ZULJHdncH4n-xkPVfnVIn9Sgvid9znfKCuIztLkro.jpg","likes":{"count":3,"groups":[],"summary":"3
        likes"},"logView":true,"todo":{"count":0},"user":{"id":"31062157","firstName":"ABS","lastName":"Partners","gender":"male","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/URBOEJ4N3ZXKVBLP.jpg"}}}],"referralId":"e-0-4c8b17cf4fb7199cccf931a3-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4b3bf3f3f964a520187f25e3","name":"MTA
        Subway - Broadway\/Lafayette St (B\/D\/F\/M\/6)","contact":{"twitter":"nyctsubwayscoop"},"location":{"address":"E
        Houston St & Broadway","crossStreet":"at Lafayette St","lat":40.725266748079484,"lng":-73.99617075920105,"distance":563,"postalCode":"10003","cc":"US","city":"New
        York","state":"NY","country":"United States","formattedAddress":["E Houston
        St & Broadway (at Lafayette St)","New York, NY 10003"]},"categories":[{"id":"4bf58dd8d48988d1fd931735","name":"Subway","pluralName":"Subways","shortName":"Subway","icon":{"prefix":"https:\/\/ss[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/527d8f8f11d22bbff3c2be34?oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&v=20140819
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '60'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '469'
      X-Ex:
      - [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=40.72254159914707,-73.99967156006764&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "511",
                       "short_name" : "511",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Broadway",
                       "short_name" : "Broadway",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Lower Manhattan",
                       "short_name" : "Lower Manhattan",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                      [...]
