---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=40.76424&lng=-73.97388&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2015-02-07 07:00","lng":-73.97388,"countryCode":"US","gmtOffset":-5,"rawOffset":-5,"sunset":"2015-02-07
        17:20","timezoneId":"America/New_York","dstOffset":-4,"countryName":"United
        States","time":"2015-02-07 14:13","lat":40.76424}'
  recorded_at: Sat, 07 Feb 2015 19:13:30 GMT
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?ll=40.76424,-73.97388&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=The%20Plaza&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '237'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '467'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"warning":{"text":"There
        aren''t a lot of results for \"The Plaza.\" Try something more general, reset
        your filters, or expand the search area."},"suggestedRadius":600,"headerLocation":"Midtown
        East","headerFullLocation":"Midtown East, New York","headerLocationGranularity":"neighborhood","query":"the
        plaza","totalResults":2,"suggestedBounds":{"ne":{"lat":40.76537258146571,"lng":-73.97533172193376},"sw":{"lat":40.76267292168026,"lng":-73.97262410553417}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4ddacc00b0fb97d348b93271","name":"The
        Shops at The Plaza","contact":{"phone":"2125465499","formattedPhone":"(212)
        546-5499"},"location":{"address":"1 W 58th St","crossStreet":"5th Ave","lat":40.76408859312372,"lng":-73.97483308661613,"distance":82,"postalCode":"10019","cc":"US","city":"New
        York","state":"NY","country":"United States","formattedAddress":["1 W 58th
        St (5th Ave)","New York, NY 10019"]},"categories":[{"id":"4bf58dd8d48988d1fd941735","name":"Mall","pluralName":"Malls","shortName":"Mall","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/shops\/mall_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":641,"usersCount":423,"tipCount":7},"hasMenu":true,"like":false,"rating":7.8,"ratingSignals":16,"menu":{"type":"Services","label":"Services","anchor":"View
        Services","url":"https:\/\/foursquare.com\/v\/the-shops-at-the-plaza\/4ddacc00b0fb97d348b93271\/menu","mobileUrl":"https:\/\/foursquare.com\/v\/4ddacc00b0fb97d348b93271\/device_menu"},"hours":{"status":"Likely
        open","isOpen":true},"specials":{"count":0,"items":[]},"photos":{"count":29,"groups":[{"type":"venue","name":"Venue
        photos","count":29,"items":[{"id":"5032d3fee4b044311487f2ec","createdAt":1345508350,"prefix":"https:\/\/irs1.4sqi.net\/img\/general\/","suffix":"\/gI0mnKIkSNsPjGNbIBZ0ae2sqaDN-75k4d7caz_C5DY.jpg","width":720,"height":540,"user":{"id":"37890","firstName":"Dave","lastName":"McComb","gender":"male","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/IHX04CBS50FSDU3W.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"featuredPhotos":{"count":1,"items":[{"id":"5032d3fee4b044311487f2ec","createdAt":1345508350,"prefix":"https:\/\/irs1.4sqi.net\/img\/general\/","suffix":"\/gI0mnKIkSNsPjGNbIBZ0ae2sqaDN-75k4d7caz_C5DY.jpg","width":720,"height":540,"user":{"id":"37890","firstName":"Dave","lastName":"McComb","gender":"male","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/IHX04CBS50FSDU3W.jpg"}},"visibility":"public"}]}},"tips":[{"id":"515616c0e4b00656ec44c3ef","createdAt":1364596416,"text":"Great
        public restrooms!","type":"user","canonicalUrl":"https:\/\/foursquare.com\/item\/515616c0e4b00656ec44c3ef","likes":{"count":1,"groups":[],"summary":"1
        like"},"logView":true,"todo":{"count":1},"user":{"id":"42913020","firstName":"Cathy","lastName":"Smith","gender":"female","photo":{"prefix":"https:\/\/irs3.4sqi.net\/img\/user\/","suffix":"\/RBNZDLNGSMCD0J00.jpg"}}}],"referralId":"e-0-4ddacc00b0fb97d348b93271-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4dab414d8154abafc2bf224f","name":"The
        Plaza Hotel Fountain","contact":{},"location":{"address":"59 5th Ave","crossStreet":"(Central
        Park South)","lat":40.76395691002225,"lng":-73.9731227408518,"distance":71,"postalCode":"10003","cc":"US","city":"New
        York","state":"NY","country":"United States",[...]
- request:
    method: get
    uri: https://www.google.com/maps?output=json&q=The%20Plaza&sll=40.76424,-73.97388
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: UTF-8
      string: 'while(1);{title:"The Plaza - Google Maps",url:"/maps?q=The+Plaza\x26sll=40.76424,-73.97388\x26ie=UTF8\x26hq=The+Plaza\x26hnear=",urlViewport:false,ei:"3GPWVKSlC6n7iAK-iYGACA",form:{selected:"q",q:{q:"The
        Plaza",what:"The Plaza",near:""},d:{saddr:"",daddr:"The Plaza",dfaddr:""},geocode:"",d_edit:{saddr:"",daddr:"The
        Plaza"}},query:{type:"dq"},viewport:{center:{lat:40.764468999999998,lng:-73.974487999999994},sp[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=40.76424,-73.97388&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "71507",
                       "short_name" : "71507",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Grand Army Plaza",
                       "short_name" : "Grand Army Plaza",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Central Park",
                       "short_name" : "Central Park",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
            [...]
