---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?ll=40.740639,-74.007949&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Boom%20Boom%20Room&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '182'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '421'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"warning":{"text":"There
        aren''t a lot of results for \"Boom Boom Room.\" Try something more general,
        reset your filters, or expand the search area."},"suggestedRadius":1800,"headerLocation":"Meatpacking
        District","headerFullLocation":"Meatpacking District, New York","headerLocationGranularity":"neighborhood","query":"boom
        boom room","totalResults":0,"groups":[{"type":"Recommended Places","name":"recommended","items":[]}]}}'
  recorded_at: Tue, 03 Feb 2015 01:51:41 GMT
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=40.740639&lng=-74.007949&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"2015-02-02 20:51","countryName":"United States","sunset":"2015-02-03
        17:15","rawOffset":-5,"dstOffset":-4,"countryCode":"US","gmtOffset":-5,"lng":-74.007949,"sunrise":"2015-02-03
        07:04","timezoneId":"America/New_York","lat":40.740639}'
  recorded_at: Tue, 03 Feb 2015 01:51:42 GMT
recorded_with: VCR 2.9.3
