---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=40.721368&lng=-74.000426&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2015-02-13 06:52","lng":-74.000426,"countryCode":"US","gmtOffset":-5,"rawOffset":-5,"sunset":"2015-02-13
        17:28","timezoneId":"America/New_York","dstOffset":-4,"countryName":"United
        States","time":"2015-02-12 18:45","lat":40.721368}'
  recorded_at: Thu, 12 Feb 2015 23:45:11 GMT
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?ll=40.721368,-74.000426&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Broadway&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '363'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '491'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"suggestedFilters":{"header":"Tap
        to show:","filters":[{"name":"$-$$$$","key":"price"},{"name":"Places friends
        go","key":"friendVisits"}]},"suggestedRadius":600,"headerLocation":"SoHo","headerFullLocation":"SoHo,
        New York","headerLocationGranularity":"neighborhood","query":"broadway","totalResults":156,"suggestedBounds":{"ne":{"lat":40.763553659547206,"lng":-73.98306135502838},"sw":{"lat":40.71135547991792,"lng":-74.00663666513037}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4c8b17cf4fb7199cccf931a3","name":"401
        Broadway","contact":{"phone":"2124006083","formattedPhone":"(212) 400-6083"},"location":{"address":"401
        Broadway","crossStreet":"at Walker St","lat":40.719024596191936,"lng":-74.0026556334066,"distance":321,"postalCode":"10013","cc":"US","city":"New
        York","state":"NY","country":"United States","formattedAddress":["401 Broadway
        (at Walker St)","New York, NY 10013"]},"categories":[{"id":"4bf58dd8d48988d130941735","name":"Building","pluralName":"Buildings","shortName":"Building","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/building\/default_","suffix":".png"},"primary":true}],"verified":true,"stats":{"checkinsCount":2518,"usersCount":386,"tipCount":2},"like":false,"rating":7.8,"ratingSignals":8,"hours":{"status":"Open","isOpen":true},"specials":{"count":0,"items":[]},"photos":{"count":44,"groups":[{"type":"venue","name":"Venue
        photos","count":44,"items":[{"id":"503ea200e4b01cd0ee85872b","createdAt":1346281984,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/Xa9caW4okTQnP_AWZ2vwST4EbG_-1namWhtW1f0itpc.jpg","width":540,"height":540,"user":{"id":"1102673","firstName":"Cindy","lastName":"Trinh","gender":"female","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/1102673-HYP3R1XEVOKRUNHU.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"storeId":"","featuredPhotos":{"count":1,"items":[{"id":"503ea200e4b01cd0ee85872b","createdAt":1346281984,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/Xa9caW4okTQnP_AWZ2vwST4EbG_-1namWhtW1f0itpc.jpg","width":540,"height":540,"user":{"id":"1102673","firstName":"Cindy","lastName":"Trinh","gender":"female","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/1102673-HYP3R1XEVOKRUNHU.jpg"}},"visibility":"public"}]}},"tips":[{"id":"4fe88e63e4b0756d13a7c8ef","createdAt":1340640867,"text":"Amazing
        views of Northern NYC!","type":"user","canonicalUrl":"https:\/\/foursquare.com\/item\/4fe88e63e4b0756d13a7c8ef","photo":{"id":"4fe88e66e4b05d1edcecf98f","createdAt":1340640870,"source":{"name":"foursquare
        for iPhone","url":"https:\/\/foursquare.com\/download\/#\/iphone"},"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/A2ZULJHdncH4n-xkPVfnVIn9Sgvid9znfKCuIztLkro.jpg","width":720,"height":252},"photourl":"https:\/\/irs2.4sqi.net\/img\/general\/original\/A2ZULJHdncH4n-xkPVfnVIn9Sgvid9znfKCuIztLkro.jpg","likes":{"count":3,"groups":[],"summary":"3
        likes"},"logView":true,"todo":{"count":0},"user":{"id":"31062157","firstName":"ABS","lastName":"Partners","gender":"male","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/URBOEJ4N3ZXKVBLP.jpg"}}}],"referralId":"e-0-4c8b17cf4fb7199cccf931a3-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4b3bf3f3f964a520187f25e3","name":"MTA
        Subway - Broadway\/Lafayette St (B\/D\/F\/M\/6)","contact":{"twitter":"nyctsubwayscoop"},"location":{"address":"E
        Houston St & Broadway","crossStreet":"at Lafayette St","lat":40.725266748079484,"lng":-73.99617075920105,"distance":563,"postalCode":"10003","cc":"US","city":"New
        York","state":"NY","country":"United States","formattedAddress":["E Houston
        St & Broadway (at Lafayette St)","New York, NY 10003"]},"categories":[{"id":"4bf58dd8d48988d1fd931735","name":"Subway","pluralName":"Subways","shortName":"Subway","icon":{"prefix":"https:\/\/ss[...]
- request:
    method: get
    uri: https://www.google.com/maps?ll=40.721368,-74.000426&output=json&q=Broadway
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.08
    body:
      encoding: UTF-8
      string: 'while(1);{title:"Broadway - Google Maps",url:"/maps?q=Broadway\x26ie=UTF8\x26hq=\x26hnear=Broadway+St,+San+Francisco,+California",urlViewport:true,ei:"CTvdVPTIN4H9iALnq4HgAw",form:{selected:"q",q:{q:"Broadway",what:"",near:""},d:{saddr:"",daddr:""},geocode:""},query:{type:"g"},viewport:{center:{lat:40.721367999999998,lng:-74.000426000000004},span:{lat:0,lng:0},mapType:"",source:0},modules:["","strr","pphover","act_s","appiw"[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=40.721368,-74.000426&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.08
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "473",
                       "short_name" : "473",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Broadway",
                       "short_name" : "Broadway",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Lower Manhattan",
                       "short_name" : "Lower Manhattan",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                      [...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/4aac0035f964a520825b20e3?oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&v=20140819
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '92'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '473'
      X-Ex:
      - [...]
- request:
    method: get
    uri: https://www.google.com/maps?output=json&q=Broadway%20loc:40.721368,-74.000426
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.08
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        d[...]
[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&ll=40.721368,-74.000426&query=Broadway&v=20150226&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '344'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4869'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"response":{"fallbackCategory":{"target":{"type":"path","url":"\/venue\/explore","params":{"query":"Broadway","ll":"40.721368,-74.000426","radius":"600"}},"refinements":[{"query":"food"}]},"suggestedFilters":{"header":"Tap
        to show:","filters":[{"name":"$-$$$$","key":"price"},{"name":"Open now","key":"openNow"}]},"suggestedRadius":600,"headerLocation":"SoHo","headerFullLocation":"SoHo,
        New York","headerLocationGranularity":"neighborhood","query":"broadway","totalResults":156,"suggestedBounds":{"ne":{"lat":40.763553659547206,"lng":-73.983111279853},"sw":{"lat":40.71135547991792,"lng":-74.0055882438134}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4c8b17cf4fb7199cccf931a3","name":"401
        Broadway","contact":{"phone":"2124006083","formattedPhone":"(212) 400-6083"},"location":{"address":"401
        Broadway","crossStreet":"at Walker St","lat":40.719024596191936,"lng":-74.0026556334066,"distance":321,"postalCode":"10013","cc":"US","city":"New
        York","state":"NY","country":"United States","formattedAddress":["401 Broadway
        (at Walker St)","New York, NY 10013","United States"]},"categories":[{"id":"4bf58dd8d48988d130941735","name":"Building","pluralName":"Buildings","shortName":"Building","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/building\/default_","suffix":".png"},"primary":true}],"verified":true,"stats":{"checkinsCount":2535,"usersCount":391,"tipCount":2},"rating":7.8,"ratingColor":"C5DE35","ratingSignals":8,"hours":{"status":"Open","isOpen":true},"specials":{"count":0,"items":[]},"photos":{"count":45,"groups":[{"type":"venue","name":"Venue
        photos","count":45,"items":[{"id":"503ea200e4b01cd0ee85872b","createdAt":1346281984,"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/Xa9caW4okTQnP_AWZ2vwST4EbG_-1namWhtW1f0itpc.jpg","width":540,"height":540,"user":{"id":"1102673","firstName":"Cindy","lastName":"Trinh","gender":"female","photo":{"prefix":"https:\/\/[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/4e2c8e16a809f1b1641bdff8?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&v=20150226
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '52'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4868'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"response":{"venue":{"id":"4e2c8e16a809f1b1641bdff8","name":"Broadway
        & Grand St","contact":{},"location":{"lat":40.72055533619637,"lng":-74.00077337717731,"postalCode":"10013","cc":"US","city":"New
        York","state":"NY","country":"United States","formattedAddress":["New York,
        NY 10013","United States"]},"canonicalUrl":"https:\/\/foursquare.com\/v\/broadway--grand-st\/4e2c8e16a809f1b1641bdff8","categories":[{"id":"52f2ab2ebcbc57f1066b8b4c","name":"Intersection","pluralName":"Intersections","shortName":"Intersection","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/travel\/default_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":46,"usersCount":16,"tipCount":0},"likes":{"count":0,"groups":[]},"dislike":false,"ok":false,"specials":{"count":0,"items":[]},"photos":{"count":1,"groups":[{"type":"venue","name":"Venue
        photos","count":1,"items":[{"id":"4fff220de4b0671608f72a17","createdAt":1342120461,"source":{"name":"Instagram","url":"http:\/\/instagram.com"},"prefix":"https:\/\/irs1.4sqi.net\/img\/general\/","suffix":"\/1m9YYj2CKNpN8jwT_w_9EGn0kMO-D3FXKmJxFFBn4ng.jpg","width":612,"height":612,"user":{"id":"3205080","firstName":"Omar","lastName":"Rashid","gender":"male","photo":{"prefix":"https:\/\/irs2.4sqi.net\/img\/user\/","suffix":"\/F0PHVMWCJBPEG1RY.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"reasons":{"count":0,"items":[]},"createdAt":1311542806,"tips":{"count":0,"groups":[{"type":"others","name":"All
        tips","count":0,"items":[]}]},"tags":[],"shortUrl":"http:\/\/4sq.com\/oKfj0P","timeZone":"America\/New_York","listed":{"count":0,"groups":[{"type":"others","name":"Lists
        from other people","count":0,"items":[]}]},"pageUpdates":{"count":0,"items":[]},"inbox":{"count":0,"items":[]},"attributes":{"groups":[]},"bestPhoto":{"id":"4fff220de4b0671608f72a17","createdAt":1342120461,"source":{"name":"Instagram","url":"http:\/\/instagram.com"},"prefix":"https:\/\/irs1.4sqi.net\/img\/general\/","suffix":"\/1m9YYj2CKNpN8jwT_w_9EGn0kMO-D3FXKmJxFFBn4ng.jpg","width":612,"height":612,"visibility":"public"}}}}'
  recorded_at: Fri, 27 Feb 2015 00:38:05 GMT
[...]
