#mailer-header
  .rainbow-divider
    .rainbow.turqoise
    .rainbow.blue
    .rainbow.bluegreen
    .rainbow.green
    .rainbow.yellow
    .rainbow.orange
    .rainbow.pink
    .rainbow.magenta
    .rainbow.purple
  .logo-container-mailer
    = link_to root_url do
      = image_tag attachments["logo_only_white.png"].url, alt: '', class: "logo-image-top-mailer"
      = image_tag attachments["logo_name_only_white.png"].url, alt: 'PLANIT', class: "logo-name-top-mailer"
  .quote
    = ""