.column
  .any-tab-wrapper.mark-tab
    .content-tab.mark-tab.add-new
      .content-tab-img.mark-tab.add-new
        %i.add-photo-camera.fa.fa-globe.fa-2x
      .content-tab-title.mark-tab= "Add New"