.column
  .any-tab-wrapper
    .mark-tab
      .tab-operations
        .tab-operations-button
          .i.fa.fa-pencil
        .tab-operations-button
          .i.fa.fa-calendar
        .tab-operations-button
          .i.fa.fa-heart
        .tab-operations-button
          .i.fa.fa-check-circle
        .tab-operations-button
          .i.fa.fa-times-circle
        .tab-operations-button
          .i.fa.fa-trash
      - if item.images.first
        .mark-tab-img
          = image_tag item.images.first.url
      - else
        .mark-tab-img.add-photo
          .i.add-photo-camera.fa.fa-camera-retro.fa-2x
      .mark-tab-title= item.name