.column
  .any-tab-wrapper
    .mark-tab
      .tab-operations
        .tab-operations-button
          .i.fa.fa-pencil
        .tab-operations-button
          .i.fa.fa-calendar
        .tab-operations-button
          .i.fa.fa-heart
        .tab-operations-button
          .i.fa.fa-check-circle
        .tab-operations-button
          .i.fa.fa-times-circle
        .tab-operations-button
          .i.fa.fa-trash
      - if item.image
        .mark-tab-img
          = link_to image_tag(item.image.url), place_path(item.place)
      - else
        %a{ href: place_path(item.place) }
          .mark-tab-img.add-photo
            .i.add-photo-camera.fa.fa-camera-retro.fa-2x
      = link_to item.name, place_path(item.place), class: "mark-tab-title a-override a-black h-black u-none"