.column
  .any-tab-wrapper
    .mark-tab
      .tab-operations
        .tab-operations-button
          .i.fa.fa-pencil
        .tab-operations-button
          .i.fa.fa-calendar
        .tab-operations-button
          .i.fa.fa-heart
        .tab-operations-button
          .i.fa.fa-check-circle
        .tab-operations-button
          .i.fa.fa-times-circle
        .tab-operations-button
          .i.fa.fa-trash
      = item.decorate.show_image_or_noimage
      = link_to item.name, place_path(item.place), class: "mark-tab-title a-override a-black h-black u-none"