- if current_user && current_user.member?
  %a{ class: 'feedback-button', href: '#planit-modal-feedback', data: { toggle: 'modal', target: '#planit-modal-feedback', backdrop: 'static', keyboard: 'false' } }
    %span 
      %i.fa.fa-share-square
    .feedback-button-hint
      Share Feedback!

  .modal.fade.planit-modal#planit-modal-feedback{ tabindex: '-1', role: 'dialog', aria: { hidden: 'true' } }
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title Share Feedback!
        .modal-body
          %form{:id => "planit-modal-form-feedback"}
            .form-group
              %input#nearby.form-control.hidden-input{:type => "hidden"}/
              %input#page.form-control.hidden-input{:type => "hidden"}/
              - if current_user
                %input#user.form-control.hidden-input{:type => "hidden", value: current_user }/ 

          - if current_user && !current_user.nps_feedbacks.in_last_months(2).any?
            .form-group.happiness-feedback 
              %p
                %strong
                  = current_user.first_name + ", Thanks for Taking the Time!"
              - if !current_user.page_feedbacks.any? && !current_user.nps_feedbacks.any?
                How Would You Rate Your First Impressions of Planit?
              - else 
                How Likely Are You to Recommend Planit to Your Friends?  
              .radio-collection
                %label.radio-item
                  %input.happiness{:name => "happiness", :type => "radio", :value => "1"}/
                  1
                %label.radio-item
                  %input.happiness{:name => "happiness", :type => "radio", :value => "2"}/
                  2
                %label.radio-item
                  %input.happiness{:name => "happiness", :type => "radio", :value => "3"}/
                  3
                %label.radio-item
                  %input.happiness{:name => "happiness", :type => "radio", :value => "4"}/
                  4
                %label.radio-item
                  %input.happiness{:name => "happiness", :type => "radio", :value => "5"}/
                  5
                %label.radio-item
                  %input.happiness{:name => "happiness", :type => "radio", :value => "6"}/
                  6
                %label.radio-item
                  %input.happiness{:name => "happiness", :type => "radio", :value => "7"}/
                  7
                %label.radio-item
                  %input.happiness{:name => "happiness", :type => "radio", :value => "8"}/
                  8
                %label.radio-item
                  %input.happiness{:name => "happiness", :type => "radio", :value => "9"}/
                  9
                %label.radio-item
                  %input.happiness{:name => "happiness", :type => "radio", :value => "10"}/
                  10
              .radio-labels
                - if !current_user.page_feedbacks.any? && !current_user.nps_feedbacks.any?
                  .radio-label.left Not Great
                  .radio-label.right I Love It!
                - else 
                  .radio-label.left Not At All
                  .radio-label.right Absolutely
            .form-group.improve-feedback
              = current_user.first_name + ", " if current_user
              How Can We Improve Planit?
              %textarea#suggestion.form-control.feedback-textarea
            .form-group.improve-feedback
              What Apps Should We Be More Like?
              %textarea#imitation.form-control.feedback-textarea
            %p.loving-feedback 
              %strong Aww Thanks, We Love You Too!
            .form-group.loving-feedback
              Tell Us -- How Would You Describe Planit To Your Friends?
              %textarea#description.form-control.feedback-textarea
            .form-group.loving-feedback
              = current_user.first_name + ", " if current_user
              How Can We Be Even Better?
              %textarea#awesome.form-control.feedback-textarea

          - elsif current_user
            .form-group.basic-feedback
              = current_user.first_name + ", " if current_user
              How Can We Improve?
              %textarea#basic-feedback.form-control.feedback-textarea

        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
          - if current_user && !current_user.nps_feedbacks.in_last_months(2).any?
            %button.btn.btn-primary{:id => "planit-modal-submit-feedback", :type => "button", :disabled => true } Share
          - else
            %button.btn.btn-primary{:id => "planit-modal-submit-feedback", :type => "button" } Share