/ OLD

/ .persistent-header{ class: transition }
/   .container
/     %div{ class: 'sixteen columns' }
/       .header-container
/         .logo-container
/           = image_tag "black_logo.png"
/         .header-title
/           = @plan.title
/         .user-icon
/           = image_tag "black_anon_user.png"
/         %ul.menu-top
/           %li.menu-link.black= link_to 'PRINT', print_plan_path 
/           %li.menu-link.black{ id: "min_max"}= 'DETAIL'
