- if current_user_is_active
  / %a{ class: 'feedback-button', href: '#planit-modal-feedback', data: { toggle: 'modal', target: '#planit-modal-feedback', backdrop: 'static', keyboard: 'false' } }
  /   %i.fa.fa-share-square
  /   %span.large-screen.inline= "&nbsp;Share Feedback!".html_safe

  .modal.fade.planit-modal#planit-modal-feedback{ tabindex: '-1', role: 'dialog', aria: { hidden: 'true' } }
    .modal-dialog
      .modal-content
        = form_for(PageFeedback.new) do |f|
          .modal-header
            %button.close{ "data-dismiss" => "modal", aria_label: "Close", type: "button" }
              %span{ aria_hidden: "true"} ×
            %h4.modal-title Share Feedback!
          .modal-body= render 'feedback/page', {f: f}
          .modal-footer
            %button.planit-button.gray{"data-dismiss" => "modal", :type => "button"} Cancel
            = f.submit 'Share', class: 'planit-button neon', id: 'planit-modal-submit-feedback', disabled: !current_user.nps_feedbacks.in_last_months(2).any?