.modal-directive-wrapper
  .add-to-plan
    %modal_header{ header_title: 'Add or Remove from Guides' }
    .modal-body
      %strong{ ng_if: 'selectedPlans.length > 0'} Included in:
      %ul.selected
        %li{ ng_repeat: "plan in selectedPlans" } 
          %span.name {{plan.name}}
          %span.count ({{plan.place_ids.length}})
          %i.fa.fa-times-circle{ ng_click: "removePlacesFromPlan(plan)" } 
      .input-and-results
        %input.guide-name{ placeholder: "Enter Guide Name", type: "text", ng_model: 'guideName', ng_keyup: '$event.keyCode == 13 ? addPlacesToNewPlan() : null' }
        %ul.suggested-results{ ng_if: 'guideName.length'}
          %li{ ng_repeat: "plan in plans | filter:guideName", ng_click: 'addPlacesToPlan(plan)' }
            %span.name {{plan.name}}
            %span.count ({{plan.place_ids.length}} places)
    .modal-footer
      .planit-button{ ng_if: '!changesMade || (changesMade && guideName.length > 1)', ng_class: "{'neon': guideName.length > 1, 'disabled': guideName.length < 2 || !guideName.length}", ng_click: "addPlacesToNewPlan()" }
        %span Add
        %i.fa.fa-check.pad-left
      .planit-button.blue{ ng_if: 'changesMade && (guideName.length < 2 || !guideName.length)', ng_click: 'cancel()' }
        %span OK
        %i.fa.fa-check.pad-left