.bucket-list-tab
  .bucket-list-no-img{ ng_if: "!place.image_url", ng_href: "{{place.fs_href}}", target: '_blank' }
  .bucket-list-img{ ng_if: "place.image_url", ng_href: "{{place.fs_href}}", style: "background-image: url('{{place.image_url}}');", target: '_blank' }
  .bucket-list-wrap
    .bucket-list-profile
      %a.bucket-list-title{ ng_href: "{{place.fs_href}}", target: '_blank' }
        {{ place.name }}
      .foursquare-and-info-wrap
        %span.xmini-foursquare-icon.rainbow{ ng_class: "colorClass( place.meta_categories[0] )" }
          %span.xmini-foursquare-icon{ style: "background-image: url('{{ place.foursquare_icon.replace('_bg','') }}');", ng_show: "place.foursquare_icon" }
        .bucket-list-more-info
          {{ place.categories.join(', ') }}

    .bucket-list-controls
      %item_actions_bar{ m: 'm', item: 'item' }
      / %place_control_bar{ place: 'place', plan: 'plan', items: 'items' }
