.bucket-list-tab
  .bucket-list-no-img{ ng_if: "!place.image_url", ng_href: "{{place.fs_href}}", target: '_blank' }
  .bucket-list-img{ ng_if: "place.image_url", ng_href: "{{place.fs_href}}", style: "background-image: url('{{place.image_url}}');", target: '_blank' }
  .bucket-list-wrap
    .bucket-list-profile
      %a.bucket-list-title{ ng_href: "{{place.fs_href}}", target: '_blank' }
        {{ place.name }}
      .bucket-list-more-info
        %i{ class: '{{place.meta_icon}}'}
        {{ place.categories.join(', ') }}

    .bucket-list-controls
      %place_control_bar{ place: 'place', plan: 'plan', items: 'items' }
