.item-actions-wrapper
  .item-actions
    .item-action-button.remove-item{ ng_show: 'm.userOwnsPlan()' }
      %i.action.fa.fa-trash{ ng_click: 'm.plan().deleteItem(item)' }
      .hint Remove from List
    .item-action-button.love-item
      %i.action.fa.fa-heart{ ng_show: '!item.currentUserLoves()', love_place_on_click: '{{ item.mark.place.id }}', success_function: 'item.currentUserLove()' }
      .hint{ ng_show: '!item.currentUserLoves()' } Love
      %i.action.fa.fa-heart.neon{ ng_show: 'item.currentUserLoves()', unlove_place_on_click: '{{ item.mark.place.id }}', success_function: 'item.currentUserUnlove()' }
      .hint{ ng_show: 'item.currentUserLoves()' } Unlove
    .item-action-button.been-item
      %i.action.fa.fa-thumb-tack{ ng_show: '!item.currentUserVisited()', been_place_on_click: '{{ item.mark.place.id }}', success_function: 'item.currentUserBeen()' }
      .hint{ ng_show: '!item.currentUserVisited()' } I Have Been Here
      %i.action.fa.fa-thumb-tack.enabled{ ng_show: 'item.currentUserVisited()', notbeen_place_on_click: '{{ item.mark.place.id }}', success_function: 'item.currentUserUnbeen()' }
      .hint{ ng_show: 'item.currentUserVisited()' } I Haven't Been Here
