.item-actions-wrapper
  .item-actions{ ng_show: 'm.userOwnsPlan()' }
    .item-action-button.remove-item
      %i.action.fa.fa-trash{ ng_click: 'm.plan().deleteItem(item)' }
      .hint Remove from List
    .item-action-button.love-item
      %i.action.fa.fa-heart{ ng_show: '!item.currentUserLoves()', love_place_on_click: '{{ item.mark.place.id }}', success_function: 'item.currentUserLove()' }
      .hint{ ng_show: '!item.currentUserLoves()' } Love
      %i.action.fa.fa-heart.neon{ ng_show: 'item.currentUserLoves()', unlove_place_on_click: '{{ item.mark.place.id }}', success_function: 'item.currentUserUnlove()' }
      .hint{ ng_show: 'item.currentUserLoves()' } Unlove
    .item-action-button.been-item
      %i.action.fa.fa-check-square{ ng_show: '!item.currentUserVisited()', been_place_on_click: '{{ item.mark.place.id }}', success_function: 'item.currentUserBeen()' }
      .hint{ ng_show: '!item.currentUserVisited()' } Mark as Been
      %i.action.fa.fa-check-square.enabled{ ng_show: 'item.currentUserVisited()', notbeen_place_on_click: '{{ item.mark.place.id }}', success_function: 'item.currentUserUnbeen()' }
      .hint{ ng_show: 'item.currentUserVisited()' } Mark as Not Been
  .item-actions{ ng_show: '!m.userOwnsPlan()' }
    .item-action-button.remove-item
      / %i.action.fa.fa-bookmark{ ng_show: '!item.currentUserSaved()', save_place_on_click: '{{ item.mark.place.id }}', success_function: 'item.currentUserSave()' }
      / .hint{ ng_show: '!item.currentUserSaved()' } Recommend AGAINST
      / %i.action.fa.fa-trash{ ng_show: 'item.currentUserSaved()', unsave_place_on_click: '{{ item.mark.place.id }}', success_function: 'item.currentUserUnsave()' }
      / .hint{ ng_show: '!item.currentUserSaved()' } Recommend AGAINST
    .item-action-button.love-item
      %i.action.fa.fa-heart{ ng_show: '!item.currentUserLoves()', love_place_on_click: '{{ item.mark.place.id }}', success_function: 'item.currentUserLove()' }
      .hint{ ng_show: '!item.currentUserLoves()' } Love
      %i.action.fa.fa-heart.neon{ ng_show: 'item.currentUserLoves()', unlove_place_on_click: '{{ item.mark.place.id }}', success_function: 'item.currentUserUnlove()' }
      .hint{ ng_show: 'item.currentUserLoves()' } Unlove
    .item-action-button.been-item
      %i.action.fa.fa-check-square{ ng_show: '!item.currentUserVisited()', been_place_on_click: '{{ item.mark.place.id }}', success_function: 'item.currentUserBeen()' }
      .hint{ ng_show: '!item.currentUserVisited()' } Mark as Been
      %i.action.fa.fa-check-square.enabled{ ng_show: 'item.currentUserVisited()', notbeen_place_on_click: '{{ item.mark.place.id }}', success_function: 'item.currentUserUnbeen()' }
      .hint{ ng_show: 'item.currentUserVisited()' } Mark as Not Been
