.place-filter-dropdown{ ng_show: 'places' }
  %a.dropdown-toggle.filter-dropdown{ "data-toggle" => "dropdown", :href => "#" }
    .filter-menu-toggle
      .filter-button
        %i.filter-or-number.fa.fa-sliders.fa-lg#number_filtered
        %i.fa.fa-caret-down 
      Filter Places
  %ul{ ng_show: 'filterStatus' }
    %li.filter-dropdown-menu
      .apply-filters{ ng_show: '!filtersSet()' } Apply Filters: 
      .clear-all-filters{ ng_click: 'clearFilters()', ng_show: 'filtersSet()' }
        Clear All Filters
        %b ×
    %li.divider.nearby-user-location
    %li.filter-dropdown-menu.nearby-user-location
      %label
        %input#nearby.filter-dropdown-menu-nearby{:disabled => "true",  type: "checkbox" }
          Nearby
          %i.filter-dropdown-menu-icon.fa.fa-compass
    %li.divider
    %li{ ng_repeat: 'filter in filterList', ng_class: "{'filter-dropdown-menu': !filter.divider, 'divider': filter.divider}" }
      %label{ ng_if: 'filter.slug' }
        %input#food.filter-dropdown-menu-checkbox{ type: "checkbox", ng_model: 'filters[filter.slug]' }
          {{ filter.name }}
          %i.filter-dropdown-menu-icon{ ng_class: 'filter.icon'}
