.mobile-full-screen#mobile-dashboard

  #menu.centering-box{ ng_show: "!pageIs" }
    .centered-item.box-link-container
      .box-link-group
        .box-link.left{ ng_click: "goTo('add')" }
          .icon-and-hint.centered-item
            %i.fa.fa-plus
            .hint Add
        / .box-link.right{ ng_click: "search()" }
        /   .icon-and-hint.centered-item
        /     %i.fa.fa-search
        /     .hint Search
      / .box-link-divider
      / .box-link-group
      /   .box-link.left{ ng_click: "tryGoToNearby()", ng_class: "{'disabled': !latLon}" }
      /     .icon-and-hint.centered-item
      /       %i.fa.fa-bullseye
      /       .hint Nearby
      /   .box-link.right{ ng_click: "goTo('recent')" }
      /     .icon-and-hint.centered-item
      /       %i.fa.fa-clock-o
      /       .hint Recent

  .centering-box#new-place-page{ ng_show: "pageIs == 'add'" }
    .container
      .column
        .add-new-form
          .add-new-input.section
            %i.fa.fa-bookmark.new-place-icon
            %input#place-name{ name: "place-name", type: 'text', placeholder: 'What? (Place Name)', ng_model: 'placeName', ng_change: 'checkAdd()' }
          .add-new-input.section
            %i.fa.fa-globe.new-place-icon
            %input#place-nearby{ name: "place-nearby", type: 'text', placeholder: 'Where? (Location)', ng_model: 'placeNearby', ng_change: 'checkAdd()' }
          %hr.divider
          .add-new-input.section
            %i.icon-user.new-place-icon
            %input#recommender{ name: "recommender", type: 'text', placeholder: 'Recommended By', ng_model: 'markSource' }
          .add-new-input.section
            %i.fa.fa-pencil.new-place-icon
            %textarea#notes{ name: "notes", rows: 4, placeholder: 'Add a Note', ng_model: 'markNote' }
          .add-new-input.section
            %i.fa.fa-book.new-place-icon
            .input-and-results
              %input.guide-name#guide{ name: "guide", type: 'text', placeholder: 'Add to a Guide', ng_model: 'markGuide' }
              %ul.suggested-results{ ng_if: 'markGuide.length && plans.length', style: "margin-left: 35px"}
                %li{ ng_repeat: "plan in plans | filter:markGuide", ng_click: 'setPlan(plan.name)' }
                  %span.name {{plan.name}}
                  %span.count ({{plan.place_ids.length}} places)
            / %select.override-bootstrap.js-example-basic-multiple#guides{ multiple: "multiple", ng_model: 'markGuides' }
            /   - @user.plans.each do |plan|
            /     %option{ value: "#{plan.id}"}= plan.name
            / .add-new-input.section
            /   %i.fa.fa-unlock-alt.new-place-icon
            /   %select#permission{ ng_model: 'placePermission' }
            /     %option{ value: "public", selected: true }= "Public (Default)"
            /     %option{ value: "private" }= "Private"
          %hr.divider
          .planit-button.add-new-submit{ ng_class: "{'neon': canAdd, 'disabled': !canAdd}", ng_click: "submitAdd()"}
            Add
          / .click-for-more{ ng_click: "there()", ng_class: "{'selected': thereAlready}" }
          /   %i.fa{ ng_class: "{'fa-caret-down': thereAlready, 'fa-caret-right': !thereAlready}" }
          /   There Already?
          / %hr.divider{ ng_show: 'thereAlready' }
          / / .add-new-input.section{ ng_show: 'thereAlready' }
          / /   %i.fa.fa-camera-retro.new-place-icon
          / /   Take or Upload a Photo
          / / %hr.divider{ ng_show: 'thereAlready' }
          / .foursquare-suggestions{ ng_show: 'thereAlready' } Great! Save some typing if you can:
          / .add-new-input.section{ ng_show: 'thereAlready' }
          /   %i.fa.fa-foursquare.new-place-icon
          /   %select{ ng_model: 'foursquarePlace' }
          /     %option{ value: "", selected: true }= "Nearby Foursquare Places"

  .centering-box#saved{ ng_show: "pageIs == 'saved'" }
    .centered-item#mobile-dashboard-message{ style: "height: 80px" }
      %p
        %i.fa.fa-check.pad-right
        %b Saved!
      .planit-button.blue{ ng_click: "goTo()" } Home
      .planit-button.neon{ ng_click: "goTo('add')" } Add Another

  / .centering-box#nearby{ ng_show: "pageIs == 'nearby'" }
  /   {{ latLon }}

  / .centering-box#recent-places{ ng_show: "pageIs == 'recent'" }
  /   .place-list

  /     - if marks = @user.marks.with_places.order('updated_at DESC').take(10)
  /       %p
  /         %strong.large.neon Recent Places
  /       %ul
  /         - marks.each do |mark|
  /           %li.bucket-list-li
  /             %bucket_list_places{ place: "#{ ShowPlaceSerializer.new(mark.place).to_json }" }
  /       %p

  .page-mask.loading-mask{ ng_if: "loading", ng_show: "loading" }
    .centering-box
      .centered-item.loading-message{ style: "height: 80px" }
        %p
          %i.fa.fa-spinner.fa-spin{ style: "font-size: 22px" }
        .planit-button.blue{ ng_click: "cancel()" } Cancel

