.map-canvas-box.bucket-map
  .leaflet-wrapper{ ng_if: 'layers' }
    %leaflet{ markers: 'places', defaults: 'defaults', height: '100%', width: '100%', center: 'centerPoint', layers: 'layers' }
      #map-info-box{ ng_show: "loaded" }

        // WEB!!!
        .map-filter-results-container
          / = render 'places/filter'
          .map-filter-results#in-view-list{ ng_if: "!mobile", ng_show: "!filtering" }
            .bucket-list-container
              %ul
                #top-of-list
                %li{ class: "bucket-list-li-first", id: "first-bucket-item", ng_show: '(loaded && !places.length) || ( !placesInView.length && !clustersInView.length ) ' }
                  .bucket-list-tab
                    .bucket-list-no-icon
                      %i.fa.fa-spinner.fa-spin{ ng_show: '!allPlaces.length' }
                      %i.fa.fa-exclamation-triangle{ ng_show: 'allPlaces.length' }
                    .bucket-list-wrap#no-items-msg
                      %span{ ng_show: 'allPlaces.length && !places.length' }= "You're all Filtered Out..."
                      %span{ ng_show: 'allPlaces.length > 0 && places.length > 0 && !placesInView.length && !clustersInView.length', ng_click: "fitBoundsOnFilteredPlaces()" }= "Lost? Click to Refocus on Places"
                %li.bucket-list-li.cluster-li{ ng_repeat: "cluster in clustersInView", class: "{{cluster.id}}", id: "{{cluster.id}}", ng_mouseenter: "mouse('clusterMouseenter', cluster.id)", ng_mouseleave: "mouse('clusterMouseleave', cluster.id)"}
                  %bucket_list_clusters{ cluster: 'cluster', map: 'map', padding: 'padding', zoom_to: 'zoomToCluster(clusterFromId(selectedClusterId))', changes: 'changes' }
                %li.bucket-list-li.place-li{ ng_repeat: "place in placesInView", class: "p{{place.id}}", id: "{{'p' + place.id}}", ng_mouseenter: "mouse('pinMouseenter', 'p' + place.id)", ng_mouseleave: "mouse('pinMouseleave', 'p' + place.id)" }
                  %bucket_list_places{ place: 'place', items: 'items', plan: 'plan' }

          // MOBILE!!!
          .map-highlight-result#in-view-item{ ng_if: "mobile", ng_show: 'places.length'}
            .bucket-item-container
              %ul
                %li{ class: "bucket-list-li", id: "in-view-li", ng_if: "selectedClusterId || selectedPlaceId" }
                  %bucket_list_clusters{ ng_if: "selectedClusterId", cluster: 'clusterFromId(selectedClusterId)', changes: 'changes', zoom_to: 'zoomToCluster(clusterFromId(selectedClusterId))' }
                  %bucket_list_places{ ng_if: "selectedPlaceId", place: 'placeFromId(selectedPlaceId)' }