.single-page

  .single-page-content
    %single_page_header{ m: 'm' }

    .planbox-wrapper
      %new_guide_start{ m: 'm' }
      %guide_controls{ m: 'm' }
      %add_box{ m: 'm' }

    %guide_matrix{ m: 'm' }
    %nearby_guide_matrix{ m: 'm' }
    %sort_commands{ m: 'm' }
    %list_and_trip_view{ m: 'm' }
    %single_plan_map_view{ m: 'm' }
    %first_tutorial{ m: 'm' }

  %single_page_footer{ m: 'm' }