.single-page-plans

  / = render 'application/header', page_type: 'home'

  %ng_include{ src: "'single/_plan_box.html'" }

  %ng_include{ src: "'single/_sort_view.html'" }

  %ng_include{ src: "'single/_list_trip.html'" }

  %ng_include{ src: "'single/_list_map.html'" }

  %ng_include{ src: "'single/_guide_matrix.html'" }

  %ng_include{ src: "'single/_first_tutorial.html'" }