.single-page

  .single-page-content
    %single_page_header{ m: 'm' }

    .planbox-wrapper
      %new_guide_start{ m: 'm' }
      %guide_controls{ m: 'm' }
      %add_box{ m: 'm' }

    / CoLocatedPlans stored on plan??  How to manage your own colocations / duplicates???
    .band.spaced-extra
      .div{ ng_repeat: 'plan in m.planManager.coLocatedPlans' }
        %a{ ng_click: 'm.planManager.fetchPlan( plan.id )' } {{ plan.name }} {{ plan.user.name }}

    %sort_commands{ m: 'm' }
    %list_and_trip_view{ m: 'm' }
    %single_plan_map_view{ m: 'm' }
    %guide_matrix{ m: 'm' }
    %first_tutorial{ m: 'm' }

  %single_page_footer{ m: 'm' }