.single-page-wrapper{ ng_class: "{ 'fullscreen': m.fullscreen() }" }

  .single-page-mask{ ng_show: "m.workingNow" }
    .centering-box
      .centered-item.sitewide-loading-message
        %i.fa.fa-spinner.fa-spin

  .single-page-content.like-container{ ng_class: "{ 'fullscreen': m.fullscreen() }" }
    %single_page_header{ m: 'm' }

    .planbox-wrapper{ ng_click: 'm.mainMenuToggled=false' }
      %new_guide_start.large-screen{ m: 'm' }
      / %new_tip.mobile{ m: 'm' }
      %guide_controls{ m: 'm' }
      %add_box{ m: 'm' }

    .page-content{ ng_click: 'm.mainMenuToggled = false; m.settingsBoxToggled = false' }

      %user_page{ m: 'm' }

      .single-plan-view
        %sort_commands{ m: 'm' }

        .tabs{ ng_show: 'm.plan() && m.plan().items.length > 0' }
          %list_view{ m: 'm', ng_show: "m.mode=='list'" }
          / .plan-map-container{ ng_if: "m.plan() && m.plan().items",  }
          %plan_map{ m: "m", web_padding: '45,45,15,400', mobile_padding: '40,15,80,15', zoom_control: 'true', ng_show: "m.mode=='map'" }
          
        %first_tutorial{ m: 'm' }

      %place_popup{ ng_show: "m.place()" }

  %single_page_footer{ m: 'm' }