.user-map-canvas
  .leaflet-wrapper{ ng_if: 'geoJsonDataToMap' }
    %leaflet{ id: 'user', geojson: 'geoJsonDataToMap', layers: 'userLayers', defaults: 'defaults', height: '100%', width: '100%', center: "center" }