body, html
  margin: 10px
  padding: 0
  height: 100% !important
  width: 100%
  max-width: 800px
  font-family: avenir, "open sans", "Myriad W01", "Helvetica Neue", 'trebuchet ms'

#mailer-header
  height: 60px
  background: $darkBlue
  border-bottom: 3px #fff solid

  .logo-container
    height: 60px
    cursor: pointer
    float: left
    padding: 0 15px 0 15px
    img
      float: left
      margin: 4px 10px 0 0
     
  .logo-container

    img.logo-image-top
      width: 42px
      height: 50px

    img.logo-name-top
      width: 86px
      height: 50px
      &.new
        display: none
        visibility: hidden

  .quote
    float: right
    color: #33c
    font-size: 16px
    line-height: 60px
    text-align: right
    padding: 0 25px

#mailer-wrapper
  min-height: 100%
  position: relative
  margin: 0
  padding: 40px 55px
  background: #f3f3f3
  font-size: 16px
  line-height: 150%
  color: #333
  li
    margin-bottom: 10px
    margin-right: 25px
  p
    margin-bottom: 25px
  h2
    color: $darkBlue
    text-shadow: 1px 1px 1px #fff
  span.password
    color: #777
  a, a:hover
    color: $neonPink
    text-decoration: none

  .indented-content
    padding: 25px 25px
    h3
      color: $neonPink
    .images
      margin: 0 auto
      text-align: center
      img
        background: #ccc
        margin: 25px
      img.image-grid
        width: 250px
        height: 188px
      img.image-single
        width: 550px
        height: 413px

#mailer-footer
  border-top: 3px #fff solid
  height: 60px
  background: $darkBlue
  color: #33c
  font-size: 16px
  line-height: 60px
  text-align: right
  padding: 0 25px
  i
    font-style: normal
    margin: 0 8px
  a
    text-decoration: none
    color: #77f
  strong
    text-transform: uppercase
    color: #ccf
