---
http_interactions:
- request:
    method: get
    uri: https://www.google.com/maps?%2BSpruce,%201531%2BMelrose%2BAvenue%2BSeattle,%2BWA,%2B98122&output=json&q=Sitka%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: 'while(1);{title:"Sitka - Google Maps",url:"/maps?q=Sitka+\x26ie=UTF8\x26hq=\x26hnear=Sitka,+Alaska",urlViewport:false,ei:"ecwIVamxCqiYigL_h4GgCA",form:{selected:"q",q:{q:"Sitka",what:"",near:""},d:{saddr:"",daddr:""},geocode:""},query:{type:"g"},viewport:{center:{lat:57.053055999999998,lng:-135.33000000000001},span:{lat:1.896663,lng:2.2281049999999998},mapType:"",source:0},modules:["","strr","pphover","act_s","appiw","rst"],o[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1531%20Melrose%20Avenue%20Seattle,%20WA,%2098122&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1531",
                       "short_name" : "1531",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Melrose Avenue",
                       "short_name" : "Melrose Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Capitol Hill",
                       "short_name" : "Capitol Hill",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                   [...]
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=47.6147749&lng=-122.3281061&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2015-03-18 07:16","lng":-122.3281061,"countryCode":"US","gmtOffset":-8,"rawOffset":-8,"sunset":"2015-03-18
        19:19","timezoneId":"America/Los_Angeles","dstOffset":-7,"countryName":"United
        States","time":"2015-03-18 09:51","lat":47.6147749}'
  recorded_at: Wed, 18 Mar 2015 16:51:57 GMT
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?%20Spruce&client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&near=1531%20Melrose%20Avenue%20Seattle,%20WA,%2098122&query=Sitka%20&v=20150318&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '514'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"response":{"geocode":{"what":"","where":"1531
        Melrose Avenue Seattle, WA, 98122","center":{"lat":47.61415,"lng":-122.32801},"displayString":"1531
        Melrose Ave","cc":"US"},"warning":{"text":"There aren''t a lot of results
        for \"Sitka.\" Try something more general, reset your filters, or expand the
        search area."},"headerLocation":"Current map view","headerFullLocation":"Current
        map view","headerLocationGranularity":"unknown","query":"sitka","totalResults":3,"suggestedBounds":{"ne":{"lat":47.615461861368,"lng":-122.32782245514814},"sw":{"lat":47.5985861446054,"lng":-122.33307044188966}},"groups":[{"type":"Recommended
        Places","name":"recommended","items":[{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"49f79137f964a520b66c1fe3","name":"Sitka
        and Spruce","contact":{"phone":"2063240662","formattedPhone":"(206) 324-0662"},"location":{"address":"1531
        Melrose Ave","lat":47.614694783333334,"lng":-122.328347,"postalCode":"98122","cc":"US","city":"Seattle","state":"WA","country":"United
        States","formattedAddress":["1531 Melrose Ave","Seattle, WA 98122","United
        States"]},"categories":[{"id":"4bf58dd8d48988d157941735","name":"New American
        Restaurant","pluralName":"New American Restaurants","shortName":"New American","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/food\/newamerican_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":3381,"usersCount":2435,"tipCount":61},"url":"http:\/\/www.sitkaandspruce.com","price":{"tier":3,"message":"Expensive","currency":"$"},"hasMenu":true,"rating":9.3,"ratingColor":"00B551","ratingSignals":131,"reservations":{"url":"http:\/\/www.opentable.com\/single.aspx?rid=124504&ref=9601"},"menu":{"type":"Menu","label":"Menu","anchor":"View
        Menu","url":"https:\/\/foursquare.com\/v\/sitka-and-spruce\/49f79137f964a520b66c1fe3\/menu","mobileUrl":"https:\/\/foursquare.com\/v\/49f79137f964a520b66c1fe3\/device_menu"},"hours":{"status":"Closed
        until 11:30 AM","isOpen":false},"specials":{"count":0,"items":[]},"photos":{"count":285,"groups":[{"type":"venue","name":"Venue
        photos","count":285,"items":[{"id":"4f6cd478e4b0a4e20f081cc6","createdAt":1332532344,"prefix":"https:\/\/irs1.4sqi.net\/img\/general\/","suffix":"\/6K2v9P0xS5Ji5ABpnH8ym-pZ5Mtb_4e0YaUwG4XzBDw.jpg","width":612,"height":612,"user":{"id":"7162952","firstName":"Kayvon","lastName":"Tehranian","gender":"male","photo":{"prefix":"https:\/\/irs0.4sqi.net\/img\/user\/","suffix":"\/NCYNDPR3U2ZZCYWR.jpg"}},"visibility":"public"}]}]},"hereNow":{"count":0,"summary":"Nobody
        here","groups":[]},"featuredPhotos":{"count":1,"items":[{"id":"4f6cd478e4b0a4e20f081cc6","createdAt":1332532344,"prefix":"https:\/\/irs1.4sqi.net\/img\/general\/","suffix":"\/6K2v9P0xS5Ji5ABpnH8ym-pZ5Mtb_4e0YaUwG4XzBDw.jpg","width":612,"height":612,"user":{"id":"7162952","firstName":"Kayvon","lastName":"Tehranian","gender":"male","photo":{"prefix":"https:\/\/irs0.4sqi.net\/img\/user\/","suffix":"\/NCYNDPR3U2ZZCYWR.jpg"}},"visibility":"public"}]}},"tips":[{"id":"4ce3239df4d78eecdc988ce5","createdAt":1289954205,"text":"Menus
        at Sitka and Spruce...typically list the farmer or fisherman who provided
        the food.","entities":[{"indices":[9,14],"type":"search_match"}],"type":"user","url":"http:\/\/www.seattlemet.com\/eat-and-drink\/articles\/best-restaurants-locavores\/","canonicalUrl":"https:\/\/foursquare.com\/item\/4ce3239df4d78eecdc988ce5","likes":{"count":10,"groups":[],"summary":"10
        likes"},"logView":true,"todo":{"count":7},"user":{"id":"1735640","firstName":"Seattle
        Met","gender":"none","photo":{"prefix":"https:\/\/irs0.4sqi.net\/img\/user\/","suffix":"\/ETEB5GKPTD24MQ40.jpg"}}}],"referralId":"e-0-49f79137f964a520b66c1fe3-0"},{"reasons":{"count":0,"items":[{"summary":"This
        spot is popular","type":"general","reasonName":"globalInteractionReason"}]},"venue":{"id":"4b873232f964a520d5b531e3","name":"Melrose
        Market","contact":{"phone":"2065682666","formattedPhone":"(206) 568-2666"},"location":{"address":"1501-1535
        Melrose Avenue","crossStreet":"btw Pike & Pine","lat":47.6146924495697,"lng":-122.328061,"postalCode":"98122","cc":"US","city":"Seattle","state":"WA","country":"United
        States","formattedAddress":["1501-1535 Melrose Avenue (btw Pike & Pine)","Seattle,
        WA 98122","United States"]},"categories":[{"id":"50be8ee891d4fa8dcc7199a7","name":"Market","pluralName":"Markets","shortName":"Market","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/shops\/market_","suffix":".png"},"primary":true}],"verified":false[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/49f79137f964a520b66c1fe3?client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&v=20150318
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '95'
      X-Ratelimit-Limit:
      - '5000'
 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=47.614694783333334,-122.328347&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
         [...]
[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?%20Spruce&client_id=O4DVODVMFR3JT0H35DXYXCT5O4TEB0AESQKPI3N204ZCJ21U&client_secret=DXCS3CPUYRSHKYK0TV3SVBPDH53X2CR4JTJMKFD0NVI13QKF&near=WA,%20%2098122&query=Sitka%20&v=20150318&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '135'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"response":{"geocode":{"what":"","where":"wa 98122","center":{"lat":47.6116,"lng":-122.3056},"displayString":"98122,
        WA, United States","cc":"US","geometry":{"bounds":{"ne":{"lat":47.626242999999995,"lng":-122.26353499999999},"sw":{"lat":47.599996999999995,"lng":-122.328543}}},"longId":"162411061581255234"},"warning":{"text":"There
        aren''t a lot of results for \"Sitka.\" Try something more general, reset
        your filters, or expand the search area."},"headerLocation":"Current map view","headerFullLocation":"Current
        map view","headerLocationGranularity":"unknown","query":"sitka","totalResults":3,"suggestedBounds":{"ne":{"lat":47.615461861368,"lng":-122.32782245514814},"sw":{"lat":47.5985861446054,"lng":-122.33307044188966}},"groups":[{"type":"Recommended
   [...]
