---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=37.0625&lng=-95.677068&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"2015-01-26 18:22","countryName":"United States","sunset":"2015-01-27
        17:42","rawOffset":-6,"dstOffset":-5,"countryCode":"US","gmtOffset":-6,"lng":-95.677068,"sunrise":"2015-01-27
        07:29","timezoneId":"America/Chicago","lat":37.0625}'
  recorded_at: Tue, 27 Jan 2015 00:22:10 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=37.0625,-95.677068&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "County Road 4300",
                       "short_name" : "County Rd 4300",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Coffeyville",
                       "short_name" : "Coffeyville",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Montgomery County",
                       "short_name" : "Montgomery County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Kansas",
                       "short_name" : "KS",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "67337",
                       "short_name" : "67337",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "County Road 4300, Coffeyville, KS 67337, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 37.06260770000001,
                          "lng" : -95.6744281
                       },
                       "southwest" : {
                          "lat" : 37.0582079,
                          "lng" : -95.67447629999999
                       }
                    },
                    "location" : {
                       "lat" : 37.0604079,
                       "lng" : -95.67445699999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.06260770000001,
                          "lng" : -95.67310321970849
                       },
                       "southwest" : {
                          "lat" : 37.0582079,
                          "lng" : -95.6758011802915
                       }
                    }
                 },
                 "types" : [ "route" ]
              },
              {
                 "address_components" : [
        [...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/explore?ll=37.0625,-95.677068&oauth_token=MLVKPP02MXONRZ1AJO0XAXIE4WCWSKUOIFPPQCERTNTQBXZR&query=Contigo&v=20140819&venuePhotos=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '90'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '495'
      X-Ex:
      - fastly_cdn
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"notifications":[{"type":"notificationTray","item":{"unreadCount":63}}],"response":{"fallbackCategory":{"target":{"type":"path","url":"\/venue\/explore","params":{"query":"Contigo","ll":"37.062500,-95.677068","radius":"10000"}},"refinements":[{"query":"food"}]},"warning":{"text":"There
        aren''t a lot of results for \"Contigo.\" Try something more general, reset
        your filters, or expand the search area."},"suggestedRadius":30000,"headerLocation":"Current
        map view","headerFullLocation":"Current map view","headerLocationGranularity":"unknown","query":"contigo","totalResults":0,"groups":[{"type":"Recommended
        Places","name":"recommended","items":[]}]}}'
  recorded_at: Tue, 27 Jan 2015 00:22:10 GMT
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=37.0625&lng=-95.677068&username=sashafklein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2015-01-27 07:29","lng":-95.677068,"countryCode":"US","gmtOffset":-6,"rawOffset":-6,"sunset":"2015-01-27
        17:42","timezoneId":"America/Chicago","dstOffset":-5,"countryName":"United
        States","time":"2015-01-26 18:22","lat":37.0625}'
  recorded_at: Tue, 27 Jan 2015 00:22:11 GMT
recorded_with: VCR 2.9.3
