- if current_user_is_active
  - if !fullscreen?(page_type)
    #footer-spacing.except-landscape
  #planit-footer.except-landscape

    .footer-container.large-screen{ class: page_type, ng_hide: '$root.mapExpanded' }
      = render 'statics/legal_info' unless page_type == 'legal_support'

    .footer-container.mobile{ class: page_type }
      - if current_user_is_active
        .bottom-nav-bar= render 'application/nav_bar', { page_type: page_type, current_user: current_user }
