- if current_user_is_active
  - if browser.mobile? # if !fullscreen?(page_type)
    #footer-spacing.except-landscape
  #planit-footer.except-landscape.mobile
    
    .footer-container.mobile
      .bottom-nav-bar{ ng_controller: 'NavBarCtrl' }= render 'application/nav_bar', { page_type: page_type, current_user: current_user }

    / - if browser.mobile?
    
    /   .footer-container.mobile
    /     .bottom-nav-bar{ ng_controller: 'NavBarCtrl' }= render 'application/nav_bar', { page_type: page_type, current_user: current_user }
      
    / - else
  
    /   .footer-container.large-screen{ ng_hide: '$root.mapExpanded' }
    /     = render 'statics/legal_info' unless page_type == 'legal_support'