.nav-item.nav-item-inbox{ class: "#{'selected' if page_type == 'inbox'} #{'disabled' unless current_user.message_count > 0 }"}
  %i.nav-item-icon.fa.fa-inbox
    - if current_user.message_count > 0 && page_type != 'inbox'
      %span.inbox-count= current_user.message_count
  .nav-item-hint
    %span MY INBOX
