- title('Edit Your Plan')
- set_page_type('edit')

.container.plans-edit{ ng_controller: 'Plans.EditCtrl', ng_init: "getPlan(#{@plan.id})"}
  .left-pane.pane.six.columns
    .item{ ng_repeat: 'item in manifestItems' }
      %h4 {{ item.mark.place.name() }}
      %p {{ item.mark.place.localeDetails() }}

  .right-pane.pane.ten.columns
    .item{ ng_repeat: 'item in items' } 
      %h4 {{ item.mark.place.name() }}
      %p {{ item.mark.place.localeDetails() }}