- set_page_type('home')

#plan-and-list-page

  %single_page_plans
  - include_templates :single_page_plans, :plan_map, :bucket_list_places, :bucket_list_clusters, :place_control_bar, :cluster_control_bar