.topbar
  .logo= "()"
  .title
    Plan > LegName > Day #
  .current
    LegName / Day / Item
  .settings

.content
  .plan
    .overview-map
    .day-numbers
      1 | 2 | 3 | 4 | 5 | 6
    - @plan.legs.each_with_index do |leg, index|
      .leg
        .leg-map
        .day-numbers
          1 | 2 | 3 
        .day
          .day-map
          .item-list
            .item

  .cheat-sheets
    .travel
      .item
    .accomodation
    .relax
    .food-drink
    .sights

/ SWIPE = next?
