.exit-view
  %a{href: "#"} Exit Import View

.yml-creator{ ng_controller: 'Plans.NewCtrl' }

  .input
    %input{ type: "text", name: "baselocation", id: "baselocation", placeholder: "Enter a locale", ng_model: 'locale', ng_on_enter_key: 'search()' }
    %input{ type: "text", name: "query", id: "query", placeholder: "Enter a destination", ng_model: 'destination', ng_on_enter_key: 'search()'}
    %button{ id: "search", ng_click: 'search()' } Search
    %br
    %textarea{ ng_model: 'csv'}
    %button{ ng_click: 'batchFetch()' } Batch Fetch
    
  .output
    %textarea{ id: "result", style: "height: 200px", ng_bind: 'output'}
    %textarea{ id: "response-in-full", style: "height: 200px", ng_bind: 'outputfull'}
    %img{ src: image_path("blank.png"), id: "photo", ng_src: '{{photo}}', style: "position:fixed; top:50px; right:50px" }
