#new-plan-page

  = render 'show/header', { :background => 'black', :color => 'white', :start => '', :page_type => 'new', :title => ['create new','plan'] }

  .add-new-wrap
    .container
      .six.columns.add-new-form
        .add-new-input.section
          %i.fa.fa-paper-plane.new-plan-icon
          %input{ placeholder: 'Plan Name'}
        %hr.divider
        .add-new-input.section
          %i.fa.fa-level-down.new-plan-icon
          %input{ placeholder: 'Arriving to Where? (Optional)'}
        .add-new-input.section
          %i.fa.fa-level-up.new-plan-icon
          %input{ placeholder: 'Departing from Where? (Optional)'}
        %hr.divider
        .add-new-input.section
          %i.fa.fa-calendar.new-plan-icon
          %input{ placeholder: 'Start Date? (Optional)'}
        .add-new-input.section
          %i.fa.fa-suitcase.new-plan-icon
          %input{ placeholder: 'Days? (Optional Trip Length)'}
        %hr.divider
        .add-new-input.section
          %i.fa.fa-unlock-alt.new-plan-icon
          %select.on-off-button.off
            %option{ :value => "public", :selected => 'selected' }= "Public (Default)"
            %option{ :value => "private" }= "Private"
        %hr.divider
          .mobile
            .click-for-more
              %i.fa.fa-caret-down
              Import Places or Plans
        .add-new-submit.disabled
          Create Plan
        .mobile
          %hr.divider

      .ten.columns
        .import-bucket
          Imported Items/Plans would display here?