- title( @plan.name )
- set_page_type( 'print' )

#print-page

  // ESCAPE VIEW
  %a.exit-view{ href: plan_path( @plan.id ), target: '_self' }
    .fa.fa-arrow-circle-left{ style: "padding-right: 10px; padding-left: 3px"} 
    Exit Print View

  // CONTROLS & PRINT CONTENT
  %print_view_controller{ plan_id: "#{ @plan.id }" }
