%a.dropdown-toggle.filter-dropdown{ "data-toggle" => "dropdown", :href => "#" }
  .filter-button
    %i.filter-or-number.fa.fa-sliders.fa-lg#number_filtered
    %i.fa.fa-caret-down 
%ul.dropdown-menu.dropdown-menu-left.filter-dropdown-menu
  %li.filter-dropdown-menu
    .apply-filters Apply Filters:
    .clear-all-filters
      Clear All Filters
      %b ×
  %li.divider.nearby-user-location
  %li.filter-dropdown-menu.nearby-user-location
    %label
      %input#nearby.filter-dropdown-menu-nearby{:disabled => "true", :type => "checkbox"}
        Nearby
        %i.filter-dropdown-menu-icon.fa.fa-compass
  %li.divider
  %li.filter-dropdown-menu
    %label
      %input#loved.filter-dropdown-menu-checkbox{:type => "checkbox"}
        Only Most Loved
        %i.filter-dropdown-menu-icon.fa.fa-heart
  %li.filter-dropdown-menu
    %label
      %input#hide-been.filter-dropdown-menu-checkbox{:type => "checkbox"}
        Hide Already Visited
        %i.filter-dropdown-menu-icon.fa.fa-check-square
  %li.divider
  %li.filter-dropdown-menu
    %label
      %input#food.filter-dropdown-menu-checkbox{:type => "checkbox"}
        Food  Markets
        %i.filter-dropdown-menu-icon.icon-local-restaurant
  %li.filter-dropdown-menu
    %label
      %input#drink.filter-dropdown-menu-checkbox{:type => "checkbox"}
        Drink  Nightlife
        %i.filter-dropdown-menu-icon.icon-local-bar
  %li.filter-dropdown-menu
    %label
      %input#seedo.filter-dropdown-menu-checkbox{:type => "checkbox"}
        See  Do
        %i.filter-dropdown-menu-icon.icon-directions-walk
  %li.filter-dropdown-menu
    %label
      %input#stay.filter-dropdown-menu-checkbox{:type => "checkbox"}
        Stay
        %i.filter-dropdown-menu-icon.icon-home
  %li.filter-dropdown-menu
    %label
      %input#relax.filter-dropdown-menu-checkbox{:type => "checkbox"}
        Relax
        %i.filter-dropdown-menu-icon.icon-drink
  %li.filter-dropdown-menu
    %label
      %input#other.filter-dropdown-menu-checkbox{:type => "checkbox"}
        Other
        %i.filter-dropdown-menu-icon.fa.fa-question
  %li.divider
  %li.filter-dropdown-menu
    %label
      %input#open.filter-dropdown-menu-checkbox{:type => "checkbox"}
        Open
        %i.filter-dropdown-menu-icon.fa.fa-clock-o
  %li.filter-dropdown-menu
    %label
      %input#wifi.filter-dropdown-menu-checkbox{:type => "checkbox"}
        Wifi
        %i.filter-dropdown-menu-icon.fa.fa-wifi