!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag :mailer, media: "all"
  %body
    = render "mailer/header"
    #mailer-wrapper= yield
    = render "mailer/footer"